.images {
    z-index: 1;
    width: 85px;
    height: 85px;
    flex-grow: 0;
    display: block;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.image {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 85px;
    height: 85px;
    position: absolute;

    img {
        object-fit: cover;
    }
}

.labelCount {
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 5px;
    position: absolute;
    color: var(--t-background);
    border-radius: 8px 0 8px 0;
    background-color: var(--c-_dark-lines);
}