@import "../../mixins/helpers/media";

.catalog {
    display: flex;
    flex-direction: column;

    @include media-breakpoint(md-up) {
        align-items: center;
        flex-direction: row;
    }
}

.catalogImage {
    position: relative;

    > *:last-child {
        left: 26px;
        bottom: 23px;
        position: absolute!important;
    }

    @include media-breakpoint(md-up) {
        > *:last-child {
            left: auto;
            right: 12px;
            bottom: 23px;
        }
    }
}

.catalogText {
    max-width: 300px;
}