@import "../../mixins/helpers/media";

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title {
    flex-basis: 100%;
}

.country {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image {
    margin: calc(var(--spacing) * 3) 0 var(--spacing);

    @include media-breakpoint(md-up) {
        top: 0;
        margin: 0;
        right: 50px;
        transition: .5s;
        position: absolute;
        transform-origin: center right;
    
        &[data-position="scrollbar"] {
            opacity: 0;
            transform: scale(0.18);
            right: calc(var(--spacing) * -2);
        }

    }
}