@import "../../mixins/helpers/media";

.container {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    position: relative;
    padding-top: var(--spacing);
    justify-content: flex-start;
}

.historyInfo {
    z-index: 2;
    max-width: 250px;
    position: relative;
}

.historyContainer {
    overflow: hidden;
    position: relative;
    min-height: calc(85vh - 5em);
    width: calc(100% - var(--spacing));
    background-color: var(--t-background);
}

.historyWrapper {
    bottom: 0;
    left: -300px;
    right: -300px;
    height: 120vh;
    transition: 1.4s;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transform-origin: bottom;
    background-color: var(--t-background);

    .historyImage {
        opacity: 0;
        transition: .5s;
        transition-delay: 1s;
    }

    &[data-active="true"] .historyImage {
        opacity: 1;
        transition: 0s;
        transition-delay: 0s;
    }
}

.historyInner {
    left: 300px;
    right: 300px;
    bottom: 1px;
    padding: 40px;
    transition: 1.4s;
    position: absolute;
    will-change: transform;
    transform-origin: bottom;
    top: calc(var(--spacing) * 7);
}

.historyImage {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: -20px;
    z-index: 1;
    user-select: none;
    position: absolute;

    >span {
        width: 100% !important;
        height: 100% !important;

        img {
            object-fit: cover;
        }
    }
}

.lines,
.lastLine {
    left: 50%;
    width: 1px;
    bottom: 1px;
    z-index: 10;
    height: 50vw;
    display: flex;
    overflow: visible;
    position: absolute;
    text-align: center;
    justify-content: center;
    transform-origin: bottom;
    background-color: var(--t-dark-violet);

    >* {
        width: 50px;
        display: block;
        white-space: nowrap;
        transition: .3s opacity;
    }

    &[data-active="false"] {
        align-items: flex-end;

        >* {
            margin-bottom: 22vw;
        }
    }


    &[data-active="true"] {
        background-color: var(--t-tetriary);

        >* {
            opacity: 0;
        }
    }

    &[data-active="move"] {
        align-items: flex-start;

        >* {
            margin-top: 22vw;
            margin-left: -50px;
            transform: rotate(90deg);
        }
    }

    @include media-breakpoint(xxxl) {
        &[data-active="false"] {
            >* {
                margin-bottom: 16vw;
            }
        }

        &[data-active="move"] {
            >* {
                margin-top: 26vw;
            }
        }
    }
}

.lines {
    transform: rotate(90deg);

    >* {
        margin-left: -30px;
        transform: rotate(-90deg);
    }
}

.lastLine {
    transform: rotate(-90deg);

    >* {
        margin-left: 30px;
        transform: rotate(90deg);
    }
}