.container {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    position: relative;
    padding-top: var(--spacing);
    justify-content: flex-start;
}

.title {

}
.historyInfo {
    z-index: 2;
    max-width: 250px;
    position: relative;
}

.historyContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: calc(85vh - 5em);
    background-color: var(--t-background);
}

.historyWrapper {
    top: 0px;
    bottom: 0px;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transform-origin: bottom;
    left: calc(var(--spacing) * -4);
    background-color: var(--t-background);
}

.historyInner {
    top: 0px;
    left: calc(var(--spacing) * 4);
    right: calc(var(--spacing) * 4);
    bottom: 0px;
    padding: 40px;
    // overflow: hidden;
    position: absolute;
    will-change: transform;
    transform-origin: bottom;
}

.historyImage {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 0px;
    z-index: 1;
    position: absolute;

    > span {
        width: 100%!important;
        height: 100%!important;

        img {
            object-fit: contain;
        }
    }
}

.lines {
    left: 50%;
    bottom: 0;
    width: 1px;
    z-index: 90;
    height: 100vw;
    overflow: visible;
    position: absolute;
    text-align: center;
    transform-origin: bottom;
    transform: rotate(-90deg);
    background-color: var(--t-dark-violet);
}