@import "../../mixins/helpers/media";

.title {
    width: 100%;
    display: flex;
    min-width: 100%;
    flex-basis: 100px;
    flex-direction: column;

    @include media-breakpoint(md-up) {
        flex-direction: row;
        // align-items: center;
    }
}

.wrapper {
    overflow: hidden;
    position: relative;
    height: calc(100vh - var(--spacing) * 4);
}

.inner {
    height: 100%;
    display: flex;
    padding: 0 30px;
}

.image {
    width: 30vmax;
    height: 30vmax;
    flex-shrink: 0;
    overflow: hidden;
    user-select: none;
    position: relative;
    margin-left: -30px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    &:nth-child(3n + 1) {
        top: 17vmax;
        margin-left: -13vmax;
    }

    &:nth-child(3n + 2) {
        top: 0vmax;
        margin-left: -13vmax;
    }

    &:nth-child(3n + 3) {
        top: 34vmax;
        margin-left: -30vmax;
    }

    &:first-child {
        opacity: 0;
        margin-left: -10vmax;
    }

    * {
        user-select: none;
    }

    img {
        pointer-events: none;
    }

    @include media-breakpoint(md-up) {
        width: 15vmax;
        height: 15vmax;

        &:nth-child(3n + 1) {
            top: 10vmax;
            margin-left: -6vmax;
        }

        &:nth-child(3n + 2) {
            top: 1vmax;
            margin-left: -6vmax;
        }

        &:nth-child(3n + 3) {
            top: 19vmax;
            margin-left: -15vmax;
        }

        &:first-child {
            opacity: 0;
            margin-left: 0vmax;
        }
    }
}

.allMedia {
    width: 21vmax;
    display: flex;
    flex-shrink: 0;
    height: 21vmax;
    clip-path: none;
    overflow: hidden;
    user-select: none;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--c-yellow);
    transform: rotate(45deg) translate(50px, 0px);

    >div {
        transform: rotate(-45deg);
    }

    @include media-breakpoint(md-up) {
        width: 10vmax;
        height: 10vmax;
        transition: .3s;
        border: 2px solid var(--c-light-gray);
        transform: rotate(45deg) translate(60px, 0px);

        &:hover {
            border-color: var(--c-yellow);
        }
    }
}

.background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    // background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 10%, rgba(245,245,245,0) 50%, rgba(245,245,245,0) 90%, rgba(245,245,245,1) 100%);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.imageNew {
    margin: 30px 0;

    &:nth-child(2n + 1) {
        margin: 30px;
    }
}