.container {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    position: relative;
    padding-top: var(--spacing);
    justify-content: flex-start;
}

.historyInfo {
    z-index: 2;
    max-width: 250px;
    position: relative;
}

.historyContainer {
    overflow: hidden;
    position: relative;
    min-height: calc(85vh - 5em);
    width: calc(100% - var(--spacing));
    background-color: var(--t-background);
}

.historyWrapper {
    left: -300px;
    right: -300px;
    bottom: 0;
    height: 120vh;
    transition: 1.4s;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transform-origin: bottom;
    background-color: var(--t-background);
}

.historyInner {
    left: 300px;
    right: 300px;
    bottom: 1px;
    padding: 40px;
    transition: 1.4s;
    position: absolute;
    will-change: transform;
    transform-origin: bottom;
    top: calc(var(--spacing) * 7);
}

.historyImage {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 0px;
    z-index:  1;
    user-select: none;
    position: absolute;

    >span {
        width: 100% !important;
        height: 100% !important;

        img {
            object-fit: contain;
        }
    }
}

.lines, .lastLine {
    left: 50%;
    width: 1px;
    bottom: 1px;
    z-index: 10;
    height: 50vw;
    display: flex;
    overflow: visible;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform-origin: bottom;
    background-color: var(--t-dark-violet);
    
    > * {
        display: block;
        margin-top: -18vw;
        white-space: nowrap;
        transition: .3s opacity;
    }

    &[data-active="true"] {
        background-color: var(--t-tetriary);
        > * { opacity: 0; }
    }

    &[data-active="move"] {
        > * {
            margin-left: -50px;
            transform: rotate(90deg);
        }
    }
}

.lines {
    transform: rotate(90deg);

    > * {
        margin-left: -30px;
        transform: rotate(-90deg);
    }
}

.lastLine {
    transform: rotate(-90deg);

    > * {
        margin-left: 30px;
        transform: rotate(90deg);
    }
}