.info {
    width: 100%;
    display: flex;
    align-items: center;

    > span {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.delim {
    width: 100%;
    margin: 0 30px;
    position: relative;

    &::after,
    &::before {
        width: 50%;
        content: '';
        height: 2px;
        position: absolute;
        background-color: var(--t-dark-violet);
    }

    &::after {
        right: 0;
        transform: translateY(-1px);
    }

    &::before {
        left: 0;
        transform: translateY(1px);
    }
}

.documentWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 660px;
}

.document {
    display: flex;
    padding: 16px 22px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 60px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #B1BBC740;

    > span { margin-left: 10px; }
}