@import '../../mixins/helpers/media';

.brandSearch {
    border-radius: 4px;
    background-color: var(--t-background);
}

.search {
    transition: .3s;
    color: var(--t-text);

    @include media-breakpoint(lg-up) {
        margin-bottom: 40px;
        transition: .3s transform;
    }
}

.searchIcon {
    opacity: 0;
    right: 16px;
    transition: 0s;
    cursor: pointer;
    position: absolute;
    pointer-events: none;

    &:hover {
        color: var(--t-primary);
    }
}

.brandLetters {
    width: 100%;
    display: none;
    padding: 14px 10px;
    justify-content: center;
    transition: .3s transform;

    &[data-value='true'] {
        display: none;
    }

    >* {
        padding: 10px;
        display: block;

        &:last-child {
            margin-right: 0;
        }
    }

    @include media-breakpoint(lg-up) {
        display: flex;
    }
}

.brandSearchFixed {
    z-index: 2;
    height: 74px;
    box-shadow: 0px 4px 10px 0px #0000001A;

    .brandLetters {
        margin-top: 0;
        transform: translateY(-30px);
    }

    .search {
        margin: 0 16px;
        transform: translateY(20px);
    }

    .searchIcon {
        opacity: 1;
        transition: .3s;
        pointer-events: all;
    }

    @include media-breakpoint(lg-up) {
        .search {
            opacity: 0;
            margin: 0 26px;
            transition: .3s;
            margin-bottom: 0;
            pointer-events: none;
            transform: translateY(25px);
        }
    }
}

.searchChildren {
    margin-top: 40px;

    &[data-value='true'] {
        .brandsLine {
            display: block;
            max-width: none;
            margin-bottom: 0;
        }

        .letter {
            display: none;
        }

        .brand {
            display: block;
            margin-bottom: 16px;
        }
    }

    @include media-breakpoint(lg-up) {
        margin-top: 0;
    }
}

.brandsLine {
    width: 100%;
    max-width: 1192px;
    margin-bottom: 30px;
    display: inline-block;
}

.brand {
    cursor: pointer;
    margin-right: 32px;
    display: inline-block;
    transition: .3s color;

    &:hover {
        color: var(--t-primary);
    }
}

.empty {
    display: none;

    &[data-empty='true'] {
        display: block;
    }
}