@import "../../mixins/helpers/media";

.brandListWrapper {
    max-height: 100vh;
    margin: 0 calc(var(--spacing) * -1);
    padding: calc(var(--spacing) * 1.2) var(--spacing) 0;

    @include media-breakpoint(sm-down) {
        overflow: hidden;
        height: -webkit-fill-available;
    }
}

.brandListNav {
    z-index: 2;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;

    @include media-breakpoint(md-up) {
        padding: 0 calc(var(--spacing) / 1.6);
    }
}

.brandList {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row-gap: 16px;
    grid-column-gap: 0px;
    grid-template-columns: 0px 1fr;
    grid-template-areas:
        "empty title title"
        "scroll tag tag"
        "scroll content content";

    @include media-breakpoint(md-up) {
        grid-row-gap: 28px;
        grid-column-gap: 52px;
        grid-template-columns: 80px 1fr;
        grid-template-rows: 60px 80px 1fr;
    }
}

.brandListTitle {
    z-index: 2;
    grid-area: title;
    position: relative;
    transform-origin: left;
    padding: 225px 0 0;

    @include media-breakpoint(md-up) {
        padding: calc(var(--spacing) / 2) 0;
    }
}

.brandListTagsContainer {
    z-index: 2;
    height: 60px;
    display: flex;
    grid-area: tag;
    overflow: hidden;
    max-height: 60px;
    position: relative;
    align-items: center;
    padding-left: var(--spacing);
    margin-left: calc(var(--spacing) * -1);
    width: calc(100% + var(--spacing) * 3);

    @include media-breakpoint(md-up) {
        margin-left: 0;
        padding-left: 0;
        border-radius: 60px 0 0 60px;
        width: calc(100% + var(--spacing));
    }
}

.brandListTagRemote {
    z-index: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-size: 24px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/img/icons/icon-left.svg');
    box-shadow: 0px 4px 4px 0px #B1BBC740, -5px 0px 0px -1px var(--c-white);

}

.brandListTagsInner {
    display: flex;
    align-items: center;
}

.brandListTag {
    display: flex;
    transition: .2s;
    user-select: none;
    padding: 10px 20px;
    position: relative;
    margin-right: 12px;
    align-items: center;
    white-space: nowrap;
    border-radius: 70px;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #B1BBC740;

    span {
        transition: .2s;
    }

    &:last-child {
        margin-right: 0;
    }

    &[data-active="true"] {
        color: white;
        padding-right: 60px;
        background-color: var(--t-dark-violet);

        .brandListTagClose {
            opacity: 1;
            transform: scale(1);
        }

    }

    &[data-active="false"]:hover {
        color: var(--t-primary);
        box-shadow: 0px 4px 4px 0px #8712FC26;
    }

    &[data-active="true"]:hover {
        transform: scaleY(1.1);

        span {
            transform: scaleY(0.9);
        }
    }
}

.brandListTagClose {
    top: 0;
    bottom: 0;
    opacity: 0;
    right: 20px;
    width: 24px;
    position: absolute;
    transform: scale(0);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/img/icons/icon-success.svg');
}

.brandListSlider {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    min-height: calc(100vh - 40px - var(--spacing) * 3);
    max-height: calc(100vh - 40px - var(--spacing) * 3);

    @include media-breakpoint(md-up) {
        opacity: 1;
        height: 100%;
        display: flex;
        grid-area: scroll;
        position: relative;
        align-items: center;
        pointer-events: all;
        flex-direction: column;

        &[data-active="true"] {
            .brandListSliderArrow {
                opacity: 0;
            }

            .brandListSliderLine {
                height: calc(100vh - 40px - var(--spacing) * 3);
            }
        }
    }
}

.brandListSliderItem {
    z-index: 2;
    width: 60px;
    height: 60px;
    display: flex;
    font-weight: 600;
    user-select: none;
    position: relative;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #B1BBC740;
}

.brandListSliderArrow {
    transition: .4s;
    margin-top: 30px;

    g {
        animation: lightning 2s infinite;

        &:nth-child(1) {
            animation-delay: 0.0s;
        }

        &:nth-child(2) {
            animation-delay: 0.3s;
        }

        &:nth-child(3) {
            animation-delay: 0.6s;
        }
    }


}

@keyframes lightning {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1.0;
    }
}

.brandListSliderLine {
    width: 0;
    height: 0;
    z-index: 1;
    transition: .5s;
    position: absolute;
    border: 2px solid #DADFEA;
}

.brandListSliderContent {
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    grid-area: content;
}

.brandListSliderContentInner {
    display: flex;
    padding-top: 32px;
    flex-direction: column;

    @include media-breakpoint(md-up) {
        padding-top: 16px;
    }
}

.brandListSliderContentItem {
    width: 100%;
    height: 52px;
    display: grid;
    grid-gap: 30px;
    overflow: hidden;
    max-width: 1000px;
    position: relative;
    transition: .4s .2s;
    grid-template-rows: 1fr 52px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "image empty"
        "title title"
        "text text";

    &[data-active="false"] {
        .brandListSliderContentItemLink {
            font-size: 3.6rem;
            pointer-events: none;
        }
    }

    &[data-active="true"] {
        width: 100%;
        height: 50vh;
        padding: 50px 0;
        transition-delay: 1.2s;

        .brandListSliderContentItemTitle {
            opacity: 0;
            font-size: 3.6rem;
            pointer-events: none;
            color: var(--t-primary);
            transition: 0s opacity 1.2s, 0s font-size 1.2s;
        }

        .brandListSliderContentItemImage {
            opacity: 1;
            transition: .2s;
            transition-delay: 1.2s;
        }

        .brandListSliderContentItemText {
            opacity: 1;
            transition: .2s .5s;
        }

        .brandListSliderContentItemLink {
            opacity: 1;
            font-size: 3.6rem;
            transition-delay: 1.2s;
        }
    }

    @include media-breakpoint (md-up) {
        width: 50%;
        height: 70px;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
            "title image"
            "text image";

        &[data-active="true"] {
            width: 100%;
            height: 290px;
            padding: 50px 0;
            transition-delay: 0s;

            .brandListSliderContentItemImage {
                opacity: 1;
                transition: .2s;
                transition-delay: .5s;
            }

            .brandListSliderContentItemTitle {
                font-size: 5.6rem;
                transition-delay: 0s;
            }

            .brandListSliderContentItemLink {
                font-size: 5.6rem;
                transition-delay: 0s;
            }
        }
    }
}

.brandListSliderContentItemLink {
    opacity: 0;
    display: flex;
    transition: .2s;
    grid-area: title;
    align-items: center;
    white-space: nowrap;

    svg {
        transition: .2s;
        margin-left: 20px;
    }

    &:hover {
        color: var(--t-primary);
    }
}

.brandListSliderContentItemTitle {
    opacity: 1;
    transition: .2s;
    color: #6C7996;
    grid-area: title;
    margin-top: -126px;
    white-space: nowrap;

    @include media-breakpoint (md-up) {
        margin-top: 0;
    }
}

.brandListSliderContentItemText {
    opacity: 0;
    grid-area: text;
    transition: .1s;
}

.brandListSliderContentItemImage {
    opacity: 0;
    transition: .1s;
    grid-area: image;
    min-width: 116px;
    min-height: 116px;
    align-self: center;
    justify-self: center;

    >span {
        min-width: 116px;
        min-height: 116px;
    }

    @include media-breakpoint (md-up) {
        min-width: 240px;
        min-height: 240px;

        >span {
            min-width: 240px;
            min-height: 240px;
        }
    }
}

.kaleidoscope {
    position: fixed;
    top: calc(-234px + var(--spacing) * 2);
    right: calc(-153px - var(--spacing) * 2);

    @include media-breakpoint (md-up) {
        top: auto;
        bottom: -450px;
    }

    &[data-blur="true"] {
        filter: blur(4px);
    }
}

.filterBlock {
    z-index: 1;
    width: 100%;
    opacity: 0.1;
    position: fixed;
    pointer-events: none;
    background-color: var(--c-white);

    @include media-breakpoint(md-up) {
        opacity: 0.9;
    }
}