@import "/styles/mixins/helpers/media";

.values {
    margin: 16px 0;

    .colorIcon {
        span {
            border-radius: 4px;
        }

        div {
            transform: translate(-3px, 1px);
            // text-transform: uppercase;
        }
    }
}

.volumePicker {
    display: flex;
    flex-wrap: wrap;

    >* {
        display: none;
        margin-right: 6px;
        border-radius: 4px;
        padding: 5px 4px 4px;
        pointer-events: none;
        text-transform: uppercase;

        &[data-disabled='true'] {
            color: var(--c-_light-gray);
        }

        &[data-active='false'] {
            color: var(--c-_light-gray);
            background-color: transparent;
        }

        &:first-child {
            display: block;
            position: relative;
            color: var(--t-text);

            &::after {
                top: 0;
                right: -28px;
                min-width: 24px;
                text-align: center;
                position: absolute;
                border-radius: 4px;
                padding: 5px 4px 4px;
                pointer-events: none;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                content: var(--count-values);
                background-color: var(--c-_lightest);
            }
        }
    }

    @include media-breakpoint(xxl-up) {
        >* {
            display: block;

            &:first-child::after {
                display: none;
            }
        }
    }
}
