@import '../../../../styles/mixins/helpers/media';
@import '../../../../styles/mixins/helpers/adaptive-value';

.card {
    width: 100%;
    padding: 16px;
    transition: .3s;
    border-radius: 8px;
    position: relative;

    &[data-hover='true'] {
        z-index: 2;
        box-shadow: 0px 10px 30px 2px #69748633;

        .buyBtn {
            opacity: 1;
        }
    }

    @include media-breakpoint(lg-down) {
        box-shadow: none !important;
    }
}

.cardInline {
    width: 100%;
    display: grid;
    grid-gap: 8px;
    position: relative;
    grid-template-columns: 85px 1fr 170px;
    grid-column-gap: 16px;
    grid-template-areas:
        'image art price'
        'image title bonuses'
        'image text btn'
        'image colors btn';

    .title {
        padding: 0;
        grid-area: title;
        line-height: 16px;
        padding-bottom: 0;
        letter-spacing: 1.5px;
    }

    .text {
        grid-area: text;
        padding: 0;
        line-height: 21px;
        padding-bottom: 0px;
    }

    .buyBtn {
        margin: 0;
        opacity: 1;
        grid-area: btn;
        align-self: flex-start;
        justify-self: flex-end;

        >* {
            left: auto;
            right: auto;
            bottom: auto;
            width: 170px;
            height: 40px;
            margin-top: 0px;
            min-width: 170px;
            min-height: 40px;
            position: relative;
            
    
            div {
                height: 44px;
                min-height: 44px;
            }
        }
    }

    @include media-breakpoint(xl-down) {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
            'image art'
            'image title'
            'image text'
            'image colors'
            'image price'
            'image bonuses'
            'image btn';
    }

    @media screen and (max-width: 350px) {
        grid-template-columns: 1fr;
        grid-template-rows: 85px repeat(7, auto);
        grid-template-areas:
            'image'
            'art'
            'title'
            'text'
            'colors'
            'price'
            'bonuses'
            'btn';
    }
}

.cardCompact {
    width: 100%;
    transition: .3s;
    
    &[data-hover='true'] .cardInner {
        box-shadow: 0px 10px 30px 2px rgba(105, 116, 134, 0.20), 0px -5px 10px 0px rgba(127, 140, 160, 0.10);
    }
    
    .cardInner {
        z-index: 2;
        display: flex;
        padding: 16px;
        transition: .3s;
        position: relative;
        border-radius: 8px;
        background-color: var(--t-background);
    }

    @include media-breakpoint(lg-down) {
        position: relative;
        padding-right: 32px;
        
        .cardInner {
            padding: 12px;
            // border-top-right-radius: 0;
            box-shadow: none !important;
            // border-bottom-right-radius: 0;

            // &::after {
            //     top: 0;
            //     bottom: 0;
            //     opacity: 0;
            //     width: 12px;
            //     content: '';
            //     right: -10px;
            //     transition: .3s;
            //     position: absolute;
            //     pointer-events: none;
            //     border-top-right-radius: 16px;
            //     border-bottom-right-radius: 16px;
            //     background-color: var(--t-background);
            // }
        }
        
        &[data-open='true'] .cardInner {
            transform: translateX(var(--offset-controls));

            // &::after {
            //     opacity: 1;
            // }
        }
    }
}

.buyBtn {
    @include media-breakpoint(xl-up) {
        opacity: 0;
        transition: .3s;
    }
}