@import "/styles/mixins/helpers/media";
@import "/styles/mixins/helpers/adaptive-value";

.card {
    width: 100%;
    display: flex;
    transition: 0.3s;
    position: relative;
    border-radius: 8px;
    flex-direction: column;

    @media screen and (max-width: 320px) {
        .cardFooter {
            margin-top: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .buyBtn {
                width: 100%;
                margin-top: 6px;
                position: relative;
            }

            > * {
                height: auto;
                min-height: 0;
            }
        }
    }

    .buyBtn {
        left: 0;
        right: 0;
        bottom: 0;
        // display: flex;
        position: absolute;
        // justify-content: flex-end;
    }
}

.cardCreative {
    padding: 0;
    width: 100%;
    display: flex;
    margin: 0 20px;
    transition: 0.3s;
    position: relative;
    border-radius: 8px;
    flex-direction: column;
    margin: adaptive-value(
        (
            xs: 0 0 60px,
            md: 0 16px 48px,
            lg: 0 12px 48px,
            xl: 0 16px 48px,
            xxl: 0 24px 48px,
            xxxl: 0 20px 70px
        )
    );
    width: adaptive-value(
        (
            xs: 100%,
            md: calc(50% - 32px),
            lg: calc(25% - 24px),
            xl: calc(25% - 32px),
            xxl: calc(25% - 48px),
            xxxl: calc(20% - 40px)
        )
    );

    &[data-giant="true"] {
        width: adaptive-value(
            (
                xs: 100%,
                xl: calc(75% - 32px),
                xxl: calc(75% - 48px),
                xxxl: calc(60% - 40px)
            )
        );
    }

    div + .cardFooter {
        margin-top: 0px;
    }

    .cardCreativeBody {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @include media-breakpoint(xl) {
        &:nth-child(11n + 1) {
            width: 100%;

            a {
                width: calc(100vw / 1024 * 550);
            }

            .favourites {
                left: calc(100vw / 1024 * 505) !important;
            }
        }
    }

    @include media-breakpoint(lg-up) {
        &[data-giant="true"] {
            flex-direction: row;

            .cardCreativeBody {
                height: auto;
                display: block;
                padding: 0 24px;
            }

            .cardFooter {
                height: auto;
                flex-direction: column;
                align-items: flex-start;
            }

            .favourites {
                right: auto;
                left: adaptive-value(
                    (
                        lg: calc(100vw / 880 * 425),
                        xl: calc(100vw / 1024 * 335),
                        xxl: calc(100vw / 1256 * 430),
                        xxxl: 505px
                    )
                );
            }

            .buyBtn {
                margin-top: 32px;
                position: relative;
            }
        }
    }

    .buyBtn {
        left: 0;
        right: 0;
        bottom: 0;
        // display: flex;
        position: absolute;
        // justify-content: flex-end;
    }
}

.cardCompact {
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    position: relative;

    &[data-hover="true"] {
        z-index: 2;
    }

    &[data-hover="true"] .cardInner {
        box-shadow:
            0px 10px 30px 2px rgba(105, 116, 134, 0.2),
            0px -5px 10px 0px rgba(127, 140, 160, 0.1);

        &[data-offset="true"] {
            > div {
                transition-delay: 0s;
                transform: translateX(-110px);
                transition-timing-function: ease-out;
            }
        }
    }

    .cardInner {
        z-index: 2;
        height: 100%;
        display: flex;
        padding: 16px;
        transition: 0.3s;
        position: relative;
        border-radius: 8px;
        background-color: var(--t-background);

        > div {
            // transition-delay: .4s;
            transition-duration: 0.2s;
            transition-property: transform;
            transition-timing-function: ease-in;
        }
    }

    @include media-breakpoint(md-down) {
        position: relative;
        padding-right: 24px;

        .cardInner {
            padding: 12px 12px 12px 0;
            box-shadow: none !important;
        }

        &[data-open="true"] .cardInner {
            transform: translateX(var(--offset-controls));

            // &::after {
            //     opacity: 1;
            // }
        }
    }

    @media screen and (max-width: 320px) {
        .cardInner {
            display: grid;
            grid-gap: 8px;
            grid-template-columns: 44px 1fr;
            grid-template-areas:
                "image desc"
                "image price"
                "image button";

            > div:nth-child(1) {
                grid-area: image;
                transform: none !important;
            }
            > div:nth-child(2) {
                grid-area: desc;
                transform: none !important;
            }
            > div:nth-child(3) {
                display: flex;
                grid-area: price;
                text-align: left;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

.cardBasket {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint(xxl-up) {
        flex-wrap: nowrap;
    }
}

.cardFooter {
    height: 100%;
    display: flex;
    margin-top: 16px;
    position: relative;
    align-items: flex-end;
}

.card .favourites,
.cardCreative .favourites {
    top: 16px;
    z-index: 4;
    opacity: 0;
    right: 20px;
    transition: 0.3s;
    position: absolute;
}

.favourites {
    [data-hover="true"] & {
        opacity: 1;
    }

    @include media-breakpoint(md-down) {
        opacity: 1 !important;
    }
}
