.brandList {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 60px 80px 1fr;
    grid-template-areas:
        "empty title title"
        "scroll tag tag"
        "scroll content content";
}

.brandListTitle {
    grid-area: title;
}

.brandListTagsContainer {
    grid-area: tag;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    &::after, &::before {
        top: 0;
        right: 0;
        bottom: 0;
        width: 30%;
        z-index: 1;
        content: '';
        height: 100%;
        transition: .4s;
        position: absolute;
        pointer-events: none;
    }
    
    &::after {
        right: 0;
        background: linear-gradient(90deg, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    }

    &::before {
        left: 0;
        background: linear-gradient(-90deg, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    }

    &[data-dragging="start"]::after,
    &[data-dragging="start"]::before {
        width: 40px;
    }

    &[data-dragging="left"]::before { width: 0px; }
    &[data-dragging="right"]::after { width: 0px; }
}

.brandListTagsInner {
    display: flex;

    > div {
        display: flex;
        transition: .3s;
        user-select: none;
        padding: 15px 20px;
        position: relative;
        margin-right: 12px;
        align-items: center;
        white-space: nowrap;
        border-radius: 70px;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 4px 4px 0px #B1BBC740;

        &:last-child {
            margin-right: 0;
        }

        &[data-active="true"] {
            color: white;
            padding-right: 50px;
            background-color: var(--t-dark-violet);

            .brandListTagClose { opacity: 1; }
            .brandListTagClose::after,
            .brandListTagClose::before {
                width: 16px;
                transition-delay: 0;
            }
        }
    }
}

.brandListTagClose {
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        width: 0px;
        height: 2px;
        content: '';
        position: absolute;
        transition: .3s .3s;
        transform-origin: top;
        background-color: white;
    }

    &::after { transform: rotate(45deg); }
    &::before { transform: rotate(-45deg) translate(-1px, -1px); }
}

.brandListSlider {
    display: flex;
    grid-area: scroll;
    position: relative;
    align-items: center;
    flex-direction: column;

    &[data-active="true"] {
        .brandListSliderArrow {
            opacity: 0;
        }

        .brandListSliderLine {
            height: 100%;
        }
    }
}

.brandListSliderItem {
    z-index: 2;
    width: 60px;
    height: 60px;
    display: flex;
    font-weight: 600;
    user-select: none;
    position: relative;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #B1BBC740;
}

.brandListSliderArrow {
    transition: .4s;
    margin-top: 30px;

    g {
        animation: lightning 2s infinite;

        &:nth-child(1) { animation-delay: 0.0s; }
        &:nth-child(2) { animation-delay: 0.3s; }
        &:nth-child(3) { animation-delay: 0.6s; }
    }


}

@keyframes lightning {
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

.brandListSliderLine {
    width: 0;
    height: 0;
    z-index: 1;
    transition: .5s;
    position: absolute;
    border: 2px solid #DADFEA;
}

.brandListSliderContent {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    grid-area: content;
}

.brandListSliderContentInner {
    display: flex;
    flex-direction: column;
}

.brandListSliderContentItem {
    width: 50%;
    height: 60px;
    display: grid;
    grid-gap: 30px;
    overflow: hidden;
    position: relative;
    transition: .4s .2s;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "title image"
        "text image";

    &[data-active="false"] {
        width: 50%;
        height: 60px;

        .brandListSliderContentItemLink {
            font-size: 3.6rem;
            pointer-events: none;
        }
    }

    &[data-active="true"] {
        width: 100%;
        height: 290px;
        padding: 50px 0;

        .brandListSliderContentItemTitle {
            opacity: 0;
            font-size: 5.6rem;
            pointer-events: none;
        }

        .brandListSliderContentItemImage {
            opacity: 1;
            transition: .2s .5s;
        }

        .brandListSliderContentItemText {
            opacity: 1;
            transition: .2s .5s;
        }

        .brandListSliderContentItemLink {
            opacity: 1;
            white-space: nowrap;
        }
    }
}

.brandListSliderContentItemLink {
    opacity: 0;
    transition: .2s;
    grid-area: title;
    white-space: nowrap;
}

.brandListSliderContentItemTitle {
    opacity: 1;
    transition: .2s;
    color: #6C7996;
    grid-area: title;
    white-space: nowrap;
}

.brandListSliderContentItemText {
    opacity: 0;
    grid-area: text;
    transition: .1s;
}

.brandListSliderContentItemImage {
    opacity: 0;
    transition: .1s;
    grid-area: image;
    min-width: 240px;
    min-height: 240px;
    align-self: center;
    justify-self: center;

    > span {
        min-width: 240px;
        min-height: 240px;
    }
}