@import '../mixins/helpers/media';

.breadcrumbs {
    z-index: 3;
    height: 30px;
    max-width: 100%;
    margin: 10px 0 0;
    min-height: 30px;
    overflow-x: auto;
    position: relative;

    scrollbar-width: thin;
    scrollbar-color: unset;

    &::-webkit-scrollbar {
        width: 0px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        border: none;
        border-radius: 0;
        background-color: transparent;
    }

    @include media-breakpoint(md-up) {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

.inner {
    display: flex;

    > * {
        cursor: pointer;
        transition: .3s;
        margin-right: 8px;
        position: relative;
        white-space: nowrap;
        padding-right: 20px;

        &::after {
            top: 3px;
            right: 1px;
            width: 12px;
            content: '';
            opacity: .5;
            height: 12px;
            transition: .3s;
            position: absolute;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/icons/icon-chevron-right.svg');
        }

        &:last-child {
            pointer-events: none;

            &::after {
                display: none;
            }
        }

        &:hover {
            color: var(--t-text);

            &::after {
                opacity: 1;
            }
        }
    }

    &[data-theme='ui-dark'] {
        > *::after {
            background-image: url('/icons/icon-chevron-right-white.svg');
        }
    }
}