@import '../mixins/helpers/media';
@import '../mixins/helpers/adaptive-value';
@import '../extends/_text-sizes';

.footer {
    position: relative;
    padding: 32px 0 70px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.top {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding-bottom: 40px;
}

.columnNav,
.columnInfo1,
.columnInfo2 {
    flex-grow: 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.columnNav {
    flex-basis: adaptive-value((
        xs: 100%,
        md: 50%,
        lg: 25%,
        xxl: 27%,
        xxxl: 27%,
    ));
}

.columnInfo1 {
    flex-basis: adaptive-value((
        xs: 100%,
        md: 50%,
        lg: 25%,
        xxl: 14%,
        xxxl: 16%,
    ));
}

.columnInfo2 {
    margin-left: adaptive-value((
        md: 0,
        xxl: 8%,
        xxxl: 11%,
    ));
    flex-basis: adaptive-value((
        xs: 100%,
        md: 50%,
        lg: 25%,
        xxl: 18%,
        xxxl: 18%,
    ));
}

.copy {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0;
    margin-top: 40px;
    position: absolute;
    background-color: rgba(#797979, 0.1);
}

.group {
    display: flex;
    align-items: center;
    
    >* {
        margin-right: adaptive-value((
            xs: 8px,
            xxl: 16px,
        ));
    }

    >*:last-child {
        margin-right: 0;
    }
}

.texth5 {
    white-space: nowrap;
    display: inline-block;

    @include text--size((
        xs:   $text-h5-xs,
        md:   $text-h5,
        lg:   $text-h5-sm,
        xl:   $text-h5-sm,
        xxl:  $text-h5,
        xxxl: $text-h4,
    ));
}

.textp2 {
    white-space: nowrap;
    font-weight: 400!important;

    @include text--size((
        xs:   $text-p2,
        md:   $text-p2,
        lg:   $text-p3,
        xl:   $text-p3,
        xxl:  $text-p2,
        xxxl: $text-p1,
    ));
}

.textp3 {
    margin-top: adaptive-value((
        xs: 16px,
        md: 12px,
        lg: 9px,
        xl: 9px,
        xxl: 16px,
        xxxl: 16px,
    ));
    @include text--size((
        xs:   $text-p4,
        md:   $text-p4,
        lg:   $text-p4,
        xl:   $text-p4,
        xxl:  $text-p4,
        xxxl: $text-p3,
    ));
}

.textp4 {
    font-weight: 400!important;
    @include text--size((
        xs:   $text-p2,
        md:   $text-t4,
        lg:   $text-p5,
        xl:   $text-t5,
        xxl:  $text-p4,
        xxxl: $text-p4,
    ));
}

.textp5 {
    font-weight: 400!important;
    @include text--size((
        xs:   $text-p4,
        md:   $text-p5,
        lg:   $text-p5,
        xl:   $text-p5,
        xxl:  $text-p5,
        xxxl: $text-p3,
    ));
}

.textt2 {
    white-space: nowrap;
    font-weight: 600!important;

    @include text--size((
        xs:   $text-t3,
        md:   $text-t2,
        lg:   $text-t3,
        xl:   $text-t3,
        xxl:  $text-t2,
        xxxl: $text-t1,
    ));
}

.textt5 {
    font-weight: 400!important;
    @include text--size((
        xs:   $text-t4,
        md:   $text-t6,
        lg:   $text-t6,
        xl:   $text-t6,
        xxl:  $text-t6,
        xxxl: $text-t5,
    ));
}

.textt6 {
    font-weight: 700!important;
    @include text--size((
        xs:   $text-t6,
        md:   $text-t6,
        lg:   $text-t6,
        xl:   $text-t6,
        xxl:  $text-t6,
        xxxl: $text-t5,
    ));
}

.apps {
    display: flex;
    flex-wrap: adaptive-value((
        lg: wrap,
        xxxl: nowrap,
    ));

    > * {
        margin-right: 12px;
    }

}

.bottom {
    margin-top: adaptive-value((
        xs: 40px,
        md: 0px,
        lg: -55px,
        xl: -50px,
        xxl: -50px,
        xxxl: 0,
    ));
}