@import '../mixins/helpers/media';
@import '../mixins/helpers/adaptive-value';
@import '../extends/_text-sizes';

.header {
    z-index: 2;
    width: 100%;
    // overflow: hidden;
    position: relative;
    padding: adaptive-value((
        xs: 12px 0,
        md: 14px 0,
        lg: 16px 0,
        xl: 14px 0
    ));
    height: adaptive-value((
        xs: 67px,
        md: 76px,
        lg: 148px,
        xl: 153px,
        xxxl: 168px,
    ));
    min-height: adaptive-value((
        xs: 67px,
        md: 76px,
        lg: 148px,
        xl: 153px,
        xxxl: 168px,
    ));
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    z-index: 2;
    display: flex;
    position: relative;
    justify-content: space-between;

    &::before {
        top: -50px;
        z-index: 1;
        left: -50px;
        content: '';
        right: -50px;
        bottom: -120px;
        position: absolute;
        pointer-events: none;
    }

    >* {
        z-index: 2;
        position: relative;
    }
}

.rabbit {
    top: 20px;
    z-index: 5;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    transition: .3s;
    border-radius: 50%;
    left: calc(50vw - 20px);
    transform: translateY(-100px);
    background-color: var(--t-background);
    box-shadow: 0px 4px 10px 0px #0000001A;

    &[data-active='true'] {
        transition: .3s .2s;
        transform: translateY(0);
    }

    @include media-breakpoint(xl-up) {
        width: 45px;
        height: 45px;
        left: calc(50vw - 22px);
    }

    @include media-breakpoint(xxxl) {
        width: 56px;
        height: 56px;
        left: calc(50vw - 28px);
    }

    >* {
        transform: scale(1.05);
    }

    &::after {
        top: -10px;
        left: -10px;
        content: '';
        right: -10px;
        bottom: -10px;
        position: absolute;
    }
}

.fixedContainer {
    left: 0;
    right: 0;
    z-index: 7;
    display: flex;
    max-width: 100vw;
    overflow: hidden;
    position: absolute;
    justify-content: center;
    transition: .0s background-color .3s;
    
    top: adaptive-value((
        xs: -1px,
        lg: 40px,
        xl: 50px,
        xxl: 51px,
        xxxl: 62px,
    ));

    padding: adaptive-value((
        xs: 0 16px,
        md: 0 32px,
        lg: 20px 48px,
        xl: 20px 72px,
        xxl: 20px 72px,
        xxxl: 20px 0,
    ));

    &[data-active='true'] {
        transition-delay: 0s;
        background-color: var(--c-_white);
    }

    @include media-breakpoint(md-down) {
        &[data-active='true'] {
            box-shadow: 0px 4px 10px 0px #0000001A;
        }
    }
}

.fixedContainerInnerTablet {
    width: 100%;
    padding: 10px 0;
}

.fixedContainerInnerDesktop {
    width: 100%;
    display: flex;
    // padding: 20px 0 0;
    justify-content: space-between;

    @include media-breakpoint(xxxl) {
        padding: 0;
        max-width: 1496px;
    }
}

.catalogBtn {
    margin-left: adaptive-value((
        lg: 30px,
        xl: 22px,
        xxl: 17px,
        xxxl: 46px,
    ));

    @include media-breakpoint(lg) {
        margin-right: 8px!important;
    }
}

.bottom {
    z-index: 1;
    display: flex;
    max-width: 560px;
    flex-basis: 100%;
    position: relative;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
}

.group {
    display: flex;
    align-items: center;
    
    >* {
        margin-right: adaptive-value((
            lg: 14px,
            xl: 16px,
            xxl: 32px,
        ));
    }

    >*:last-child {
        margin-right: 0;
    }
}

.groupMD {
    display: flex;
    align-items: center;
    
    >* {
        margin-right: adaptive-value((
            xs: 0px,
            lg: 0px,
            xl: 11px,
            xxl: 14px,
            xxxl: 18px,
        ));
    }

    >*:last-child {
        margin-right: 0;
    }
}

.groupSM {
    display: flex;
    align-items: center;
    
    >* {
        margin-right: adaptive-value((
            lg: 0px,
            xl: -10px,
            xxl: 0px,
            xxxl: 12px,
        ));
    }

    >*:last-child {
        margin-right: 0;
    }
}

.image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background-color: var(--t-background);
}

.textt4 {
    @include text--size((
        xs:   $text-t5,
        md:   $text-t5,
        lg:   $text-t5,
        xl:   $text-t5,
        xxl:  $text-t5,
        xxxl: $text-t4,
    ));
}

.textt1 {
    @include text--size((
        xs:   $text-t1,
        md:   $text-t1,
        lg:   $text-t3,
        xl:   $text-t2,
        xxl:  $text-t2,
        xxxl: $text-t1,
    ));
}

.textt6 {
    @include text--size((
        xs:   $text-t6,
        md:   $text-t0,
        lg:   $text-t6,
        xl:   $text-t6,
        xxl:  $text-t6,
        xxxl: $text-t6,
    ));
}

.countBasket {
    top: 5px;
    left: 27px;
    height: 18px;
    display: flex;
    min-width: 18px;
    font-size: 10px;
    padding: 0px 4px;
    font-weight: 700;
    position: absolute;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    color: var(--t-background);
    background-color: var(--t-primary);
    border: 2px solid var(--t-background);

    @include media-breakpoint(lg-up) {
        top: 10px;
        left: 31px;
    }
}