@import "../mixins/helpers/media";
@import "../mixins/helpers/adaptive-value";
@import "../extends/_text-sizes";

.header {
    width: 100%;
    height: 200px;
    position: relative;
    padding: adaptive-value((
        xs: 12px 0,
        md: 14px 0,
        lg: 16px 0,
        xl: 28px 0
    ));
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    z-index: 2;
    display: flex;
    position: relative;
    justify-content: space-between;

    &::before {
        top: -50px;
        left: -50px;
        content: '';
        right: -50px;
        bottom: -120px;
        z-index: 1;
        position: absolute;
    }

    >* {
        z-index: 2;
        position: relative;
    }
}

.middle {
    top: 0;
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: space-between;
    transform: adaptive-value((
        lg: translateY(65px),
        xl: translateY(86px),
        xxl: translateY(86px),
        xxxl: translateY(98px),
    ));
}

.catalogBtn {
    margin-left: adaptive-value((
        lg: 30px,
        xl: 22px,
        xxl: 17px,
        xxxl: 46px,
    ));

    @include media-breakpoint(lg) {
        margin-right: 8px!important;
    }
}

.middleFixed {
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: none;
    padding: 18px 80px;
    transition: .5s transform;
    transform: translateY(-400px);
    
    &[data-active="true"] {
        transform: translateY(0);
    }
}

.middleFixedPos {
    z-index: 6;
    position: fixed;
    background-color: var(--c-_white);
}

.bottom {
    z-index: 1;
    display: flex;
    max-width: 560px;
    flex-basis: 100%;
    position: relative;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
}

.group {
    display: flex;
    align-items: center;
    
    >* {
        margin-right: adaptive-value((
            lg: 14px,
            xl: 16px,
            xxl: 32px,
        ));
    }

    >*:last-child {
        margin-right: 0;
    }
}

.groupMD {
    display: flex;
    align-items: center;
    
    >* {
        margin-right: adaptive-value((
            xs: 0px,
            lg: 0px,
            xl: 11px,
            xxl: 14px,
            xxxl: 18px,
        ));
    }

    >*:last-child {
        margin-right: 0;
    }
}

.groupSM {
    display: flex;
    align-items: center;
    
    >* {
        margin-right: adaptive-value((
            lg: 0px,
            xl: -10px,
            xxl: 0px,
            xxxl: 12px,
        ));
    }

    >*:last-child {
        margin-right: 0;
    }
}

.image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background-color: var(--t-background);
}

.rabbit {
    top: 20px;
    z-index: 5;
    width: 40px;
    height: 40px;
    position: fixed;
    transition: .5s;
    border-radius: 50%;
    left: calc(50vw - 28px);
    transform: translateY(-400px);
    background-color: var(--t-background);
    box-shadow: 0px 4px 10px 0px #0000001A;

    @include media-breakpoint(xl-up) {
        width: 45px;
        height: 45px;
    }

    @include media-breakpoint(xxxl) {
        width: 56px;
        height: 56px;
    }

    >* {
        transform: scale(1.05);
    }
}

.rabbitFixed {
    transform: translateY(0);

    &[data-active="true"] {
        transition-delay: .4s;
        transform: translateY(-400px);
    }
}

.textt4 {
    @include text--size((
        xs:   $text-t5,
        md:   $text-t5,
        lg:   $text-t5,
        xl:   $text-t5,
        xxl:  $text-t5,
        xxxl: $text-t4,
    ));
}

.textt1 {
    @include text--size((
        xs:   $text-t1,
        md:   $text-t1,
        lg:   $text-t3,
        xl:   $text-t2,
        xxl:  $text-t2,
        xxxl: $text-t1,
    ));
}

.textt6 {
    @include text--size((
        xs:   $text-t6,
        md:   $text-t0,
        lg:   $text-t6,
        xl:   $text-t6,
        xxl:  $text-t6,
        xxxl: $text-t6,
    ));
}

.themechanger {
    left: 20px;
    z-index: 3;
    width: 50px;
    height: 50px;
    bottom: 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 12px;
    border: 2px solid var(--t-primary);
    background-color: var(--t-background);
}