@import "../mixins/helpers/media";

.info {
    width: 100%;
    display: flex;
    min-height: 80px;
    position: relative;

    > span {
        flex-grow: 0;
        flex-shrink: 0;
        white-space: nowrap;

        &:last-child {
            top: 30px;
            right: 0px;
            position: absolute;

            div {
                text-align: right;
            }
        }
    }

    @include media-breakpoint(md-up) {
        min-height: 0;
        align-items: center;

        > span {
            &:last-child {
                top: auto;
                right: auto;
                position: relative;
            }
        }
    }
}

.delim {
    top: 1em;
    width: 100%;
    margin: 0 0 0 30px;
    position: relative;

    &::after,
    &::before {
        width: 50%;
        content: '';
        height: 2px;
        position: absolute;
        background-color: var(--t-dark-violet);
    }

    &::after {
        right: 0;
        transform: translateY(-1px);
    }

    &::before {
        left: 0;
        transform: translateY(1px);
    }

    @include media-breakpoint(md-up) {
        top: auto;
        margin: 0 30px;
    }
}