.kaleidoscope {
    width: 540px;
    height: 540px;
    max-width: 540px;
    max-height: 540px;
    overflow: visible;
    position: relative;
    border-radius: 50%;

    &:hover .kaleidoscopeItems {
        filter: grayscale(100%) opacity(25%) brightness(50%);
    }

}

.kaleidoscopeDefault {
    width: 540px;
    height: 540px;
    max-width: 540px;
    max-height: 540px;
    overflow: visible;
    position: relative;
    border-radius: 50%;
    pointer-events: none;

    .kaleidoscopeItems {
        filter: grayscale(100%) opacity(25%) brightness(50%);
    }
}

.kaleidoscopeItems {
    width: 100%;
    height: 100%;
    transition: 1.4s;
    position: relative;
    transform: rotate(65deg) scale(-1, 1);

    > div {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;

        &:hover img { filter: opacity(20%); }

        img {
            transition: .4s;
            object-fit: cover;
            animation: rotate 180s infinite;
            animation-timing-function: linear;
        }

        &:nth-child(odd)  span { transform: scale(-1, 1); }

        &:nth-child(1) { clip-path: polygon(50% 50%, 50%  100%, 100% 100%); }
        &:nth-child(2) { clip-path: polygon(50% 50%, 100% 50%,  100% 100%); }
        &:nth-child(3) { clip-path: polygon(50% 50%, 100% 50%,  100% 0   ); }
        &:nth-child(4) { clip-path: polygon(50% 50%, 50%  0,    100% 0   ); }
        &:nth-child(5) { clip-path: polygon(50% 50%, 50%  0,    0    0   ); }
        &:nth-child(6) { clip-path: polygon(50% 50%, 0    50%,  0    0   ); }
        &:nth-child(7) { clip-path: polygon(50% 50%, 0    50%,  0    100%); }
        &:nth-child(8) { clip-path: polygon(50% 50%, 50%  100%, 0    100%); }

        &:nth-child(2) span { transform: rotate(30deg); }
        &:nth-child(3) span { transform: scale(-1, 1) rotate(30deg); }
        &:nth-child(6) span { transform: rotate(30deg); }
        &:nth-child(7) span { transform: scale(-1, 1) rotate(30deg); }
        
        > span {
            pointer-events: none;
        }
    }
}

.kaleidoscopeLinks {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: grid;
    position: absolute;
    align-items: center;
    pointer-events: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "tl tc tr"
        "cl cc cr"
        "bl bc br";

    > div {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        max-width: 100%;
        transition: 0.6s;
        overflow: visible;
        align-items: center;
        white-space: nowrap;
        justify-content: center;
        transform-origin: center;
        text-transform: uppercase;

        &[data-active="true"] {
            opacity: 1;
        }

        a {
            font-weight: 100!important;
            width: calc(50vh / 4);
        }

        &:nth-child(1) { 
            grid-area: cl;
            justify-content: flex-end;
            
            a { transform: translate(-100%, 0%); }
        }

        &:nth-child(2) {
            grid-area: tl;
            justify-content: flex-end;

            a { transform: rotate(45deg) translate(0%, 50%); }
        }

        &:nth-child(3) {
            grid-area: tc;

            a { transform: rotate(90deg) scaleX(-1) scaleY(-1); }
        }

        &:nth-child(4) {
            grid-area: tr;

            a { transform: rotate(135deg) scaleX(-1) scaleY(-1) translate(-50%, 0%); }
        }
        &:nth-child(5) {
            grid-area: cr;

            a { transform: translate(-5%, 0%); }
        }

        &:nth-child(6) {
            grid-area: br;

            a { transform: rotate(225deg) scaleX(-1) scaleY(-1) translate(-50%, 0%); }
        }

        &:nth-child(7) {
            grid-area: bc;

            a { transform: rotate(270deg) scaleX(-1) scaleY(-1); }
        }
        
        &:nth-child(8) {
            grid-area: bl;
            justify-content: flex-end;

            a { transform: rotate(315deg) translate(0%, -50%); }
        }
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}