@import '../../../mixins/helpers/media';
@import '../../../mixins/helpers/adaptive-value';

.brandAbout {
    height: calc(70vh + 98px);
}

.content {
    overflow: auto;
    touch-action: auto;
    max-height: calc(70vh - 60px);

    @include media-breakpoint(md-up) {
        max-height: calc(80vh - 60px);
    }
}

.button {
    min-height: 60px;
}

.footer {
    position: unset;
    // top: calc(70vh + 68px);
    left: adaptive-value((
        xs: 16px,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));
    right: adaptive-value((
        xs: 16px,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));
    
    @include media-breakpoint(md-up) {
        z-index: 2;
        position: fixed;
        min-height: 60px;
        padding-top: 8px;
        top: calc(100vh - 92px);
        background-color: var(--t-background);
    }
}
