@import "../../../mixins/helpers/media";

.title {
    text-align: center;

    >span {
        max-width: 190px;
        display: inline-block;
    }

    @include media-breakpoint(md-up) {
        text-align: left;
        
        >span {
            display: inline;
            max-width: none;
        }
    }
}

.variants {
    flex-grow: 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    min-height: -webkit-fill-available;

    >* {
        margin-bottom: 4px;
    }
}

.variant {
    display: flex;
    cursor: pointer;
    transition: .3s;
    align-items: center;

    // &[data-status="disable"] {
    //     color: var(--t-disabled);
    // }

    // &[data-status="current"] {
    //     div {
    //         font-weight: 700;
    //     }
    // }

    &:hover {
        color: var(--t-primary);
    }
}

.image {
    min-width: 90px;
    min-height: 90px;
    margin-right: 8px;
}