@import '../../../mixins/helpers/media';
@import '../../../mixins/helpers/adaptive-value';

.basketWrapper {
    height: 100vh;
    // padding-top: 28px;
    position: relative;
    overflow-y: hidden;
    overflow-x: visible;
    pointer-events: none;
    margin: adaptive-value((
        xs: -16px -16px 0,
        md: -28px -32px 0,
        lg: -28px -48px 0,
        xl: -28px -72px 0,
    ));

    @include media-breakpoint(md-up) {
        margin-top: -28px;
    }
    // overflow: hidden visible;
}

.emptyText {
    line-height: 23px;
    a {
        color: var(--t-primary);
    }
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint(xl-down) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.basketInner {
    z-index: 1;
    height: 100%;
    position: relative;
    pointer-events: all;
    overflow: hidden auto;
    padding-bottom: 110px;
    padding-left: adaptive-value((
        xs: 16px,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));
    padding-right: adaptive-value((
        xs: 18px,
        xl: 22px,
    ));

    &::-webkit-scrollbar {
        width: 0;
        margin-right: 0;
    }
}

.product {
    padding-top: 16px;
    position: relative;
    padding-right: 38px;
    pointer-events: all;

    &:hover {
        .settings {
            opacity: 1;
        }
    }
}

.checker {
    height: 16px;
    display: flex;
    transition: .3s;
    margin-top: 34px;
    align-items: center;

    >* {
        cursor: pointer;
    }

    &:hover {
        color: var(--t-primary);
    }
}

.controls {
    top: 17px;
    left: 2px;
    right: 40px;
    bottom: 1px;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-radius: 16px;
    justify-content: flex-end;

    @include media-breakpoint(xl-down) {
        align-items: flex-end;
        flex-direction: column;
    }
}

.control {
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    >*:first-child {
        margin-bottom: 8px;
        pointer-events: none;
    }

    &:last-child {
        width: 131px;
        color: var(--t-text);
        background-color: var(--t-light);
    }

    &:first-child {
        width: 155px;
        padding-left: 15px;
        color: var(--t-background);
        background-color: var(--c-_yellow);
    }

    .favourite[data-active='true'] {
        color: var(--t-background);
    }

    @include media-breakpoint(xl-down) {
        &:last-child {
            width: 155px;
            padding-left: 15px;
            color: var(--t-text);
            background-color: var(--t-light);
        }
    }
}

.productInner {
    display: flex;
    transition: .3s;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    padding: 16px 30px 16px 0;
    background-color: var(--t-background);

    &[data-open='true'] {
        transform: translateX(-140px) !important;
    }

    @include media-breakpoint(xxl-up) {
        &[data-open='true'] {
            transform: translateX(-273px) !important;
        }
    }
}

.checkbox {
    margin-top: 19px;
}

.checkboxDisabled{
    opacity: 0.2;
    margin-top: 19px;
    pointer-events: none;
}

.settings {
    top: 6px;
    right: 6px;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    color: var(--t-small);
    transform: rotate(90deg);

    &::before {
        top: -20px;
        left: -20px;
        content: '';
        right: -20px;
        bottom: -20px;
        position: absolute;
    }

    &[data-open='true'] {
        opacity: 1;
        transform: none;

        >*:first-child {
            display: none;
        }
    }

    &[data-open='false'] {
        >*:last-child {
            display: none;
        }
    }

    @include media-breakpoint(md-up) {
        opacity: 0;

        &:hover {
            transform: rotate(0deg);
    
            &~.productInner {
                transform: translateX(-30px);
            }
        }
    }
}

.deleteNotification {
    bottom: 0;
    z-index: 3;
    height: 58px;
    display: flex;
    padding: 0 16px;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    pointer-events: all;
    background-color: var(--t-background);
    box-shadow: 0px 4px 15px 3px #0000001F;
    right: adaptive-value((
        xs: 33px,
        md: 49px,
        lg: 65px,
        xl: 89px,
    ));
    left: adaptive-value((
        xs: 33px,
        md: 49px,
        lg: 65px,
        xl: 89px,
    ));

    // opacity: 1!important;
    // transform: translateY(-300px)!important;
}

.deleteTimer {
    width: 36px;
    height: 36px;
    display: flex;
    min-width: 36px;
    position: relative;
    align-items: center;
    justify-content: center;
    
    &.animated {
        circle {
            stroke: #E21B25;
            stroke-dashoffset: 1;
            transition: stroke-dashoffset 4.9s linear, stroke 0.3s 2.5s;
        }

        text {
            fill: #E21B25;
            transition: fill 0.3s 2.5s;
        }
    }

    svg {
        width: 100%;
        height: 100%;
    }

    circle {
        fill: none;
        width: 26px;
        height: 26px;
        stroke-width: 2px;
        stroke-opacity: 1;
        stroke-dasharray: 1;
        stroke-dashoffset: 0;
        stroke: var(--t-text);
        stroke-linecap: round;
        transform-origin: center;
        transform: rotate(-90deg) scale(1, -1);
        // animation: name 5s linear 0s infinite;
    }

    text {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        font-style: normal;
        transform: translateY(4px);
    }
}

@keyframes name {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1;
    }
}

.deleteNotificationText {
    width: 100%;
    margin-left: 8px;
}

.deleteNotificationReturn {
    cursor: pointer;
    font-size: 10px;
    color: #E21B25;
    font-weight: 700;
    line-height: 10px;
    font-style: normal;
    white-space: nowrap;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}


.basketMenu {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    height: 138px;
    display: flex;
    transition: .4s;
    position: absolute;
    align-items: center;
    pointer-events: all;
    padding-bottom: 40px;
    transform: translateY(140px);
    background-color: var(--t-background);
    padding: adaptive-value((
        xs: 0 16px,
        md: 0 32px,
        lg: 0 48px,
        xl: 0 72px,
    ));

    &[data-active='true'] {
        transform: translateY(0)!important;
    }

    @include media-breakpoint(md-up) {
        height: 108px;
        padding-bottom: 0;
        transform: translateY(110px);
    }
}

.basketPrice {
    // min-width: 136px;
    margin-right: 30px;

    * {
        white-space: nowrap;
    }
}

.summText {
    white-space: nowrap;

    >*{
        transition: 0.07s;
    }
}

.total {
    padding-right: 59px;

    [data-active='false'] {
        display: none;
    }
}

.totalContainer {
    padding-right: 9px;
}

.totalLineSubs {
    overflow: hidden;

    .totalLine {
        >span:first-child {
            position: relative;
            margin-right: 16px;
            padding-left: 26px;

            &::before {
                left: 3px;
                width: 7px;
                height: 7px;
                bottom: 5px;
                content: '';
                border-radius: 50%;
                position: absolute;
                background-color: var(--t-primary);
            }
        }
    }
}

.totalSubOpener {

    &[data-active='true'] {
        cursor: pointer;
        transition: .3s;

        .subOpenIcon {
            margin-left: 5px;
            color: var(--t-primary);
            transform: translateY(2px);
        }

        @include media-breakpoint(lg-up) {
            &:hover {
                color: var(--t-primary);
            }
        }
    }

    &[data-active='false'] {
        .subOpenIcon {
            display: none;
        }
    }

    .subOpenIcon {
        transition: .3s transform;
    }

    &[data-open='true'] {
        .subOpenIcon {
            transform: rotate(180deg) translateY(-2px);
        }
    }
}

.totalLine {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: flex-end;

    >span:first-child {
        margin-right: 16px;
        white-space: nowrap;
    }

    >span:last-child {
        margin-left: 16px;
        white-space: nowrap;
    }

    div {
        width: 100%;
        border-bottom: 1px dotted var(--t-small);
    }
}

.totalEmpty[data-active='false'] {
    display: none;
}

.slider {
    overflow: hidden;
    margin-top: 40px;
    margin-right: -21px;
    padding-right: 81px;
    margin-left: adaptive-value((
        xs: -16px,
        md: -32px,
        lg: -48px,
        xl: -72px,
    ));
    padding-left: adaptive-value((
        xs: 16px,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));
}