@import '../../../mixins/helpers/media';
@import '../../../mixins/helpers/adaptive-value';

.brandAbout {
    height: calc(60vh + 98px);

    @include media-breakpoint(md-up) {
        height: calc(70vh + 98px);
    }
}

.content {
    overflow: auto;
    touch-action: auto;
    margin-bottom: 16px;
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    padding-right: adaptive-value((
        xs: 0,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));
    margin-right: adaptive-value((
        xs: 0,
        md: -32px,
        lg: -48px,
        xl: -72px,
    ));

    @include media-breakpoint(md-up) {
        height: auto;
        margin-bottom: 0;
        max-height: calc(100vh - 130px);
    }
}

.button {
    min-height: 60px;
}

.footer {
    position: unset;
    left: adaptive-value((
        xs: 16px,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));
    right: adaptive-value((
        xs: 16px,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));
    
    @include media-breakpoint(md-up) {
        z-index: 2;
        position: fixed;
        min-height: 60px;
        padding-top: 8px;
        top: calc(100vh - 92px);
        background-color: var(--t-background);
    }
}
