@import '../../../mixins/helpers/media';
@import '../../../mixins/helpers/adaptive-value';

.basketWrapper {
    height: 100vh;
    margin-top: -16px;
    // padding-top: 28px;
    position: relative;
    overflow-y: hidden;
    overflow-x: visible;
    pointer-events: none;
    margin-right: adaptive-value((
        xs: -16px,
        md: -32px,
        lg: -48px,
        xl: -72px,
    ));

    @include media-breakpoint(md-up) {
        margin-top: -28px;
    }
    // overflow: hidden visible;
}

.emptyText {
    line-height: 23px;
    a {
        color: var(--t-primary);
    }
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint(xl-down) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.basketInner {
    z-index: 1;
    height: 100%;
    overflow: auto;
    position: relative;
    pointer-events: all;
    padding-bottom: 110px;
    padding-right: adaptive-value((
        xs: 16px,
        md: 16px,
        lg: 18px,
        xl: 22px,
    ));

    &::-webkit-scrollbar {
        width: 0;
        margin-right: 0;
    }
}

.product {
    overflow: hidden;
    padding-top: 16px;
    position: relative;
    pointer-events: all;
    // margin-right: -32px;
    padding-right: 38px;

    &:hover {
        .settings {
            opacity: 1;
        }
    }
}

.checker {
    height: 16px;
    display: flex;
    transition: .3s;
    margin-top: 34px;
    align-items: center;

    >* {
        cursor: pointer;
    }

    &:hover {
        color: var(--t-primary);
    }
}

.controls {
    top: 16px;
    left: 2px;
    bottom: 0;
    right: 40px;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-radius: 16px;
    justify-content: flex-end;
    background-color: var(--t-light);

    @include media-breakpoint(xl-down) {
        align-items: flex-end;
        flex-direction: column;
    }
}

.control {
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    >*:first-child {
        margin-bottom: 8px;
        pointer-events: none;
    }

    &:last-child {
        width: 131px;
        color: var(--t-text);
        background-color: var(--t-light);
    }

    &:first-child {
        width: 140px;
        color: var(--t-background);
        background-color: var(--c-_yellow);
    }

    .favourite[data-active='true'] {
        color: var(--t-background);
    }
}

.productInner {
    display: flex;
    transition: .3s;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    padding: 16px 30px 16px 0;
    background-color: var(--t-background);

    &[data-open='true'] {
        transform: translateX(-130px) !important;
    }

    @include media-breakpoint(xxl-up) {
        &[data-open='true'] {
            transform: translateX(-260px) !important;
        }
    }
}

.checkbox {
    margin-top: 19px;
}

.checkboxDisabled{
    opacity: 0.2;
    margin-top: 19px;
    pointer-events: none;
}

.settings {
    top: 6px;
    right: 6px;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    color: var(--t-small);
    transform: rotate(90deg);

    &::before {
        top: -20px;
        left: -20px;
        content: '';
        right: -20px;
        bottom: -20px;
        position: absolute;
    }

    &[data-open='true'] {
        opacity: 1;
        transform: none;

        >*:first-child {
            display: none;
        }
    }

    &[data-open='false'] {
        >*:last-child {
            display: none;
        }
    }

    @include media-breakpoint(md-up) {
        opacity: 0;

        &:hover {
            transform: rotate(0deg);
    
            &~.productInner {
                transform: translateX(-30px);
            }
        }
    }
}

.deleteNotification {
    left: 9px;
    bottom: 0;
    z-index: 3;
    height: 58px;
    display: flex;
    position: absolute;
    border-radius: 8px;
    padding: 0 16px 0 0;
    align-items: center;
    pointer-events: all;
    background-color: var(--t-background);
    box-shadow: 0px 4px 15px 3px #0000001F;
    right: adaptive-value((
        xs: 25px,
        md: 41px,
        lg: 57px,
        xl: 81px,
    ));
}

.deleteTimer {
    height: 36px;
    display: flex;
    position: relative;
    align-items: center;
    transform: scale(-1, 1);
    justify-content: center;
}

.deleteTimerText {
    font-size: 12px;
    margin-top: 2px;
    font-weight: 700;
    margin-left: -1px;
    line-height: 12px;
    position: absolute;
    font-style: normal;
    transform: scale(-1, 1);
}

.deleteNotificationText {
    width: 100%;
}

.deleteNotificationReturn {
    cursor: pointer;
    font-size: 10px;
    color: #E21B25;
    font-weight: 700;
    line-height: 10px;
    font-style: normal;
    white-space: nowrap;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}


.basketMenu {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    height: 138px;
    display: flex;
    transition: .4s;
    position: absolute;
    align-items: center;
    pointer-events: all;
    padding-bottom: 40px;
    transform: translateY(140px);
    background-color: var(--t-background);
    padding-right: adaptive-value((
        xs: 16px,
        md: 32px,
        lg: 48px,
        xl: 72px,
    ));

    &[data-active='true'] {
        transform: translateY(0)!important;
    }

    @include media-breakpoint(md-up) {
        height: 108px;
        padding-bottom: 0;
        transform: translateY(110px);
    }
}

.basketPrice {
    margin-right: 30px;

    * {
        white-space: nowrap;
    }
}

.summText {
    white-space: nowrap;

    >*{
        transition: 0.07s;
    }
}

.total[data-active='false'] {
    display: none;
}

.totalContainer {
    padding-right: 9px;
}

.totalLineSubs {
    overflow: hidden;

    .totalLine {
        >span:first-child {
            position: relative;
            margin-right: 16px;
            padding-left: 26px;

            &::before {
                left: 3px;
                width: 7px;
                height: 7px;
                bottom: 5px;
                content: '';
                border-radius: 50%;
                position: absolute;
                background-color: var(--t-primary);
            }
        }
    }
}

.totalSubOpener {

    &[data-active='true'] {
        cursor: pointer;
        transition: .3s;

        .subOpenIcon {
            margin-left: 5px;
            color: var(--t-primary);
            transform: translateY(2px);
        }

        @include media-breakpoint(lg-up) {
            &:hover {
                color: var(--t-primary);
            }
        }
    }

    &[data-active='false'] {
        .subOpenIcon {
            display: none;
        }
    }

    .subOpenIcon {
        transition: .3s transform;
    }

    &[data-open='true'] {
        .subOpenIcon {
            transform: rotate(180deg) translateY(-2px);
        }
    }
}

.totalLine {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: flex-end;

    >span:first-child {
        margin-right: 16px;
        white-space: nowrap;
    }

    >span:last-child {
        margin-left: 16px;
        white-space: nowrap;
    }

    div {
        width: 100%;
        border-bottom: 1px dotted var(--t-small);
    }
}

.totalEmpty[data-active='false'] {
    display: none;
}

.lackItems {
    overflow: hidden;
}