@import "../../../mixins/helpers/media";

.colors {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    height: calc(100% - 95px);
    max-height: -webkit-fill-available;

    @include media-breakpoint(md-up) {
        height: calc(100% - 120px);
    }
}

.title {
    text-align: center;

    >span {
        max-width: 190px;
        display: inline-block;
    }

    @include media-breakpoint(md-up) {
        >span {
            display: inline;
            max-width: none;
        }
    }
}

.variants {
    flex-grow: 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    min-height: -webkit-fill-available;

    >* {
        margin-bottom: 4px;
    }
}

.variant {
    display: flex;
    cursor: pointer;
    transition: .3s;
    min-height: 44px;
    align-items: center;

    >* {
        margin-right: 11px;
    }

    &:hover {
        color: var(--t-primary);
    }
}

.radio {
    width: 20px;
    height: 20px;
    transition: .3s;
    position: relative;
    margin-right: 19px;
    border-radius: 50%;
    border: 2px solid #11244D;

    &[data-selected="true"] {
        border: 6px solid #E21B25;
    }
}

.icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.iconWhite {
    border: 1px solid #E5E5E5
}

.iconColorfull {
    background: linear-gradient(223deg, rgba(4, 255, 14, 1) 0%, rgba(253, 196, 0, 1) 50%, rgba(225, 41, 33, 1) 100%)!important;
}

.footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.showBtn {
    min-height: 60px;
}