@import "../../../mixins/helpers/media";

.notification {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
}

.image {
    margin-top: 20px;
    align-self: center;
    margin-bottom: 20px;

    @include media-breakpoint(md-up) {
        margin-bottom: 50px;
    }
}

.phoneInput {
    border: 0;
    width: 100%;
    outline: none;
    display: block;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0;
    padding-bottom: 12px;
    color: var(--t-disabled);
    border-bottom: 1px solid var(--t-disabled);

    &::placeholder {
        color: var(--t-disabled);
    }
}

.footer {
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
}

.btn {
    margin-top: 40px;
    min-height: 60px;
    margin-bottom: 30px;

    @include media-breakpoint(md-up) {
        margin-bottom: 76px;
    }
}