@import '../../../mixins/helpers/media';

.authWrapper {
    height: 100%;
    position: relative;
}

.stepOne {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
}

.image {
    margin-top: 20px;
    align-self: center;
    margin-bottom: 20px;

    @include media-breakpoint(md-up) {
        margin-bottom: 50px;
    }

    @media (max-height: 750px) and (min-width: 420px) {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.phoneInput {
    border: 0;
    width: 100%;
    outline: none;
    display: block;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0;
    padding-bottom: 12px;
    color: var(--t-disabled);
    border-bottom: 1px solid var(--t-disabled);

    &::placeholder {
        color: var(--t-disabled);
    }
}

.btn {
    margin-top: 40px;
    min-height: 60px;
    margin-bottom: 30px;

    &[data-disabled='true'] {
        pointer-events: none;
    }

    @include media-breakpoint(md-up) {
        margin-bottom: 76px;
    }
}

.stepTwo {
    top: 0;
    left: -3px;
    opacity: 0;
    z-index: 1;
    right: -3px;
    height: 100%;
    display: flex;
    position: absolute;
    pointer-events: none;
    flex-direction: column;
    padding: 125px 50px 48px;
    transition: .5s ease-in-out;
    min-height: -webkit-fill-available;
    background-color: var(--t-background);

    &[data-active='true'] {
        opacity: 1;
        pointer-events: all;
    }

    &[data-blure='true'] {
        opacity: 1;
        filter: blur(3px);
    }
}

.backBtn {
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: flex;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--t-background);

    @include media-breakpoint(md-up) {
        &:hover {
            color: var(--t-primary);
        }
    }
}

.footer {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.stepThree {
    top: 0;
    left: -1px;
    opacity: 0;
    z-index: 2;
    right: -1px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    transition: .5s ease-in-out;
    min-height: -webkit-fill-available;
    background-color: rgba(255,255,255, 0.7);

    &[data-active='true'] {
        opacity: 1;
        pointer-events: all;
    }
}

.loading {
    width: 200px;
    height: 200px;

    >* {
        width: 200px;
        height: 200px;
    }
}