@import '../../../mixins/helpers/media';

.content {
    @include media-breakpoint(md-down) {
        overflow: auto;
        max-height: 70vh;
        touch-action: auto;

    }
}

.button {
    min-height: 60px;
}
