@import "/styles/mixins/helpers/media";
@import "/styles/mixins/helpers/adaptive-value";

.values {
    margin: 16px 0;
    font-weight: 400;
    font-size: adaptive-value(
        (
            xs: 10px,
            xl: 12px
        )
    );

    .colorIcon {
        span {
            border-radius: 4px;
        }

        div {
            text-transform: uppercase;
            transform: translate(-4px, 1px);
        }
    }
}

.volumePicker {
    display: flex;
    flex-wrap: wrap;

    > * {
        display: none;
        margin-right: 6px;
        border-radius: 4px;
        pointer-events: none;
        padding: 0px 4px 4px 0;
        text-transform: uppercase;

        &[data-disabled="true"] {
            color: var(--c-_light-gray);
        }

        &[data-active="false"] {
            color: var(--c-_light-gray);
            background-color: transparent;
        }

        &:first-child {
            display: block;
            position: relative;
            color: var(--t-text);

            &::after {
                top: -2px;
                right: -28px;
                min-width: 24px;
                text-align: center;
                position: absolute;
                border-radius: 4px;
                letter-spacing: 2px;
                padding: 2px 4px 2px;
                pointer-events: none;
                text-transform: uppercase;
                content: var(--count-values);
                background-color: var(--c-_lightest);
            }
        }
    }

    @include media-breakpoint(xxl-up) {
        > * {
            display: block;

            &:first-child::after {
                display: none;
            }
        }
    }
}
