@import "../../mixins/helpers/media";

.container {
    position: relative;
}

.image {
    width: 100%;
    max-height: 250px;
    transform: translate(-70vw, -240px);

    @include media-breakpoint(md-up) {
        width: 900px;
        margin: 0 auto;
        max-height: 450px;
        transform: translateY(-450px);
    }
}
