.container {

}

.line {
    width: 100%;
    position: relative;

    > span {
        margin-right: 50px;
    }
}

.lineImage {
    top: 70px;
    left: -10px;
    height: 20px;
    overflow: visible;
    position: absolute;
    width: calc(100% + 30px + var(--spacing) * 2);

    &::before {
        left: 0;
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: var(--t-tetriary);
        transform: translateY(0px) rotate(45deg);
    }
}