@import "../../mixins/helpers/media";

.container {
    display: flex;
    flex-direction: column;

    @include media-breakpoint(md-up) {
        flex-direction: row;
    }
}

.map {
    width: 100%;
    min-height: 422px;
    position: relative;
}

.mapItem {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
    user-select: none;
    position: absolute;
    pointer-events: none;
    transform: scale(1.5);
    margin: 0 calc(var(--spacing) * -1);

    &[data-active="true"] {
        opacity: 1;
        transform: scale(1);
    }

    * {
        width: 100%!important;
        height: 100%!important;
    }

    img {
        object-fit: cover;
    }

    @include media-breakpoint(md-up) {
        margin: 0;

        img {
            object-fit: contain;
        }
    }
}



.mapNav {
    top: 0;
    right: 0;
    z-index: 1;
    color: #112233;
    position: absolute;
    
    div {
        width: 45px;
        height: 45px;
        opacity: 0.2;
        display: flex;
        transition: .4s;
        overflow: hidden;
        font-size: 5.6rem;
        user-select: none;
        margin-bottom: 10px;
        align-items: center;
        pointer-events: none;
        justify-content: center;
        border: 2px solid #112233;
        background-color: var(--c-white);

        span {
            pointer-events: none;
        }
    }

    &[data-active="min"] {
        div:first-child {
            opacity: 1;
            pointer-events: all;
        }
    }

    &[data-active="middle"] {
        div {
            opacity: 1;
            pointer-events: all;
        }
    }

    &[data-active="max"] {
        div:last-child {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.adressInfo > * {
    margin-bottom: 17px;
}

.metro {
    display: flex;
    align-items: center;
    
    > *:last-child {
        margin-left: 15px;
    }
}

.layout {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;

    
    * {
        width: 100%!important;
        height: auto!important;
    }
}

.adress {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
}

.linkItem {
    width: 80px;
    height: 80px;
    padding: 20px;
    display: block;
    margin-right: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #B1BBC740;
}

.socialsItem {
    display: block;
    position: relative;
    margin-right: 40px;

    &::before,
    &::after {
        bottom: 0;
        height: 1px;
        content: '';
        position: absolute;
        background-color: var(--c-dark-lines);
    }

    &::after {
        left: 0;
        right: 30%;
        transform: translateY(11px);
    }

    &::before {
        right: 0;
        left: 70%;
        transform: translateY(10px);
    }
}

.botsItem {
    width: 65px;
    height: 55px;
    display: block;
    margin-left: 20px;
    padding: 15px 20px;
    border-radius: 61px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #B1BBC740;
}