@import '../../mixins/helpers/media';
@import '../../mixins/helpers/adaptive-value';

.card {
    height: 100%;
    transition: .3s;
    border-radius: 8px;
    position: relative;
    padding: 16px 16px 110px;
    // transform-origin: top;

    &[data-hover='true'] {
        z-index: 2;
        // transform: scale(1.1);
        box-shadow: 0px 10px 30px 2px #69748633;

        .nav,
        .buyBtn {
            opacity: 1;
        }
    }

    @include media-breakpoint(lg-down) {
        padding: 0 0 90px;
        box-shadow: none!important;

        .nav,
        .buyBtn {
            opacity: 1;
        }
    }
}

.cardInline {
    display: grid;
    position: relative;
    grid-template-columns: 85px 1fr 170px;
    grid-column-gap: 16px;
    grid-template-areas:
        'image art price'
        'image title bonuses'
        'image text btn'
        'image colors btn';
    
    .image,
    .images {
        width: 85px;
        height: 85px;
    }

    .images {
        grid-area: image;
    }

    .nav {
        display: none;
    }

    .buyBtn {
        left: auto;
        opacity: 1;
        right: auto;
        bottom: auto;
        width: 170px;
        height: 40px;
        grid-area: btn;
        margin-top: 0px;
        min-width: 170px;
        min-height: 40px;
        position: relative;
        align-self: flex-end;
        justify-self: flex-end;

        div {
            height: 44px;
            min-height: 44px;
        }
    }

    .bonuses ~ .buyBtn {
        margin-top: 8px;
    }

    .priceContainer {
        grid-area: price;
        text-align: right;
        padding-bottom: 0;
        // margin-bottom: 20px;
    }

    .colors {
        height: 20px;
        font-size: 14px;
        padding-top: 8px;
        grid-area: colors;
        text-transform: none;
        color: var(--t-small);
    }

    .color {
        display: none;
    }

    .art {
        grid-area: art;
    }

    .bonuses {
        display: flex;
        padding-top: 8px;
        grid-area: bonuses;
        justify-content: flex-end;
    }

    .title {
        padding-top: 8px;
        grid-area: title;
        line-height: 16px;
        padding-bottom: 0;
        letter-spacing: 1.5px;
    }

    .text {
        grid-area: text;
        padding-top: 8px;
        line-height: 21px;
        padding-bottom: 0px;
    }

    .basket {
        display: none;
    }

    @include media-breakpoint(xl) {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
            'image art'
            'image title'
            'image text'
            'image colors'
            'image price'
            'image bonuses'
            'image btn';

        .colors {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .priceContainer {
            text-align: left;
            padding-bottom: 0;
            // margin-bottom: 20px;
        }

        .bonuses {
            justify-content: flex-start;
        }

        .buyBtn {
            margin-top: 4px;
        }
    }

    @include media-breakpoint(lg) {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
            'image art'
            'image title'
            'image text'
            'image colors'
            'image price'
            'image bonuses'
            'image btn';

        .colors {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .priceContainer {
            text-align: left;
            padding-bottom: 0;
            // margin-bottom: 20px;
        }

        .bonuses {
            justify-content: flex-start;
        }

        .buyBtn {
            margin-top: 4px;
        }
    }

    @include media-breakpoint(sm-down) {
        grid-template-columns: 85px 1fr;
        grid-template-areas:
            'image art'
            'image title'
            'image text'
            'image colors'
            'image price'
            'image bonuses'
            'image btn';

        .colors {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .priceContainer {
            text-align: left;
            padding-bottom: 0;
            // margin-bottom: 20px;
        }

        .bonuses {
            justify-content: flex-start;
        }

        .buyBtn {
            margin-top: 4px;
        }
    }
}

.basket {
    height: 1px;
    align-items: center;
    display: inline-flex;

    &[data-hidden='true'] {
        display: none;
    }

    >* {
        margin-right: 8px;

        &:last-child {
            transform: translateY(2px);
        }
    }

    @include media-breakpoint(sm-down) {
        display: none;
    }
}

.images {
    z-index: 1;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    height: adaptive-value((
        xs: 180px,
        md: 230px,
        lg: 197px,
        xl: 217px,
        xxl: 281px
    ));

    > div {
        display: flex;
    }

    @include media-breakpoint(lg-up) {
        > div { transform: none!important; }
    }
}

.image {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    transition: .1s;
    position: absolute;
    height: adaptive-value((
        xs: 180px,
        md: 230px,
        lg: 197px,
        xl: 217px,
        xxl: 281px
    ));
    
    &[data-active='true'] {
        opacity: 1;
    }

    img {
        object-fit: cover;
    }

    @include media-breakpoint(md-down) {
        opacity: 1;
        flex-grow: 0;
        margin: 0 2px;
        flex-shrink: 0;
        position: relative;
        width: calc(100% - 4px);
    }
}

.colors {
    display: flex;
    align-items: center;
}

.color {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 4px;

    &[data-color='black'] { background-color: #112233; }
}

.buyBtn {
    left: 16px;
    opacity: 0;
    right: 16px;
    bottom: 16px;
    transition: .3s;
    min-height: 60px;
    position: absolute;

    div {
        min-height: 60px;
    }

    @include media-breakpoint(lg-down) {
        left: 0;
        right: 0;
        bottom: 0;
        height: 44px;

        div {
            min-height: 44px;
        }
    }
}

.nav {
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    height: 2px;
    bottom: 24px;
    display: flex;
    transition: .3s;
    position: absolute;
    justify-content: center;

    >div {
        width: 4px;
        height: 4px;
        transition: .3s;
        margin-right: 4px;
        border-radius: 3px;
        background-color: var(--t-small);

        &[data-active='true'] {
            width: 14px;
            background-color: var(--t-primary);
        }
    }
}

.price {
    position: relative;
    white-space: nowrap;
    align-items: center;
    display: inline-flex;

    .priceOld {
        margin-left: 12px;
        position: relative;
        align-self: center;
        transform: translateY(1px);
        color: var(--c-_light-gray);

        &::after {
            top: 60%;
            left: 1px;
            right: -2px;
            height: 2px;
            content: '';
            position: absolute;
            transform-origin: left;
            background-color: var(--t-primary);
            transform: matrix(0.99, -0.07, 0.11, 1, 0, 0);
        }
    }
}

.favourite {
    top: 14px;
    right: 14px;
    z-index: 3;
    position: absolute;

    @include media-breakpoint(xl-up) {
        top: 32px;
        right: 32px;
    }
}