.card {
    padding: 16px;
    transition: .3s;
    position: relative;
    // transform-origin: top;

    &:hover {
        z-index: 2;
        // transform: scale(1.1);
        box-shadow: 0px 10px 30px 2px #69748633;

        .nav,
        .buyBtn {
            opacity: 1;
        }
    }
}

.basket {
    align-items: center;
    display: inline-flex;

    &[data-hidden='true'] {
        display: none;
    }

    >* {
        margin-right: 8px;

        &:last-child {
            transform: translateY(2px);
        }
    }
}

.images {
    z-index: 1;
    height: 281px;
    position: relative;
}

.image {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    height: 281px;
    transition: .1s;
    position: absolute;

    &[data-active='true'] {
        opacity: 1;
    }

    img {
        object-fit: cover;
    }
}

.colors {
    display: flex;
    align-items: center;
}

.color {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 4px;

    &[data-color='black'] { background-color: #112233; }
}

.buyBtn {
    opacity: 0;
    transition: .3s .2s;
}

.nav {
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    height: 2px;
    bottom: 24px;
    display: flex;
    transition: .3s;
    position: absolute;
    justify-content: center;

    >div {
        width: 4px;
        height: 4px;
        transition: .3s;
        margin-right: 4px;
        border-radius: 3px;
        background-color: var(--t-small);

        &[data-active='true'] {
            width: 14px;
            background-color: var(--t-primary);
        }
    }
}

.price {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    align-items: center;

    .priceOld {
        margin-left: 12px;
        position: relative;
        align-self: center;
        color: var(--c-_light-gray);

        &::after {
            top: 60%;
            left: 1px;
            right: -2px;
            height: 2px;
            content: '';
            position: absolute;
            transform-origin: left;
            background-color: var(--t-primary);
            transform: matrix(0.99, -0.07, 0.11, 1, 0, 0);
        }
    }
}