@import '../../mixins/helpers/media';
@import '../../mixins/helpers/adaptive-value';
@import '../../extends/_text-sizes';

// BUY BUTTON
.buybtn {
    display: flex;
    position: relative;

    >* {
        min-height: 60px;
        margin-right: 8px;

        &.btnMain {
            margin-right: 0;
        }
    }

    @include media-breakpoint(md-down) {
        left: 0;
        bottom: 0;
        z-index: 3;
        width: 100vw;
        position: fixed;
        min-height: 92px;
        padding: 24px 32px;
        transition: .3s ease transform;
        background-color: var(--t-background);

        >div {
            height: auto;
        }
    }

    @include media-breakpoint(sm-down) {
        padding: 16px;
    }
}

.cardBuybtn {
    display: flex;
    position: relative;

    >* {
        min-height: 60px;
        // margin-right: 8px;

        &.btnMain {
            margin-right: 0;
        }
    }

    @include media-breakpoint(lg-down) {
        >* {
            min-height: 44px;
        }
    }
}

.buybtnChildren {
    @include media-breakpoint(md-down) {
        margin-right: 32px;
        white-space: nowrap;
    }
}

.btnWrapper {
    width: 100%;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.btnMain {
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    transform-origin: left;
    transform: translateX(0);
    transition: .5s cubic-bezier(.9,0,.5,1);

    &[data-open='true'] {
        transform: translateX(-100%);
    }

    @include media-breakpoint(md) {
        min-height: 65px;
    }

    .iconBasket {
        transform: translateY(-2px);
    }
}

.buyOpen {
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    user-select: none;
    position: absolute;
    transform-origin: right;
    transform: translateX(100%);
    transition: .5s cubic-bezier(.9,0,.5,1);

    * {
        white-space: nowrap;
    }

    .toBasket {
        min-height: 60px;
        flex-basis: 100%;
    }

    &[data-open='true'] {
        transform: translateX(0);
    }

    @include media-breakpoint(xxl-up) {
        .toBasket {
            flex-basis: 50%;
        }

        .countSelector {
            flex-basis: 50%;
        }
    }

    @include media-breakpoint(md) {
        min-height: 65px;
    }
}

.counterInput {
    width: 100%;
    border: none;
    outline: none;
    display: none;
    padding: 0 12px;
    flex-basis: 100%;
    padding-right: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    -moz-appearance: textfield;
    user-select: all!important;
    background-color: var(--t-light);

    &[data-shake='true'] {
        animation: shake 1s ease;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

@keyframes shake {
    0% {
        transform: translateX(-20px);
    }

    20% {
        transform: translateX(20px);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.counterDiv {
    width: 100%;
    display: flex;
    transition: .3s;
    overflow: hidden;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    > span {
        min-width: 13px;
        display: inline-block;
    }

    @include media-breakpoint(md-up) {
        &:hover {
            color: var(--t-primary);
        }
    }
}

.countSelector {
    display: flex;
    cursor: pointer;
    flex-basis: 100%;
    border-radius: 8px;
    background-color: var(--t-light);

    &[data-active='false'] {
        .counterBtnAccept {
            display: none;
        }
    }

    &[data-active='true'] {
        .counterInput,
        .counterBtnAccept {
            display: flex;
        }

        .counterDiv,
        .counterBtn {
            display: none;
        }
    }

    @include media-breakpoint(xxl-up) {
        margin-left: 8px;
    }
}

.cardCountSelector {
    display: flex;
    cursor: pointer;
    flex-basis: 100%;
    border-radius: 8px;
    background-color: var(--t-light);

    &[data-active='false'] {
        .counterBtnReject,
        .counterBtnAccept {
            display: none;
        }
    }

    &[data-active='true'] {
        .counterInput,
        .counterBtnAccept,
        .counterBtnReject {
            display: flex;
        }

        .counterDiv,
        .counterBtn {
            display: none;
        }
    }
}

.counterBtn,
.counterBtnReject,
.counterBtnAccept {
    display: flex;
    cursor: pointer;
    min-width: 40px;
    align-items: center;
    transition: .3s color;
    justify-content: center;

    
    &[data-disabled='true'] {
        opacity: .3;
        pointer-events: none;
    }
    
    @include media-breakpoint(md-up) {
        min-width: 60px;

        &:hover {
            color: var(--t-primary);
        }
    }
}

.favourite,
.favouriteEmpty {
    min-width: 60px;
    min-height: 60px;

    @include media-breakpoint(sm-down) {
        min-width: 60px;
    }
}

.favourite {
    @include media-breakpoint(md) {
        min-width: 73px;
    }
}

.notify {
    >span:first-child {
        width: 78px;
    }

    .iconBell {
        width: 16px;
        height: 16px;
        position: relative;

        >span {
            opacity: 0;
            transition: .3s;
            position: absolute;
        }
    }

    &[data-shaked='true'] {
        .iconBell {
            transform-origin: top;
            animation: ring 1s ease 0s 1;
        }
    }

    &[data-active='true'] {
        .iconBell {
            >span:last-child {
                opacity: 1;
            }
        }
    }

    &[data-active='false'] {
        .iconBell {
            >span:first-child {
                opacity: 1;
            }
        }
    }
}

@keyframes ring {
    0% {
        transform: translateY(-1.5px);
    }
    10% {
        transform: translateY(-3px) rotate(-5deg);
    }
    20% {
        transform: translateY(-3px) rotate(5deg);
    }
    30% {
        transform: translateY(-3px) rotate(-5deg);
    }
    40% {
        transform: translateY(-3px) rotate(5deg);
    }
    50% {
        transform: translateY(-3px) rotate(-5deg);
    }
    60% {
        transform: translateY(-3px) rotate(5deg);
    }
    70% {
        transform: translateY(-3px) rotate(-5deg);
    }
    80% {
        transform: translateY(-3px) rotate(5deg);
    }
    90% {
        transform: translateY(-3px) rotate(0deg);
    }
    100% {
        transform: translate(0px) rotate(0deg);
    }
}
