@import '../../mixins/helpers/media';
@import '../../mixins/helpers/adaptive-value';
@import '../../extends/_text-sizes';


// GALLERY
.gallery {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    position: relative;
    margin-bottom: 12px;
    // padding: 20px 36px;
    min-height: adaptive-value((
        xs: 382px,
        md: 450px,
        lg: 374px,
        xl: 385px,
        xxl: 472px,
        xxxl: 605px,
    ));

    @include media-breakpoint(sm-down) {
        margin-bottom: 0;
        left: -16px!important;
        width: 100vw!important;
    }
}

.nav {
    left: 41px;
    z-index: 2;
    flex-grow: 0;
    display: flex;
    flex-shrink: 0;
    padding: 40px 0;
    min-width: 108px;
    flex-basis: 108px;
    position: relative;
    flex-direction: column;
    justify-content: center;

    &:hover {
        .navPrev,
        .navNext {
            opacity: 1;
        }
    }
}

.navTablet {
    left: 0;
    right: 0;
    z-index: 2;
    height: 2px;
    bottom: 24px;
    display: flex;
    position: absolute;
    justify-content: center;

    >div {
        width: 4px;
        height: 4px;
        transition: .3s;
        margin-right: 4px;
        border-radius: 3px;
        background-color: var(--t-small);

        &[data-active='true'] {
            width: 14px;
            margin-right: 5px;
            background-color: var(--t-primary);
        }
    }
}

.previews {
    padding: 0 10px;
    overflow: hidden;
    max-height: adaptive-value((
        xs: 20px,
        xl: 240px,
        xxl: 328px,
        xxxl: 412px,
    ));
    min-height: adaptive-value((
        xs: 20px,
        xl: 240px,
        xxl: 328px,
        xxxl: 412px,
    ));
}

.imagePreview {
    opacity: 0.3;
    margin: 12px 0;
    transition: .4s;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 20%);
    width: adaptive-value((
        xs: 20px,
        xl: 48px,
        xxl: 70px,
        xxxl: 88px,
    ));
    height: adaptive-value((
        xs: 20px,
        xl: 48px,
        xxl: 70px,
        xxxl: 88px,
    ));

    img {
        object-fit: cover;
    }

    &[data-active='true'],
    &:hover {
        opacity: 1;
        box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 5%);
    }
}

.navPrev,
.navNext {
    opacity: 0;
    cursor: pointer;
    transition: .4s;
    margin-left: 10px;
    text-align: center;
    width: adaptive-value((
        xs: 20px,
        xl: 48px,
        xxl: 70px,
        xxxl: 88px,
    ));

    &:hover {
        color: var(--t-primary);
    }

    &[data-disabled='true'] {
        filter: opacity(0.4);
        pointer-events: none;
    }
}

.navPrev {
    // margin-top: 40px;
}

.navNext {
    margin-top: 10px;
}

.imageMain {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    cursor: pointer;
    overflow: hidden;
    max-height: 382px;
    position: absolute;
    transform: none!important;
    background-color: white;

    img {
        object-fit: cover;
    }

    @include media-breakpoint(md-up) {
        max-height: none;
    }

    @include media-breakpoint(lg-up) {
        width: 100%;
    }
}

.labels {
    z-index: 2;
    right: 36px;
    margin: 40px 0;
    position: absolute;
    pointer-events: none;

    @include media-breakpoint(md) {
        left: 48px;
        bottom: 20px;
    }

    @include media-breakpoint(sm-down) {
        left: 16px;
        bottom: -10px;
    }
}

.nextCol {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 169px;
    position: absolute;
    cursor: url('/icons/icon-chevron-right.svg') 0 0, pointer;
}

.imageDragCntainer {
    height: 100%;
    display: flex;
    position: relative;
}

.imageDrag {
    width: 100vw;
    height: 100%;
    min-width: 100vw;
    max-width: 100vw;
    position: relative;
}


// GALLERY MODAL
.galleryModal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 10;
    overflow: auto;
    position: fixed;
    transition: .2s;
    padding-top: 80px;
    pointer-events: none;
    padding-bottom: 40px;
    background-color: white;

    &[data-open='true'] {
        opacity: 1;
        pointer-events: all;
    }

    * {
        user-select: none;
    }

    .nav {
        top: 50px;
        position: fixed;
    }

    .alt {
        pointer-events: none;
    }
}

.modalHeader {
    top: -10px;
    z-index: 2;
    right: 15px;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    padding: adaptive-value((
        xs: 32px 20px,
        md: 32px 20px,
        lg: 32px 10px,
        xl: 32px 0,
    ));

    @include media-breakpoint(md-up) {
        right: 60px;
    }
}

.imageModal {
    width: 100%;
    max-height: 98vh;
    text-align: center;
    position: relative;
    transform: scale(1);
    transition: .4s transform ease;

    img {
        max-height: 98vh;
        object-fit: contain;
    }

    @media (min-width: 1920px) {
        min-height: 90vh;

        img {
            min-height: 90vh;
        }
    }

    @include media-breakpoint(sm-down) {
        min-height: 50vh;

        img {
            object-fit: cover;
            min-height: 50vh!important;
        }
    }
}

.imageFull {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    max-height: none;

    span, img {
        object-fit: cover;
        width: 100vw!important;
        height: 100vh!important;
    }
}

.alt {
    top: 0;
    left: 61px;
    z-index: 3;
    height: 30px;
    display: flex;
    position: fixed;
    align-items: center;

    >span {
        margin-left: -28px;
    }
}

.previewsModal {
    top: 98px;
    left: 72px;
    position: fixed;
}

.previewModal {
    opacity: 0.3;
    margin: 12px 0;
    transition: .4s;
    cursor: pointer;
    background-color: white;
    width: adaptive-value((
        xs: 20px,
        xl: 48px,
        xxl: 70px,
        xxxl: 88px,
    ));
    height: adaptive-value((
        xs: 20px,
        xl: 48px,
        xxl: 70px,
        xxxl: 88px,
    ));

    img {
        object-fit: cover;
    }

    &[data-active='true'],
    &:hover {
        opacity: 1;
    }
}

.closeBtn {
    transition: .3s;
    position: relative;

    &:hover {
        color: var(--t-primary);
    }

    &::before {
        top: -10px;
        left: -10px;
        content: '';
        right: -10px;
        bottom: -10px;
        position: absolute;
    }
}

// 

.imageFullScreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 11;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    background-color: white;

    &[data-active='true'] {
        opacity: 1;
        pointer-events: all;
    }
}

.dragContainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: auto;
    position: absolute;
    scrollbar-color: unset;

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: transparent;
        border: 0px solid transparent;
    }

    &::-webkit-scrollbar {
        width: 0px;
    }

    img {
        transition: .2s .2s;
        height: calc(100vh - 30px);
    }
}