@import "../../mixins/helpers/media";
@import "../../mixins/helpers/adaptive-value";
@import "../../extends/_text-sizes";

// GALLERY
.gallery {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    position: relative;
    margin-bottom: 12px;
    // padding: 20px 36px;

    @include media-breakpoint(lg-down) {
        min-height: 450px;
    }

    @include media-breakpoint(sm-down) {
        margin-bottom: 0;
    }
}

.nav {
    left: 51px;
    z-index: 2;
    flex-grow: 0;
    display: flex;
    flex-shrink: 0;
    min-width: 88px;
    flex-basis: 88px;
    position: relative;
    flex-direction: column;
    justify-content: center;

    &:hover {
        .navPrev,
        .navNext {
            opacity: 1;
        }
    }
}

.navTablet {
    left: 50%;
    z-index: 2;
    height: 2px;
    width: 120px;
    bottom: 24px;
    display: flex;
    position: absolute;

    >span {
        top: 0;
        left: -1px;
        width: 14px;
        height: 4px;
        position: absolute;
        border-radius: 3px;
        background-color: var(--t-primary);
    }

    >div {
        width: 4px;
        height: 4px;
        margin-right: 4px;
        border-radius: 2px;
        background-color: var(--t-small);
    }
}

.previews {
    overflow: hidden;
    max-height: 412px;
}

.imagePreview {
    width: 88px;
    height: 88px;
    opacity: 0.3;
    margin: 12px 0;
    transition: .4s;
    cursor: pointer;
    background-color: white;

    img {
        object-fit: cover;
    }

    &[data-active="true"],
    &:hover {
        opacity: 1;
    }
}

.navPrev,
.navNext {
    opacity: 0;
    width: 88px;
    cursor: pointer;
    transition: .4s;
    text-align: center;

    &[data-disabled="true"] {
        filter: opacity(0.4);
        pointer-events: none;
    }
}

.navPrev {
    margin-top: 40px;
}

.navNext {
    margin-bottom: 40px;
}

.imageMain {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    cursor: pointer;
    position: absolute;
    background-color: white;

    img {
        object-fit: cover;
    }

    @include media-breakpoint(xs) {
        left: -15px;
        width: auto;
        right: -15px;
    }
}

.labels {
    z-index: 2;
    right: 36px;
    margin: 40px 0;
    position: absolute;
    pointer-events: none;

    @include media-breakpoint(lg-down) {
        left: 4px;
        bottom: 4px;
    }
}

.nextCol {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 169px;
    position: absolute;
    cursor: url('/icons/icon-chevron-right.svg') 0 0, pointer;
}

// GALLERY MODAL
.galleryModal {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
    transition: .2s;
    pointer-events: none;
    background-color: white;

    &[data-open="true"] {
        opacity: 1;
        pointer-events: all;
    }

    * {
        user-select: none;
    }

    .nav {
        top: 50px;
        position: fixed;
    }
}

.modalHeader {
    top: 0;
    z-index: 11;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    padding: adaptive-value((
        xs: 32px 20px,
        md: 32px 0px 34px 40px,
        lg: 32px 120px,
    ));
}

.imageModal {
    width: 100%;

    img {
        object-fit: contain;
    }
}

.previewsModal {
    top: 98px;
    left: 72px;
    position: fixed;
}

.previewModal {
    width: 88px;
    height: 88px;
    opacity: 0.3;
    margin: 12px 0;
    transition: .4s;
    cursor: pointer;
    background-color: white;

    img {
        object-fit: cover;
    }

    &[data-active="true"],
    &:hover {
        opacity: 1;
    }
}

// DESCRIPTION
.mainInfo {
    top: 32px;
    margin-left: adaptive-value((
        xs: 0,
        lg: 24px,
        xl: 32px,
        xxxl: 25px
    ));
}

.price {
    white-space: nowrap;

    span:nth-child(2) {
        margin-left: 12px;
        position: relative;
        align-self: center;
        color: var(--c-_light-gray);

        &::after {
            top: 60%;
            left: 1px;
            right: -2px;
            height: 2px;
            content: '';
            position: absolute;
            transform-origin: left;
            background-color: var(--t-primary);
            transform: matrix(0.99, -0.07, 0.11, 1, 0, 0);
        }
    }

    @include media-breakpoint(md-down) {
        display: flex;
    }
}

.additionInfo {
    width: 100%;
}

.topInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.radio {
    display: flex;
    flex-wrap: wrap;

    > * {
        cursor: pointer;
        transition: .3s;
        padding: 6px 12px;
        margin-right: 8px;
        border-radius: 4px;
        text-transform: uppercase;

        &[data-disabled="disabled"] {
            pointer-events: none;
            color: var(--c-_light-gray);
        }

        &:hover,
        &[data-active="true"] {
            color: var(--t-background);
            background-color: var(--t-primary);
        }
    }
}


// BUY BUTTON
.buybtn {
    display: flex;

    >* {
        min-height: 60px;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    @include media-breakpoint(md-down) {
        left: 0;
        bottom: 0;
        z-index: 3;
        width: 100vw;
        position: fixed;
        min-height: 92px;
        padding: 24px 32px;
        background-color: var(--t-background);

        > div {
            height: auto;

            &:nth-child(2) {
                min-width: 60px;
            }
        }
    }

    @include media-breakpoint(sm-down) {
        padding: 16px;
    }
}

.buybtnChildren {
    @include media-breakpoint(md-down) {
        margin-right: 32px;
    }
}

.btnMain {
    &[data-open="true"] {
        display: none;
    }
}

.buyOpen {
    width: 100%;
    display: none;
    user-select: none;

    * {
        user-select: none;
        white-space: nowrap;
    }

    .toBasket {
        min-height: 60px;
        flex-basis: 100%;
    }

    &[data-open="true"] {
        display: flex;
    }

    @include media-breakpoint(xxl-up) {
        .toBasket {
            flex-basis: 50%;
        }
        .countSelector {
            flex-basis: 50%;
        }
    }
}

.counterInput {
    width: 100%;
    border: none;
    outline: none;
    display: none;
    padding: 0 12px;
    flex-basis: 100%;
    padding-right: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--t-light);

    &[data-shake="true"] {
        animation: shake 1s ease;
    }
}

@keyframes shake {
    0% { transform: translateX(-20px); }
    20% { transform: translateX(20px); }
    40% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    80% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.counterDiv {
    width: 100%;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.countSelector {
    display: flex;
    cursor: pointer;
    margin-left: 8px;
    flex-basis: 100%;
    border-radius: 8px;
    background-color: var(--t-light);


    &[data-active="true"] {
        .counterInput {
            display: flex;
        }

        .counterDiv {
            display: none;
        }
    }
}

.counterBtn {
    display: flex;
    min-width: 40px;
    align-items: center;
    justify-content: center;

    &[data-disabled="true"] {
        opacity: .3;
        pointer-events: none;
    }

    @include media-breakpoint(md-up) {
        min-width: 60px;
    }
}

.favourite {
    min-width: 60px;
    min-height: 60px;
}


.infoline {
    width: 100%;
    display: flex;
    margin: 12px 0;
    align-items: flex-end;

    .infolinedelim {
        width: 100%;
        margin: 0 16px;
        // @TODO
        border-bottom: 1px dashed #797979;
    }

    div {
        white-space: nowrap;
    }
}

// HELPFULL
.group {
    display: flex;

    >* {
        margin-right: 8px;
    }
}

.params {
    display: flex;
    margin-bottom: 24px;
    align-items: flex-start;
    justify-content: flex-start;

    span {
        display: inline-block;
    }

    span:first-child {
        flex-grow: 0;
        flex-shrink: 0;
        line-height: 2em;
        margin-right: 32px;
        width: adaptive-value((
            xs: 109px,
            lg: 171px,
        ));
    }

    &:last-child {
        margin-bottom: 0;
    }
}


// ACCORDEON
.accordeon {
    width: 100%;
    height: 60px;
    transition: .5s;
    overflow: hidden;
    
    .accordeonTitle {
        width: 100%;
        cursor: pointer;
        transition: .3s;
        position: relative;
        margin-bottom: 20px;

        &:hover {
            color: var(--t-primary);
        }

        &::after {
            top: 0.5em;
            right: 5px;
            content: '';
            width: 16px;
            height: 16px;
            transition: .4s;
            position: absolute;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/icons/icon-chevron-down.svg');
        }
    }

    &[data-open="true"] {        
        .accordeonTitle::after {
            transform: rotate(180deg);
        }
    }

    @include media-breakpoint(xxl-up) {
        .accordeonTitle {
            margin-bottom: 32px;
        }
    }
}


// TEXTS
.text0 {
    @include text--size((
        xs:   $text-p5,
        md:   $text-p5,
        lg:   $text-p5,
        xl:   $text-p5,
        xxl:  $text-p4,
    ));
}

.text1 {
    @include text--size((
        xs:   $text-t0,
        md:   $text-t0,
        lg:   $text-t0,
        xl:   $text-t0,
        xxl:  $text-h4,
    ));
}

.text2 {
    @include text--size((
        xs:   $text-p0,
        md:   $text-p0,
        lg:   $text-p0,
        xl:   $text-p0,
        xxl:  $text-h4,
    ));
}

.text3 {
    @include text--size((
        xs:   $text-p2,
        md:   $text-p2,
        lg:   $text-p2,
        xl:   $text-p2,
        xxl:  $text-h5,
    ));
}

.text4 {
    @include text--size((
        xs:   $text-p2-sm,
        md:   $text-p2-sm,
        lg:   $text-p2-sm,
        xl:   $text-p2-sm,
        xxl:  $text-p1,
    ));
}

.text5 {
    @include text--size((
        xs:   $text-p4,
        md:   $text-p4,
        lg:   $text-p4,
        xl:   $text-p4,
        xxl:  $text-p4,
    ));
}

.text6 {
    @include text--size((
        xs:   $text-t3,
        md:   $text-t3,
        lg:   $text-t3,
        xl:   $text-t3,
        xxl:  $text-t1,
    ));
}

.text7 {
    @include text--size((
        xs:   $text-p4,
        md:   $text-p4,
        lg:   $text-p5,
        xl:   $text-p4,
        xxl:  $text-p4,
    ));
}