@import "../../mixins/helpers/media";
@import "../../mixins/helpers/adaptive-value";
@import "../../extends/_text-sizes";

// DESCRIPTION
.mainInfo {
    margin-top: 32px;
    padding-left: adaptive-value((
        xs: 0,
        lg: 24px,
        xl: 32px,
        xxxl: 25px
    ));

    @include media-breakpoint(lg-up) {
        margin-top: 0;
    }
}

.price {
    display: flex;
    position: relative;
    white-space: nowrap;
    align-items: center;

    .priceOld {
        margin-left: 12px;
        position: relative;
        align-self: center;
        color: var(--c-_light-gray);

        &::after {
            top: 60%;
            left: 1px;
            right: -2px;
            height: 2px;
            content: '';
            position: absolute;
            transform-origin: left;
            background-color: var(--t-primary);
            transform: matrix(0.99, -0.07, 0.11, 1, 0, 0);
        }
    }

    .priceIcon {
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: .3s;
        margin-left: 12px;
        position: relative;
        color: var(--t-disabled);
        
        &:hover {
            color: var(--t-primary);
        }

        &::after {
            top: -15px;
            left: -15px;
            content: '';
            right: -15px;
            bottom: -15px;
            position: absolute;
        }
    }

    @include media-breakpoint(md) {
        .priceIcon {
            height: auto;
        }
    }
}

.additionInfo {
    width: 100%;
}

.topInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio {
    display: flex;
    flex-wrap: wrap;

    > * {
        cursor: pointer;
        transition: .3s;
        padding: 6px 12px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
        text-transform: uppercase;

        &[data-disabled="true"] {
            color: var(--c-_light-gray);
        }

        &:hover,
        &[data-active="true"] {
            color: var(--t-background);
            background-color: var(--t-primary);
        }
    }
}

.color {
    display: flex;
    cursor: pointer;
    transition: .3s;
    align-items: center;

    &:hover {
        color: var(--t-primary);
    }
    
    .colorImage {
        width: 30px;
        height: 30px;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        margin-right: 8px;
        border-radius: 50%;
        transform: rotate(-90deg);

        img {
            object-fit: cover;
            transform: scale(2.5);
        }
    }

    .colorName {
        margin-right: 8px;
    }

    .colorText {
        margin-right: 8px;
    }
    
    .colorArrow {
        max-height: 19px;
        min-width: 20px;
    }
}

.colorPicker {
    margin: 32px 0;

    .colorItem,
    .colorActive {
        display: flex;
        cursor: pointer;
        align-items: center;

        > * {
            margin-right: 11px;
        }
    }

    .colorActive {
        transition: .3s;
        max-width: 360px;
        position: relative;
        margin-right: 16px;

        &:hover {
            color: var(--t-primary);
        }

        &::after {
            top: 0px;
            content: '';
            width: 18px;
            right: -18px;
            height: 18px;
            transition: .3s;
            position: absolute;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/icons/icon-chevron-right.svg');
        }

        @include media-breakpoint(lg-up) {
            display: inline-flex;

            &::after {
                background-image: url('/icons/icon-triangle-down.svg');
            }
        }
    }

    .colorItem {
        transition: .3s;
        padding-bottom: 20px;

        &:last-child {
            padding-bottom: 0px;
        }

        &[data-active="true"] {
            font-weight: 700;
            pointer-events: none;
        }

        &:hover {
            color: var(--t-primary);
        }
    }

    .colorItemIcon,
    .colorActiveIcon {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    .dropdown {
        z-index: 4;
        height: 0px;
        transition: .4s;
        overflow: hidden;
        min-width: 237px;
        margin-top: 10px;
        max-height: 192px;
        position: absolute;
        border-radius: 8px;
        background-color: var(--t-background);
        scrollbar-color: var(--t-smallish) var(--c-_lightest);

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: var(--t-smallish);
            border: 3px solid var(--c-_lightest);
        }
    }

    .dropdownList {
        padding: 23px 19px;
    }

    &[data-active="true"] {
        .dropdown {
            height: 192px;
            overflow: auto;
            box-shadow: 0px 4px 15px 3px #0000001F;
        }

        .colorActive {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    .iconWhite {
        border: 1px solid #E5E5E5
    }
    
    .iconColorfull {
        background: linear-gradient(223deg, rgba(4, 255, 14, 1) 0%, rgba(253, 196, 0, 1) 50%, rgba(225, 41, 33, 1) 100%)!important;
    }
}

.infoline {
    width: 100%;
    display: flex;
    margin: 12px 0;
    align-items: flex-end;

    .infolinedelim {
        width: 100%;
        margin: 0 16px;
        // @TODO
        border-bottom: 1px dashed #797979;
    }

    div {
        white-space: nowrap;
    }
}

// HELPFULL
.group {
    display: flex;

    >* {
        margin-right: 8px;
    }
}

.params {
    display: flex;
    margin-bottom: 24px;
    align-items: flex-start;
    justify-content: flex-start;

    span {
        display: inline-block;
    }

    span:first-child {
        flex-grow: 0;
        flex-shrink: 0;
        line-height: 2em;
        margin-right: 32px;
        width: adaptive-value((
            xs: 109px,
            lg: 171px,
        ));
    }

    &:last-child {
        margin-bottom: 0;
    }
}


// TEXTS
.text0 {
    @include text--size((
        xs:   $text-p5,
        md:   $text-p5,
        lg:   $text-p5,
        xl:   $text-p5,
        xxl:  $text-p4,
    ));
}

.text1 {
    @include text--size((
        xs:   $text-t0,
        md:   $text-t0,
        lg:   $text-t0,
        xl:   $text-t0,
        xxl:  $text-h4,
    ));
}

.text2 {
    @include text--size((
        xs:   $text-p0,
        md:   $text-p0,
        lg:   $text-p0,
        xl:   $text-p0,
        xxl:  $text-h4,
    ));
}

.text3 {
    @include text--size((
        xs:   $text-p2,
        md:   $text-p2,
        lg:   $text-p2,
        xl:   $text-p2,
        xxl:  $text-h5,
    ));
}

.text4 {
    @include text--size((
        xs:   $text-p2-sm,
        md:   $text-p2-sm,
        lg:   $text-p2-sm,
        xl:   $text-p2-sm,
        xxl:  $text-p1,
    ));
}

.text5 {
    @include text--size((
        xs:   $text-p4,
        md:   $text-p4,
        lg:   $text-p4,
        xl:   $text-p4,
        xxl:  $text-p4,
    ));
}

.text6 {
    @include text--size((
        xs:   $text-t3,
        md:   $text-t3,
        lg:   $text-t3,
        xl:   $text-t3,
        xxl:  $text-t1,
    ));
}

.text7 {
    @include text--size((
        xs:   $text-p4,
        md:   $text-p4,
        lg:   $text-p5,
        xl:   $text-p4,
        xxl:  $text-p4,
    ));
}