@import '/styles/mixins/helpers/media';
@import '/styles/mixins/helpers/adaptive-value';

.swiper {
    width: 100%;
    height: 100%;
}

.swiperWrapper {
    margin: 0 -20px;
    overflow: visible;
    padding: 0 20px 30px 6px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.navIconNext,
.navIconPrev {
    top: 0.5em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s;
    position: absolute;

    &:hover {
        color: var(--t-primary);
    }

    &[data-disabled='true'] {
        color: var(--t-small);
    }

    @include media-breakpoint(md-down) {
        display: none;
    }

    @include media-breakpoint(xl-down) {
        top: 0;
    }
}

.navIconNext {
    right: 0;
}

.navIconPrev {
    right: 40px;   
}