@import '/styles/mixins/helpers/media';
@import '/styles/mixins/helpers/adaptive-value';

.authWrapper {
    height: 100%;
    position: relative;
    pointer-events: none;
    
    @include media-breakpoint(sm-down) {
        height: calc(100% - 28px);
    }
}

.stepOne {
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    padding-bottom: 52px;
    flex-direction: column;
    min-height: -webkit-fill-available;

    &[data-active='false'] {
        max-height: 40px;
        overflow: hidden;
    }

    @media (max-height: 700px) {
        .image {
            display: none;
        }
    }

    @include media-breakpoint(sm-down) {
        // padding-bottom: 0;

        .image {
            width: 120px;
            height: 120px;
            margin-top: 0;
            min-width: 120px;
            min-height: 120px;
        }
    }

    @include media-breakpoint(lg-up) {
        padding-bottom: 16px;
    }
}

.stepTwo {
    top: 0;
    left: -3px;
    z-index: 1;
    right: -3px;
    height: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    pointer-events: none;
    flex-direction: column;
    transform: translateX(150%);
    transition: .6s ease-in-out;
    background-color: var(--t-light);
    min-height: -webkit-fill-available;
    padding: adaptive-value((
        xs: 16px 0 78px,
        md: 100px 20px 32px,
        lg: 50px 0 32px,
        xl: 50px 20px 48px,
        xxl: 50px 92px 48px,
        xxxl: 60px 92px 80px,
    ));

    >* {
        z-index: 1;
        position: relative;
    }

    &[data-active='true'] {
        pointer-events: all;
        transform: translateX(0);
    }

    &[data-blure='true'] {
        filter: blur(3px);
        transform: translateX(0);
    }

    .image {
        order: 0;
        margin-top: 24px;
        align-self: center;
    }

    .background {
        top: -16px;
        left: -96px;
        width: 100vw;
        height: 100vh;
        min-width: 1000px;
        position: absolute;
        background-color: var(--t-light);
    }

    .title { order: 1; }
    .codeInput { order: 1; }
    .text { order: 1; }
    .footer { order: 1; }

    @include media-breakpoint(md-up) {
        text-align: left;
        padding-bottom: 48px;

        .codeInput {order: 2}
        .footer { order: 2; }

        .background {
            top: -28px;
        }
    }
}

.stepThree {
    top: 0;
    opacity: 0;
    z-index: 2;
    left: -30px;
    right: -30px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    transition: .5s ease-in-out;
    min-height: -webkit-fill-available;
    background-color: rgba(245, 246, 250, 0.7);

    &[data-active='true'] {
        opacity: 1;
        pointer-events: all;
    }
}

.image {
    width: 200px;
    height: 200px;
    min-width: 200px;
    margin-top: 48px;
    min-height: 200px;
    position: relative;
    text-align: center;

    @media (max-height: 770px) and (min-width: 500px) {
        margin-top: 0;
    }

    @media (max-height: 800px) and (max-width: 440px) {
        width: 120px;
        height: 120px;
        margin-top: 0;
        min-width: 120px;
        min-height: 120px;
    }

    @media (max-height: 640px) {
        display: none;
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

*[data-active='true'] .footer{
    pointer-events: all;
}

.button {
    min-height: 60px;
    margin-bottom: 16px;
}

.headNav {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;

    >span {
        transform: translateY(1.5px);
    }

    .backBtn {
        width: 20px;
        height: 20px;
        display: flex;
        cursor: pointer;
        transition: .3s;
        position: relative;
        align-items: center;
        justify-content: center;
    
        &::before {
            top: -10px;
            left: -10px;
            content: '';
            right: -10px;
            bottom: -10px;
            position: absolute;
        }
    }

    @include media-breakpoint(md-up) {
        right: -17px;

        .backBtn:hover {
            color: var(--t-primary);
        }
    }
}

.loading {
    width: 200px;
    height: 200px;

    >* {
        width: 200px;
        height: 200px;
    }
}

.helpWindow {
    opacity: 0;
    z-index: 1;
    top: -16px;
    bottom: -28px;
    transition: .3s;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    transition-delay: .3s;
    left: adaptive-value((
        xs: -16px,
        md: -32px,
        lg: -48px,
        xl: -72px,
    ));
    right: adaptive-value((
        xs: -16px,
        md: -32px,
        lg: -48px,
        xl: -72px,
    ));

    &[data-active='true'] {
        opacity: 1;
        pointer-events: all;
        transition-delay: 0s;

        .helpContainer {
            transition-delay: 0s;
            transform: translateY(0);
        }
    }

    .helpBackground {
        left: 0;
        top: -16px;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        cursor: pointer;
        background-color: rgba(17, 34, 51, 0.7);
        
        @include media-breakpoint(md-up) {
            background-color: var(--t-light);
        }
    }

    .helpContainer {
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transition-delay: .3s;
        transition: .4s ease-in;
        transform: translateY(100%);
        border-radius: 16px 16px 0px 0px;
        background-color: var(--t-background);
        box-shadow: 0px -13px 30px 0px #7F8CA026;
        padding: adaptive-value((
            xs: 0 16px 80px,
            md: 0 64px,
            lg: 0 48px 15px,
        ));
    }

    .closeIcon {
        padding: 16px;
        display: flex;
        cursor: pointer;
        transition: .3s;
        justify-content: center;

        @include media-breakpoint(md-up) {
            &:hover {
                color: var(--t-primary);
            }
        }
    }

    .helpInfo {
        height: 40px;
        display: flex;
        margin: 24px 0;
        align-items: center;

        >* {
            margin-right: 12px;
            white-space: nowrap;
        }

        .helpOr {
            font-size: 8px;
            line-height: 0px;
            font-weight: 700;
            text-transform: uppercase;
        }

        >span {
            padding: 8px;
            min-width: 40px;
            max-width: 40px;
            min-height: 40px;
            max-height: 40px;
        }
    }

    .helpContacts {
        display: flex;
        flex-direction: column;

        >* {
            margin-bottom: 20px;
        }

        @include media-breakpoint(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        @include media-breakpoint(xl-up) {
            flex-direction: row;
            justify-content: space-between;
        }

        a {
            padding-top: 6px;
        }
    }

    @include media-breakpoint(md-up) {
        top: 0;
        bottom: 0;

        .helpBackground {
            top: 0;
        }
    }
}

.profiBtn {
    @media (max-width: 374px) {
        span:last-child {
            display: none;
        }
    }
}