@import '../../mixins/helpers/media';
@import '../../mixins/helpers/adaptive-value';
@import '../../extends/_text-sizes';

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint(xl-up) {
        justify-content: flex-start;
    }
}

.selector {
    > span:last-child {
        display: none;
    }

    &[data-selected='true'] {
        > span:last-child {
            display: inline;
        }
    }
}

.title {
    > * {
        transition: .3s;
        display: inline-flex;
    }

    &[data-shown='true'] {
        .titleArrow {
            transform: rotate(180deg);
        }
    }

    .titleArrow {
        opacity: 0;
    }

    @include media-breakpoint(lg-down) {
        cursor: pointer;

        .titleArrow {
            opacity: 1;
            margin-left: 8px;
        }
    }
}

.wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: adaptive-value((
        xs: 100vw,
        xl: 196px,
        xxl: 280px,
        xxxl: 381px
    ));
    flex-basis: adaptive-value((
        xs: 100vw,
        xl: 196px,
        xxl: 280px,
        xxxl: 381px
    ));
    padding: adaptive-value((
        xs: 16px,
        md: 16px 32px,
        lg: 16px 48px,
        xl: 0,
    ));

    &[data-hidden='true'] {
        flex-basis: 0;
        overflow: hidden;
    }

    @include media-breakpoint(lg-down) {
        left: 0;
        right: 0;
        z-index: 3;
        display: block;
        margin-top: -80px;
        position: absolute;
        border-radius: 0 0 16px 16px;
        background-color: var(--t-background);
        box-shadow: 0px 15px 15px 3px #0000001F;

        &[data-hidden='true'] {
            display: none;
            box-shadow: none;
            overflow: visible;
            flex-basis: 100vw;
        }

        &[data-hidden='new'] {
            display: none;
            box-shadow: none;
        }
    }

    @include media-breakpoint(sm-down) {
        margin-top: -60px;
    }
}

.categories {
    .additional {
        opacity: 1;
        height: 86px;
        display: block;
        overflow: hidden;
        transition: .3s .3s;
        margin-bottom: 16px;
    }

    .catalogPrev {
        display: none;
        cursor: pointer;
        transition: .3s;
        position: relative;
        padding: 12px 16px 12px 39px;

        >span:first-child {
            top: 13px;
            left: 13px;
            position: absolute;
        }

        &:hover {
            color: var(--t-primary);
        }
    }

    &[data-selected='true'] {
        .additional {
            height: 0;
            opacity: 0;
            margin-bottom: 0;
        }

        .catalogPrev {
            display: block;
        }

        .categoryWrapper[data-active='false'] {
            display: none;
        }
    }
}

.categoryWrapper {
    display: flex;
    overflow: hidden;
    max-height: 40px;
    flex-direction: column;
    // transition: .5s ease-in-out;

    &[data-active='true'] {
        max-height: none;

        .category {
            > * {
                font-weight: 700;
            }

            &[data-selected='false'] {
                .categoryImage {
                    opacity: 0;
                }
        
                .categoryIcon {
                    opacity: 1;
                }
            }
        }
    }
}

.category {
    padding: 8px;
    display: flex;
    cursor: pointer;
    margin-top: 6px;
    transition: .3s;
    // min-width: 280px;
    position: relative;
    border-radius: 4px;
    align-items: center;
    white-space: nowrap;

    &:hover {
        color: var(--t-primary);
    }

    &[data-selected='true'] {
        pointer-events: none;
        background-color: var(--t-smallish);
    }

    .categoryIcon {
        top: 13px;
        left: 13px;
        opacity: 0;
        position: absolute;
    }

    >div {
        margin-left: 8px;
    }
}

.subcategory {
    order: 2;
    display: none;
    cursor: pointer;
    margin-top: 6px;
    transition: .3s;
    border-radius: 4px;
    align-items: center;
    padding: 12px 16px 12px 39px;

    &:hover {
        color: var(--t-primary);
    }

    &[data-selected='true'] {
        // order: 1;
        display: flex;
        pointer-events: none;
        background-color: var(--t-smallish);
        
        >* {
            font-weight: 700;
        }
    }

    .category[data-selected='true'] ~ & {
        display: flex;
    }
}

.filters {
    display: none;
    
    >* {
        margin-bottom: 48px;
    }

    .checker {
        margin-bottom: 16px;
    }
    
    @include media-breakpoint(xl-up) {
        display: block;
        padding-top: 64px;
        // min-width: 280px;
    }
}

.filter {
    overflow: hidden;
    
    &[data-open='true'] {
        height: auto;
        overflow: visible;
        
        .filterIcon {
            opacity: 0;
        }
    }

    &[data-open='false'] {
        height: 32px;

        .filterHeader > span {
            transform: rotate(180deg);
        }
    }
}

.filterHeader {
    display: flex;
    padding: 8px 0;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 16px;
    justify-content: space-between;

    > span {
        transition: .3s;
    }

    &:hover {
        color: var(--t-primary);
    }
}

.filterIcon {
    opacity: 1;
    height: 18px;
    min-width: 18px;
    font-size: 10px;
    transition: .3s;
    margin-left: 8px;
    font-weight: 400;
    margin-top: -3px;
    position: absolute;
    border-radius: 50px;
    align-items: center;
    letter-spacing: 0px;
    display: inline-flex;
    justify-content: center;
    color: var(--t-background);
    background-color: var(--t-primary);
}

.cardWrapper {
    // height: 500px;
}

.cardsContainer {
    display: grid;
    grid-gap: 16px;
    // transition-delay: .5s;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint(xl-up) {
        padding-left: 32px;

        &[data-show='true'] {
            padding-left: 0;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @include media-breakpoint(lg) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media-breakpoint(md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint(sm-down) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 374px) {
        grid-template-columns: repeat(1, 1fr);
    }
}