@import '../../mixins/helpers/media';
@import '../../mixins/helpers/adaptive-value';
@import '../../extends/_text-sizes';

.container {
    display: flex;
    padding-bottom: adaptive-value((
        xs: 40px,
        md: 60px,
        xl: 80px,
    ));
}

// Head info
.head {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint(xl-up) {
        justify-content: flex-start;
    }
}

.brandHead {
    z-index: 2;
    height: 95px;
    display: flex;
    position: relative;
    align-items: center;

    @include media-breakpoint(md) {
        height: 109px;
    }

    @include media-breakpoint(xl-up) {
        height: 190px;
    }
}

.headAddition {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    @include media-breakpoint(xl-up) {
        flex-direction: row;
    }
}

.brandDescription {
    // margin-bottom: 10px;
}

.brandInfo {
    width: 100%;
}

.aboutBrand {
    cursor: pointer;
    transition: .3s;
    max-width: 240px;

    &:hover {
        color: var(--t-primary);
    }
}

.imageOverlay {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    pointer-events: none;
    height: adaptive-value((
        xs: 200px,
        md: 250px,
        lg: 310px,
        xl: 400px,
        xxxl: 440px,
    ));

    img {
        object-fit: cover;
    }


}

.selector {
    .sidebarFilterText {
        display: none;
    }

    > span:last-child {
        display: none;
    }

    &[data-selected='true'] {
        > span:last-child {
            display: inline;
        }

        .sidebarFilterText {
            display: block;
        }
    }
}

.title {
    > * {
        transition: .3s;
        display: inline-block;
    }

    &[data-shown='true'] {
        .titleArrow {
            transform: translateY(1px) rotate(180deg);
        }
    }

    .titleArrow {
        opacity: 0;
        transform: translateY(0px);
    }

    @include media-breakpoint(lg-down) {
        display: flex;
        cursor: pointer;
        align-items: center;

        h1 {
            z-index: 1;
            position: relative;

            &::after {
                top: -5px;
                left: 0px;
                z-index: 1;
                content: '';
                right: -60px;
                bottom: -5px;
                cursor: pointer;
                position: absolute;
            }
        }

        .titleArrow {
            opacity: 1;
            margin-left: 8px;
        }
    }

    &[data-opacity='true'] > * {
        opacity: 0;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    >* {
        width: 100%;
    }
}

.navInner {
    right: 0;
    display: flex;
    position: unset;
    justify-content: space-between;
    left: adaptive-value((
        xs: 0,
        xl: 196px,
        xxl: 280px,
        xxxl: 344px
    ));

    
    @include media-breakpoint(xl-up) {
        width: auto;
        position: absolute;

        &[data-toggled='true'] {
            left: 0;
            padding-left: 0;
            pointer-events: none;
            
            .navFiller {
                display: block;
            }
        }
    }
}

.navFiller {
    height: 1em;
    display: none;
}

// Fast filters
.fastFilterContainer {
    width: 100%;
    overflow: visible;
    position: relative;
    margin-bottom: 48px;

    .fastFilterPrev,
    .fastFilterNext {
        top: 0px;
        z-index: 2;
        width: 36px;
        height: 36px;
        padding: 8px;
        cursor: pointer;
        transition: .3s;
        position: absolute;
        border-radius: 4px;
        background-color: var(--t-background);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        &[data-position='true'] {
            opacity: 0;
            pointer-events: none;
        }
    }

    .fastFilterNext {
        right: -3px;
    }
    
    .fastFilterPrev {
        left: -3px;
    }

    @include media-breakpoint(lg-up) {
        .fastFilterPrev:hover,
        .fastFilterNext:hover {
            color: var(--t-primary);
        }
    }

    @include media-breakpoint(md-down) {
        .fastFilterPrev,
        .fastFilterNext {
            display: none;
        }
    }
}

.fastFilterWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;

    .fastFilterInner {
        flex-grow: 0;
        display: flex;
        flex-shrink: 0;
        overflow: visible;

        .fastFilterItem {
            flex-grow: 0;
            cursor: pointer;
            transition: .3s;
            padding: 8px 12px;
            margin-right: 8px;
            position: relative;
            border-radius: 4px;
            white-space: nowrap;
            background: var(--t-light);

            &::after {
                top: 11.5px;
                width: 12px;
                right: 12px;
                content: '';
                height: 12px;
                position: absolute;
                transform: scale(0);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('/icons/icon-x-white.svg');
            }

            &[data-active='true'] {
                padding-right: 32px;
                color: var(--t-background);
                background-color: var(--t-dark);

                &::after {
                    transform: scale(1);
                    transition: .3s .3s;
                }
            }
        }
    }

    @include media-breakpoint(lg-up) {
        .fastFilterItem:hover {
            color: var(--t-primary);
        }
    }
}

// Categories & filters
.wrapper {
    opacity: 1;
    flex-grow: 0;
    flex-shrink: 0;
    transition: .3s;
    overflow: hidden;
    margin-left: -40px;
    width: adaptive-value((
        xs: 100vw,
        xl: 240px,
        xxl: 280px,
        xxxl: 344px
    ));
    padding: adaptive-value((
        xs: 16px,
        md: 16px 32px,
        lg: 16px 48px 16px 50px,
        xl: 0 0 0 40px,
    ));

    &[data-hidden='true'] {
        width: 0;
    }
    
    @include media-breakpoint(xl-up) {
        &[data-hidden='true'] {
            opacity: 0;
            height: 400px;
        }
    }

    @include media-breakpoint(lg-down) {
        left: 0;
        right: 0;
        z-index: 4;
        display: block;
        margin-left: 0;
        margin-top: -164px;
        position: absolute;
        border-radius: 0 0 16px 16px;
        background-color: var(--t-background);
        box-shadow: 0px 15px 15px 3px #0000001F;

        &[data-hidden='true'] {
            display: none;
            box-shadow: none;
            overflow: visible;
            flex-basis: 100vw;
        }

        &[data-hidden='new'] {
            display: none;
            box-shadow: none;
        }

        &.wrapperBrand {
            display: none!important;
        }
    }

    @include media-breakpoint(sm-down) {
        margin-top: -168px;
    }
}

.categories {
    width: adaptive-value((
        xs: 100vw,
        xl: 200px,
        xxl: 240px,
        xxxl: 304px,
    ));

    .additional {
        opacity: 1;
        height: 104px;
        display: block;
        overflow: hidden;
        margin-top: 12px;
        transition: .3s .3s;
        margin-bottom: 16px;
    }

    .catalogPrev {
        display: none;
        cursor: pointer;
        padding: 12px 0;
        transition: .3s;
        position: relative;

        &:hover {
            color: var(--t-primary);
        }
    }

    &[data-selected='true'] {
        .additional {
            height: 0;
            margin: 0;
            opacity: 0;
        }

        .catalogPrev {
            display: block;
        }

        .categoryWrapper {
            padding-left: 8px;
        }

        .categoryIcon {
            display: none;
        }
    }
}

.categoryWrapper {
    overflow: hidden;
    
    &[data-selected='false'] {
        height: 48px;
        max-height: 48px;
    }

    &[data-selected='true'] {
        max-height: none;
        
        > .category {
            font-weight: 700;
        }
    }

    &[data-selected='none'] {
        display: none;
    }

    .categoryWrapper {
        padding-left: 8px;
    }

    @include media-breakpoint(xl) {
        padding-left: 0!important;
    }
}

.category {
    display: flex;
    padding: 12px 0;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    align-items: center;
    // margin-bottom: 24px;
    justify-content: space-between;

    &:hover {
        color: var(--t-primary);
    }

    &.active {
        pointer-events: none;
        color: var(--t-primary);
    }
}

.filters {
    display: none;
    width: adaptive-value((
        xs: 100vw,
        xl: 200px,
        xxl: 240px,
        xxxl: 304px,
    ));
    
    >* {
        margin-bottom: 36px;
    }

    .checker {
        margin-bottom: 16px;
    }
    
    @include media-breakpoint(xl-up) {
        display: block;

        .categories + & {
            padding-top: 64px;
        }
    }
}

.filter {
    overflow: hidden;
    position: relative;
    
    &[data-open='true'] {
        height: auto;
        overflow: visible;

        
        .filterIcon {
            opacity: 0;
        }
    }

    &[data-open='false'] {
        height: 28px;

        .filterHeader {
            > span {
                transform: rotate(180deg);
            }

            &+* {
                opacity: 0;
            }
        }
    }

    .filterHeader {
        display: flex;
        padding: 8px 0;
        cursor: pointer;
        transition: .3s;
        margin-bottom: 8px;
        justify-content: space-between;
    
        > span {
            transition: .3s;
        }
    
        &:hover {
            color: var(--t-primary);
        }
    }
    
    .filterIcon {
        opacity: 1;
        height: 18px;
        min-width: 18px;
        font-size: 10px;
        transition: .3s;
        margin-left: 8px;
        font-weight: 400;
        margin-top: -3px;
        position: absolute;
        border-radius: 50px;
        align-items: center;
        letter-spacing: 0px;
        display: inline-flex;
        justify-content: center;
        color: var(--t-background);
        background-color: var(--t-primary);
    }
}

// Cards
.cardWrapper {
    filter: none;
}

.cardsContainer {
    width: 100%;
    display: grid;
    grid-gap: 16px;
    // transition-delay: .5s;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(3, 1fr);

    @include media-breakpoint(xl-up) {
        padding-left: 32px;

        &[data-show='true'] {
            padding-left: 0;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @include media-breakpoint(lg) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media-breakpoint(md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint(sm-down) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 374px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cardFiller {
    width: 100%;
    height: 100%;
    padding: 4px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    background-color: var(--t-background);
    
    @include media-breakpoint(xl-up) {
        padding: 16px;
    }
}

.cardFillerText,
.cardFillerImage,
.cardFillerButton {
    background-color: var(--t-lightest);
}

.cardFillerImage {
    width: 100%;
    position: relative;
    border-radius: 8px;
    height: adaptive-value((
        xs: 180px,
        md: 230px,
        lg: 197px,
        xl: 217px,
        xxl: 281px
    ));
}

.cardFillerText {
    width: 100%;
    height: 24px;
    margin-top: 24px;
    border-radius: 8px;

    &+& {
        width: 70%;
    }

    &+&+& {
        width: 50%;
    }
}

.cardFillerButton {
    width: 100%;
    height: 44px;
    margin-top: 24px;
    position: relative;
    border-radius: 8px;

    @include media-breakpoint(xl-up) {
        height: 60px;
    }
}

.cardFillerAnimatron {
    left: 0;
    top: -40px;
    width: 30px;
    bottom: -40px;
    filter: blur(15px);
    position: absolute;
    background-color: var(--t-background);
    animation: lightning 0.8s ease-in-out 0s;
    transform: translateX(-150px) skew(-20deg);
}

@keyframes lightning {
    0% {
        transform: translateX(-150px) skew(-20deg);
    }
    100% {
        transform: translateX(500px) skew(-20deg);
    }
}

// Usefull
.pagination {
    width: 100%;
    padding: 16px 16px 20px 48px;

    &[data-open='true'] {
        padding: 16px 16px 20px;
    }

    .showBtn {
        min-height: 60px;
    }

    .paginationNav {
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .paginationPages {

        >div {
            width: 44px;
            height: 44px;
            cursor: pointer;
            transition: .3s;
            font-weight: 700;
            margin-left: 4px;
            line-height: 44px;
            text-align: center;
            border-radius: 8px;
            display: inline-block;

            &:hover {
                color: var(--t-primary);
            }

            &[data-active='true'] {
                background-color: var(--t-smallish);
            }

            >span {
                transform: translateY(3px);
            }
        }
    }

    @include media-breakpoint(lg-down) {
        display: none;
    }
}

.share {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    >.iconShare {
        height: 24px;
    }

    .iconShare {
        cursor: pointer;
        transition: .3s;
        position: relative;

        &:hover {
            color: var(--t-primary);
        }

        &::before {
            top: -10px;
            left: -10px;
            content: '';
            right: -10px;
            bottom: -10px;
            position: absolute;
        }
    }

    .additionalShare {
        // width: 0;
        opacity: 0;
        display: flex;
        transition: .3s;
        overflow: hidden;
        pointer-events: none;

        .iconShare {
            margin-left: 8px;
        }
    }

    &[data-open='true'] {
        >.iconShare {
            color: var(--t-primary);
        }

        .additionalShare {
            opacity: 1;
            // width: 152px;
            padding: 0 8px;
            overflow: visible;
            pointer-events: all;
        }
    }

    @include media-breakpoint(xl-up) {
        flex-direction: row;
    }
}

.colorCircleBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.colorCircle {
    z-index: 10;
    cursor: pointer;
    position: relative;

    &[data-onboard='true'] {
        .onboard {
            transform: scale(1);
            pointer-events: all;
        }

        .onboardText,
        .onboardLink {
            opacity: 1;
            transition-delay: .3s;
        }
    }

    .onboard {
        top: -299px;
        left: -299px;
        width: 618px;
        height: 618px;
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        pointer-events: none;
        background-color: rgba(17, 36, 77, 0.8);
        transition: .6s cubic-bezier(.5,-0.6,.6,1.5);
        clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 50%, 54% 50%,53.85% 48.92%,53.42% 47.92%,52.73% 47.08%,51.84% 46.45%,50.81% 46.08%,49.73% 46.01%,48.66% 46.23%,47.69% 46.73%,46.90% 47.48%,46.33% 48.41%,46.04% 49.46%,46.04% 50.54%,46.33% 51.59%,46.90% 52.52%,47.69% 53.27%,48.66% 53.77%,49.73% 53.99%,50.81% 53.92%,51.84% 53.55%,52.73% 52.92%,53.42% 52.08%,53.85% 51.08%,54% 50%);
    }

    .onboardText,
    .onboardLink {
        opacity: 0;
        transition: .3s;
        max-width: 185px;
        text-align: right;
        position: absolute;
        right: calc(50% + 50px);
        color: var(--t-background);
    }

    .onboardText {
        top: 240px;
        white-space: normal;
    }

    .onboardLink {
        top: 380px;

        &:hover {
            transition-delay: 0s;
            color: var(--t-primary);
        }
    }

    .colorIcon {
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }

    > * {
        display: block;
    }
    
    @include media-breakpoint(xl-up) {
        .colorIcon {
            margin-left: 0;
        }

        .onboardText {
            top: 250px;
            max-width: 222px;
        }

        .onboardLink {
            top: 360px;
        }
    }

    @include media-breakpoint(lg-down) {
        .onboard {
            left: -280px;
        }
    }

    @include media-breakpoint(sm-down) {
        .onboard {
            top: -190px;
            left: -170px;
            width: 400px;
            height: 400px;
        }

        .onboardText {
            top: 134px;
            font-size: 14px;
            max-width: 160px;
            right: calc(50% + 30px);
        }
        .onboardLink {
            top: 258px;
            right: calc(50% + 30px);
        }
    }
}

.favourite {
    margin: 0 0 0 12px;
    padding: 0 0 0 8px;

    @include media-breakpoint(xl-up) {
        margin: 0 12px;
        padding: 0 8px;
    }
}

.previousButton {
    height: 60px;
    align-self: center;
    margin-bottom: 32px;
    width: adaptive-value((
        xs: 100%,
        xl: 348px,
        xxl: 444px,
        xxxl: 600px,
    ));

    &[data-hidden='true'] {
        display: none;
    }
}

.countItemsMob {
    margin-top: -16px;
    align-self: center;
    margin-bottom: 40px;
}

.filterLinkIcon {
    opacity: 1;
    height: 18px;
    min-width: 18px;
    font-size: 10px;
    transition: .3s;
    margin-left: 8px;
    font-weight: 400;
    border-radius: 50px;
    align-items: center;
    letter-spacing: 0px;
    display: inline-flex;
    justify-content: center;
    color: var(--t-background);
    transform: translateY(-1px);
    background-color: var(--t-primary);

    &[data-selected='false'] {
        display: none;
    }
}