@import "/styles/mixins/helpers/media";
@import "/styles/mixins/helpers/adaptive-value";

.price {
    padding: 4px 0;
    min-height: 44px;
    font-weight: 400;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: calc(100% - 72px);

    .actualPrice {
        font-size: adaptive-value(
            (
                xs: 22px,
                lg: 16px,
                xxl: 20px,
                xxxl: 22px
            )
        );
    }

    .priceEmpty {
        color: var(--t-lighter);
        font-size: adaptive-value(
            (
                xs: 22px,
                lg: 16px,
                xl: 16px,
                xxl: 20px,
                xxxl: 22px
            )
        );
    }

    > div {
        margin-top: 2px;
        font-size: adaptive-value(
            (
                xs: 16px,
                lg: 12px,
                xxl: 14px,
                xxxl: 16px
            )
        );
    }

    [data-giant="true"] & {
        .actualPrice {
            font-size: adaptive-value(
                (
                    xs: 22px,
                    md: 28px,
                    lg: 24px,
                    xl: 26px,
                    xxl: 28px,
                    xxxl: 28px
                )
            );
        }

        .priceEmpty {
            font-size: adaptive-value(
                (
                    xs: 22px,
                    md: 28px,
                    lg: 24px,
                    xl: 26px,
                    xxl: 28px,
                    xxxl: 28px
                )
            );
        }

        > div {
            font-size: adaptive-value(
                (
                    xs: 16px,
                    md: 20px,
                    lg: 16px,
                    xl: 18px,
                    xxl: 20px,
                    xxxl: 20px
                )
            );
        }
    }
}
