/**
 * Heading styles/sizes for elements
 *
 * @demo
 *     <h2 class="h1">Looks like first level heading</h2>
 */

h1, .h1 { @extend h1; }
h2, .h2 { @extend h2; }
h3, .h3 { @extend h3; }
h4, .h4 { @extend h4; }
h5, .h5 { @extend h5; }

h1, h2, h3, h4, h5 {
    color: color-use(heading);
    @extend %text--style-heading;
}

h1, h2, h3, h4, h5,
hr, p, blockquote, table, iframe, object, pre,
figure {
    margin: 0;
}

/**
 * Font family / style
 *
 * @demo
 *     <p class="text--heading">Text with same style as heading</p>
 */

.text--heading { @extend %text--style-heading; }
.text--default { @extend %text--style-default; }
.text--color-primary { color: color-use(primary); }
.text--color-heading { color: color-use(heading); }
.text--color-disabled { color: color-use(disabled); }
.text--color-small { color: color-use(small); }
.text--color-smaler { color: color-use(_light-gray); }
.text--color-smallish { color: color-use(smallish); }
.text--color-smallest { color: #A9B0BE; }
.text--color-text { color: color-use(text); }

.text {
    &--p1 { @extend %text--size-p1; }
    &--p2 { @extend %text--size-p2; }
    &--p3 { @extend %text--size-p3; }
    &--p4 { @extend %text--size-p4; }
    &--p5 { @extend %text--size-p5; }
    &--p6 { @extend %text--size-p6; }
    &--p7 { @extend %text--size-p7; }
    &--t1 { @extend %text--size-t1; }
    &--t2 { @extend %text--size-t2; }
    &--t3 { @extend %text--size-t3; }
    &--t4 { @extend %text--size-t4; }
    &--t5 { @extend %text--size-t5; }
    &--t6 { @extend %text--size-t6; }
    &--c1 { @extend %text--size-c1; }
    &--c2 { @extend %text--size-c2; }
    &--c3 { @extend %text--size-c3; }
    &--c4 { @extend %text--size-c4; }
    &--c5 { @extend %text--size-c5; }
    &--h1 { @extend %text--size-h1; }
    &--h2 { @extend %text--size-h2; }
    &--h3 { @extend %text--size-h3; }
    &--h4 { @extend %text--size-h4; }
    &--h5 { @extend %text--size-h5; }
    &--a3 { @extend %text--size-a3; }
    &--a4 { @extend %text--size-a4; }
}

.text--left { text-align: left;}
.text--right { text-align: right; }
.text--center { text-align: center; }

.text--thin { font-weight: 300!important; }
.text--normal { font-weight: 400!important; }
.text--regular { font-weight: 400!important; }
.text--semi { font-weight: 600!important; }
.text--bold { font-weight: 700!important; }
.text--no-wrap { white-space: nowrap; }

@include media-breakpoint(md-up) {
    .text--left\:md {
        text-align: left;
    }
    .text--right\:md {
        text-align: right;
    }
    .text--center\:md {
        text-align: center;
    }
}

@include media-breakpoint(sm-down) {
    .text--left\:sm-down {
        text-align: left;
    }
    .text--right\:sm-down {
        text-align: right;
    }
    .text--center\:sm-down {
        text-align: center;
    }
}


/**
 * Prevent text wrapping
 *
 * @demo
 *     <p class="text--nowrap">
 *         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
 *         pharetra sed erat convallis suscipit. Vestibulum at interdum neque.
 *     </p>
 */

.text--nowrap { white-space: nowrap !important; }


/**
 * Truncate text adding dots at the end of the line if needed
 *
 * @demo
 *     <p class="text--truncate">
 *         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
 *         pharetra sed erat convallis suscipit. Vestibulum at interdum neque.
 *     </p>
 */

.text--truncate {
    white-space:   nowrap   !important;
    overflow:      hidden   !important;
    text-overflow: ellipsis !important;
}

.text--upper {
    text-transform: uppercase;
}

.text--sparse {
    letter-spacing: 1.5px;
}

.text--underline {
    text-decoration: underline;
    text-underline-offset: 2px;
}