/**
 * Heading styles/sizes for elements
 *
 * @demo
 *     <h2 class="h1">Looks like first level heading</h2>
 */

h1, .h1 { @extend h1; }
h2, .h2 { @extend h2; }
h3, .h3 { @extend h3; }
h4, .h4 { @extend h4; }
h5, .h5 { @extend h5; }

h1, h2, h3, h4, h5 {
    color: color-use(heading);
    @extend %text--style-heading;
}

h1, h2, h3, h4, h5,
hr, p, blockquote, table, iframe, object, pre,
figure {
    margin: 0;
}

/**
 * Font family / style
 *
 * @demo
 *     <p class="text--heading">Text with same style as heading</p>
 */

.text--heading { @extend %text--style-heading; }
.text--default { @extend %text--style-default; }
.text--color-primary { color: color-use(primary); }
.text--color-heading { color: color-use(heading); }
.text--color-small { color: color-use(small); }
.text--color-smallish { color: color-use(smallish); }
.text--color-text { color: color-use(text); }

.text {
    &--p1 { @extend %text--size-p1; }
    &--p2 { @extend %text--size-p2; }
    &--p3 { @extend %text--size-p3; }
    &--p4 { @extend %text--size-p4; }
    &--p5 { @extend %text--size-p5; }
    &--t1 { @extend %text--size-t1; }
    &--t2 { @extend %text--size-t2; }
    &--t3 { @extend %text--size-t3; }
    &--t4 { @extend %text--size-t4; }
    &--t5 { @extend %text--size-t5; }
    &--c1 { @extend %text--size-c1; }
    &--c2 { @extend %text--size-c2; }
    &--c3 { @extend %text--size-c3; }
    &--c4 { @extend %text--size-c4; }
    &--c5 { @extend %text--size-c5; }
}

.text--left { text-align: left;}
.text--right { text-align: right; }
.text--center { text-align: center; }

@include media-breakpoint(md-up) {
    .text--left\:md {
        text-align: left;
    }
    .text--right\:md {
        text-align: right;
    }
    .text--center\:md {
        text-align: center;
    }
}


/**
 * Prevent text wrapping
 *
 * @demo
 *     <p class="text--nowrap">
 *         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
 *         pharetra sed erat convallis suscipit. Vestibulum at interdum neque.
 *     </p>
 */

.text--nowrap { white-space: nowrap !important; }


/**
 * Truncate text adding dots at the end of the line if needed
 *
 * @demo
 *     <p class="text--truncate">
 *         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
 *         pharetra sed erat convallis suscipit. Vestibulum at interdum neque.
 *     </p>
 */

.text--truncate {
    white-space:   nowrap   !important;
    overflow:      hidden   !important;
    text-overflow: ellipsis !important;
}
