/*
 * Font weight name constants
 * Based on https://github.com/jonathantneal/css-font-weight-names
 */

$thin:          100;
$extra-light:   200;
$ultra-light:   $extra-light;
$light:         300;
$regular:       400;
$book:          $regular;
$normal:        $regular;
$roman:         $regular;
$medium:        500;
$semi-bold:     600;
$demi-bold:     $semi-bold;
$bold:          700;
$extra-bold:    800;
$ultra-bold:    $extra-bold;
$black:         900;
$heavy:         $black;
 
/*
 * Text
 *
 * Settings for text, fonts, sizes
 */

$text-default-font:      'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-default-weight:    $regular;
$text-default-transform: none;
$text-heading-font:      'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-heading-weight:    $regular;
$text-heading-transform: none;

$text-wysiwyg-transform: none;
$text-code-font: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$text-styles: (
    default:    ( font-family: $text-default-font, font-weight: $text-default-weight, text-transform: $text-default-transform, letter-spacing: 0.5px ),
    heading:    ( font-family: $text-heading-font, font-weight: $text-heading-weight, text-transform: $text-heading-transform, letter-spacing: 0.5px ),
    wysiwyg:    ( font-family: $text-default-font, font-weight: $text-default-weight, text-transform: $text-wysiwyg-transform, letter-spacing: 0.5px ),
    code:       ( font-family: $text-code-font ),
);


/**
 * Text sizes from Figma, we create separate SCSS variables for each style
 * which we then can use in $text-sizes
 */
/*
 * Text
 *
 * Settings for text, fonts, sizes
 */

$text-default-weight: $regular;
$text-heading-weight: $regular;
$text-default-font:   'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-heading-font:   'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ProximaNova
$text-g2:      ( font-size: 14rem,   line-height: 80 / 56 * 1em );
$text-g3:      ( font-size: 9.6rem,  line-height: 60 / 57 * 1em );
$text-g4:      ( font-size: 8.0rem,  line-height: 51 / 64 * 1em );

$text-h1:      ( font-size: 5.2rem,  line-height: 70 / 70 * 1em, font-weight: $bold );
$text-h2:      ( font-size: 4.8rem,  line-height: 70 / 70 * 1em, font-weight: $bold );
$text-h3:      ( font-size: 4.4rem,  line-height: 70 / 70 * 1em, font-weight: $bold );
$text-h4:      ( font-size: 3.6rem,  line-height: 70 / 70 * 1em, font-weight: $bold );
$text-h4-sm:   ( font-size: 3.2rem,  line-height: 70 / 70 * 1em, font-weight: $bold );
$text-h5:      ( font-size: 2.8rem,  line-height: 70 / 70 * 1em, font-weight: $bold );
$text-h5-sm:   ( font-size: 2.4rem,  line-height: 120 / 70 * 1em, font-weight: $bold );
$text-h5-xs:   ( font-size: 2.0rem,  line-height: 120 / 70 * 1em, font-weight: $bold );
$text-h6:      ( font-size: 1.6rem,  line-height: 70 / 70 * 1em, font-weight: $bold );

// TT Common
$text-p0-xxl:  ( font-size: 4.8rem,  line-height: 30 / 18 * 1em );
$text-p0:      ( font-size: 3.2rem,  line-height: 30 / 18 * 1em );
$text-p1:      ( font-size: 2.8rem,  line-height: 30 / 18 * 1em );
$text-p2:      ( font-size: 2.4rem,  line-height: 18 / 15 * 1em );
$text-p2-sm:   ( font-size: 2.0rem,  line-height: 18 / 15 * 1em );
$text-p3:      ( font-size: 1.8rem,  line-height: 16 / 12 * 1em );
$text-p4:      ( font-size: 1.6rem,  line-height: 18 / 12 * 1em );
$text-p5:      ( font-size: 1.4rem,  line-height: 16 / 12 * 1em );
$text-p6:      ( font-size: 1.2rem,  line-height: 20 / 12 * 1em );
$text-p7:      ( font-size: 1.0rem,  line-height: 12 / 12 * 1em );

// TT Common
$text-t0-xl:   ( font-size: 2.4rem,  line-height: 24 / 24 * 1em, font-weight: $bold );
$text-t0:      ( font-size: 2.2rem,  line-height: 24 / 24 * 1em, font-weight: $bold );
$text-t1:      ( font-size: 2.0rem,  line-height: 24 / 24 * 1em, font-weight: $bold );
$text-t2:      ( font-size: 1.8rem,  line-height: 20 / 20 * 1em, font-weight: $bold );
$text-t3:      ( font-size: 1.6rem,  line-height: 15 / 15 * 1em, font-weight: $bold );
$text-t4:      ( font-size: 1.6rem,  line-height: 20 / 15 * 1em, font-weight: $normal );
$text-t5:      ( font-size: 1.4rem,  line-height: 15 / 15 * 1em, font-weight: $normal );
$text-t6:      ( font-size: 1.2rem,  line-height: 20 / 15 * 1em, font-weight: $bold );

// TT Common
$text-c1:      ( font-size: 5.6rem,  line-height: 20 / 15 * 1em );
$text-c2:      ( font-size: 3.6rem,  line-height: 18 / 16 * 1em );
$text-c3:      ( font-size: 3.2rem,  line-height: 16 / 12 * 1em );
$text-c4:      ( font-size: 2.4rem,  line-height: 14 / 10 * 1em );
$text-c5:      ( font-size: 2.0rem,  line-height: 14 / 10 * 1em );

// TT Common
$text-a1:      ( font-size: 5.6rem,  line-height: 20 / 15 * 1em );
$text-a2:      ( font-size: 3.6rem,  line-height: 18 / 16 * 1em );
$text-a3:      ( font-size: 2.8rem,  line-height: 16 / 12 * 1em );
$text-a4:      ( font-size: 2.0rem,  line-height: 10 / 10 * 1em );
$text-a5:      ( font-size: 1.6rem,  line-height: 14 / 10 * 1em );
$text-a6:      ( font-size: 1.4rem,  line-height: 10 / 10 * 1em );
$text-a7:      ( font-size: 1.0rem,  line-height: 10 / 10 * 1em );

$text-sizes: (
    xs: (
        'default':      $text-p3,
        'default-md':   $text-p3,
        'default-xs':   $text-c3,
        'small':        $text-p3,
        'lead':         $text-p1,
        // Headings
        'h1':           $text-h1,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4, // used
        'h5':           $text-h5, // used
        'h6':           $text-p2,
        // Caption
        'c1':           $text-c2, // used
        'c2':           $text-c4, // used
        'c3':           $text-c3,
        'c4':           $text-c5, // used
        'c5':           $text-c5,
        'a2':           $text-a3, // used
        'a3':           $text-a4, // used
        'a4':           $text-a6, // used
        'a5':           $text-a5, // used
        'a6':           $text-a6, // used
        'a7':           $text-a7, // used

        // Text
        't1':           $text-t1, // used
        't2':           $text-t2, // used
        't3':           $text-t3,
        't4':           $text-t4,
        't5':           $text-t5,
        't6':           $text-t6,
        'p1':           $text-p1,
        'p2':           $text-p2,
        'p3':           $text-p3,
        'p4':           $text-p4,
        'p5':           $text-p5,
        'p6':           $text-p6,
        'p7':           $text-p7,
    ),

    md: (
        // Headings
        'h1':           $text-h1,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h5,
        // Text

        // Caption
        'c1':           $text-c1,
        'c2':           $text-c2,
        'c3':           $text-c3,
        'c4':           $text-c4,
        'c5':           $text-c5,
        'a4':           $text-a4, // used
    ),

    lg: (
        // Headings
        'h1':           $text-h1,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h5,
        // Text

        // Caption
        'c1':           $text-c1,
        'c2':           $text-c2,
        'c3':           $text-c3,
        'c4':           $text-c4,
        'c5':           $text-c5,
        'a7':           $text-a6, // used
    ),

    xl: (
        // Headings
        'h1':           $text-h3,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h4,

        // Text

        // Caption
        'c1':           $text-c1,
        'c2':           $text-c2,
        'c3':           $text-c3,
        'c4':           $text-c4,
        'c5':           $text-c5,
        'a2':           $text-a2, // used
        'a5':           $text-a5, // used
        'a6':           $text-a4, // used
    ),

    xxl: (
        // Headings
        'h1':           $text-h3,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h5,

        // Text

        // Caption
        'c1':           $text-c1,
        'c2':           $text-c2,
        'c3':           $text-c3,
        'c4':           $text-c4,
        'c5':           $text-c5,
        'a3':           $text-a3, // used
    ),

    xxxl: (
        // Headings
        'h1':           $text-h1,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h4,

        // Caption
        'c1':           $text-c2,
        'c2':           $text-c3,
        'c3':           $text-c4,
        'c4':           $text-c5,
        'c5':           $text-c5,
    ),
);
