html {
    font-size: 62.5%; // 1rem === 10px
}

body {
    @extend %text--size-default;
}

body,
input,
textarea,
button {
    // Color
    font-kerning: normal;
    color: color-use(text);
    font-feature-settings: "kern" 1;
    text-rendering: optimizeLegibility;

    @extend %text--style-default;
}

small {
    @extend %text--size-small;
}

a {
    color: inherit;
    cursor: pointer;
    transition: .3s;
    font-weight: $light;
    text-decoration: none;

    &:hover,
    &.active {
        color: color-use(primary);
    }
}