.link {
    display: inline-block;
    position: relative;

    &--underline {

        &::before,
        &::after {
            bottom: 0;
            height: 1px;
            content: '';
            transition: .3s;
            position: absolute;
            background-color: var(--c-dark-lines);
        }

        &::after {
            left: 0;
            right: 30%;
            transform: translateY(11px);
        }

        &::before {
            right: 0;
            left: 70%;
            transform: translateY(10px);
        }

        &:hover {

            &::before,
            &::after {
                background-color: color-use(primary);
            }
        }
    }
}

.btn {
    display: flex;
    transition: .3s;
    padding: 16px 22px;
    border-radius: 60px;
    align-items: center;
    color: color-use(text);
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #B1BBC740;

    >span {
        margin-left: 10px;
    }



    // &--md {
    //     padding: 16px 22px;
    //     border-radius: 60px;
    // }

    &:hover {
        color: color-use(primary);
        box-shadow: 0px 4px 4px rgba(135, 18, 252, 0.15);
    }
}

.btn-container {
    display: flex;
    flex-wrap: wrap;

    .btn {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}