body > div {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.motion-container {
    display: flex;
    min-width: 100%;
    transform-origin: 40%;
}

.container {
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: calc(100% - var(--spacing) * 2);
    background-color: color-use(background);
    padding: calc(var(--spacing) * 1.7) calc(var(--spacing) * 2);

    &.no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.col {
    width: 50%;
    flex-grow: 0;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;

    &--between {
        justify-content: space-between;
    }

    &--center {
        align-items: center;
        justify-content: center;
    }
}

.scroll-container {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;

    .scroll-section {
        width: 100%;
        height: 100%;
        display: flex;
        min-height: 100%;
        margin-bottom: calc(var(--spacing) * 2);
    }
}