.rc-slider {
    &-rail {
        height: 1px !important;
        transform: translateY(4px) !important;
        background-color: var(--t-text) !important;
    }

    &-track {
        height: 1px !important;
        opacity: 100% !important;
        transform: translateY(4px) !important;
        background-color: var(--t-primary) !important;
    }

    &-handle {
        opacity: 1 !important;
        width: 20px !important;
        height: 20px !important;
        cursor: auto !important;
        box-shadow: none !important;
        border-width: 1px !important;
        border-color: var(--t-text) !important;
        background-color: var(--t-background) !important;
    }

    &-handle-dragging {
        border-color: var(--t-primary) !important;
    }
}

.searched-childrens {
    overflow-y: auto;
    max-height: 300px;
}

.modal {
    .reset {
        z-index: 3;
        position: absolute;
        top: adaptive-value(( xs: -3px, md: 10px ));
        right: adaptive-value((
            xs: 16px,
            md: 32px,
            lg: 48px,
            xl: 72px,
        ));
    }

    .searched-childrens {
        max-height: none;
    }
}

.input-search {
    display: block;
    color: #989898;
    position: relative;

    &__icon {
        right: 0;
        bottom: 13px;
        position: absolute;
    }

    &__empty {
        display: none;

        &[data-searched='true'] {
            display: block;
        }
    }
}

.input {
    border: 0;
    width: 100%;
    outline: none;
    display: block;
    font-size: 20px;
    transition: .3s;
    font-weight: 400;
    border-radius: 0;
    padding-bottom: 12px;
    color: var(--t-disabled);
    border-bottom: 1px solid var(--t-disabled);

    &::placeholder {
        color: var(--t-disabled);
    }

    &[data-focus='true'],
    &:focus {
        color: var(--t-text);
        border-bottom: 1px solid var(--t-text);
    }
}

.item-selector {
    &__label {
        display: flex;
        cursor: pointer;
        padding: 12px 0;
        transition: .3s;
        max-width: 200px;
        align-items: center;

        &:hover {
            color: var(--t-primary);
        }
    }

    input[type='checkbox'] {
        display: none;
    }

    &__checkbox {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        transition: 0.3s;
        position: relative;
        margin-right: 16px;
        border-radius: 4px;
        border: 2px solid var(--t-text);

        &::after {
            top: 0;
            left: 1px;
            width: 15px;
            height: 15px;
            content: '';
            position: absolute;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/icons/icon-check-white.svg');
        }
    }

    input:checked ~ &__checkbox {
        border-color: var(--t-primary);
        background-color: var(--t-primary);
    }

    &__color-icon {
        width: 12.5px;
        height: 12.5px;
        margin-right: 11px;
        border-radius: 50%;

        &[data-color='white'] {
            border: 1px solid #E5E5E5;
            background-color: #FFFFFF;
        }

        &[data-color='fill'] {
            background: linear-gradient(223deg,
                rgba(4, 255, 14, 1) 0%,
                rgba(253, 196, 0, 1) 50%,
                rgba(225, 41, 33, 1) 100%);
        }

        &[data-color='silver'] { background-color: #E5E5E5; }
        &[data-color='black'] { background-color: #112233; }
        &[data-color='red'] { background-color: #E21B25; }
        &[data-color='blue'] { background-color: #0092DD; }
        &[data-color='yellow'] { background-color: #FDC400; }
        // &[data-color='black'] { background-color: #112233; }
        // &[data-color='black'] { background-color: #112233; }
        // &[data-color='black'] { background-color: #112233; }
    }

    &__name {
        font-size: 16px;
    }
}

.input-switch {
    width: 28px;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    display: inline-block;

    input {
        display: none;
    }

    &__background {
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        transition: .3s;
        position: absolute;
        pointer-events: none;
        background-color: #11244D;
    }

    input:checked ~ &__background {
        background-color: var(--t-primary);
    }

    &__base {
        width: 10px;
        height: 10px;
        transition: .3s;
        position: absolute;
        border-radius: 50%;
        transform: translate(4px, 3px);
        background-color: var(--t-background);
    }

    input:checked ~ &__base {
        transform: translate(15px, 3px);
    }
}

.checker {
    display: flex;
    cursor: pointer;
    align-items: center;
    
    .input-switch {
        margin-right: 8px;
    }
}

.reset {
    opacity: 1;
    transition: .3s;
    padding-top: 16px;
    text-align: right;

    &[data-changed='false'] {
        opacity: 0;
        pointer-events: none;
    }

    span {
        cursor: pointer;
    }
}

.range-delim {
    min-width: 40px;
    color: #989898;
    text-align: center;

    @include media-breakpoint(xl) {
        opacity: 0;
        min-width: 10px;
    }
}