.search {

    &__item {
        display: flex;
        transition: .3s;
        position: relative;
        margin-bottom: 20px;
        color: color-use(text);
        flex-direction: column;
        
        &__sub {
            top: 0;
            position: absolute;
            color: color-use(text);
        }

        &__main {
            margin-top: 30px;
            margin-right: 30px;
        }

        &:hover {
            color: color-use(primary);
        }

        &--single {
            * {
                margin-top: 0;
            }
        }
    }

    @include media-breakpoint(sm-down) {
        svg {
            color: color-use(primary);
            margin-top: calc(var(--spacing) / 2);
        }
    }

    @include media-breakpoint(md-up) {
        &__item {
            flex-direction: row;
            align-items: center;
        }
    }
}

.form-input {
    width: 100%;
    height: 70px;
    display: block;
    max-width: 360px;
    position: relative;

    &::before,
    &::after {
        bottom: 0;
        height: 1px;
        content: '';
        transition: .3s;
        position: absolute;
        background-color: var(--c-dark-lines);
    }

    &::after {
        left: 0;
        right: 30%;
        transform: translateY(11px);
    }

    &::before {
        right: 0;
        left: 70%;
        transform: translateY(10px);
    }

    input {
        border: 0;
        width: 100%;
        outline: none;
        padding: 10px 0;
        background-color: color-use(background);
    }

    span {
        display: block;
        transition: .3s;
        pointer-events: none;
        @extend %text--size-t2;
        transform: translateY(30px);
    }

    &[data-focus="true"] span {
        @extend %text--size-p3;
        transform: translateY(0);
    }
}