/**
 * Hidden element state
 *
 * @demo
 *     <div class="is-hidden">Hidden element</div>
 *     <div class="is-hidden--sm-down">Element hidden only on mobile</div>
 */

.is-hidden,
.is-hidden--xs-up,
.is-hidden--xxxl-down {
    display: none !important;
}

@include media-breakpoint('not-print') {
    .is-hidden--not-print,
    .is-visible--print-only {
        display: none !important;
    }
}
@include media-breakpoint('print') {
    .is-hidden--print {
        display: none !important;
    }
}

@each $breakpoint in $media-breakpoints {
    @include media-breakpoint('#{$breakpoint}') {
        .is-hidden--#{$breakpoint} {
            display: none !important;
        }
    }

    @include media-breakpoint('#{$breakpoint}-up') {
        .is-hidden--#{$breakpoint}-up {
            display: none !important;
        }
    }

    @include media-breakpoint('#{$breakpoint}-down') {
        .is-hidden--#{$breakpoint}-down {
            display: none !important;
        }
    }
}


/*
 * CSS variables for SVG icons to show different shapes on mobile
 */

:root {
    --is-visible--sm-down: block;
    --is-visible--md-xxl: none;
    --is-visible--md-up: none;
    --is-visible--xl-down: block;
    --is-visible--xxl-up: none;
    --is-visible--xxxl: none;
}

@include media-breakpoint('md-up') {
    :root {
        --is-visible--sm-down: none;
        --is-visible--md-xxl: block;
        --is-visible--md-up: block;
    }
}
@include media-breakpoint('xxl-up') {
    :root {
        --is-visible--xl-down: none;
        --is-visible--xxl-up: block;
    }
}
@include media-breakpoint('xxxl-up') {
    :root {
        --is-visible--md-xxl: none;
        --is-visible--xxxl: block;
    }
}
