.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    &--xxs {
        margin-left: 5px;
        margin-right: 5px;
    }

    &--xs {
        margin-left: 10px;
        margin-right: 10px;
    }

    &--sm {
        margin-left: calc(var(--spacing) * 1);
        margin-right: calc(var(--spacing) * 1);
    }

    &--md {
        margin-left: calc(var(--spacing) * 1.5);
        margin-right: calc(var(--spacing) * 1.5);
    }

    &--lg {
        margin-left: calc(var(--spacing) * 2);
        margin-right: calc(var(--spacing) * 2);
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.btn {
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    padding: adaptive-value((
        xs: 8px 12px,
        xxl: 12px 16px,
    ));

    .icon + .btn__text {
        margin-left: 8px;
    }

    .btn__text + .icon {
        margin-left: 8px;
    }

    &:hover {
        color: color-use(primary);
    }

    &--primary {
        color: color-use(background);
        background-color: color-use(primary);

        &:hover {
            color: color-use(background);
            background-color: color-use(tetriary);
        }
    }

    &--secondary {
        color: color-use(background);
        background-color: color-use(dark);
    }

    &--tetriary {
        background-color: color-use(smallish);
    }

    &--xs {
        padding: 11px 11px;
        border-radius: 8px;
    }

    &--sm {
        padding: 16px 16px;
        border-radius: 8px;
    }

    &--lg {
        padding: 23px 54px;
        border-radius: 8px;
    }
}