.menu-wrapper {
    display: flex;

    &[data-state="open"] {
        .menu__burger {
            div:nth-child(2) {
                opacity: 0;
            }

            div:nth-child(1) {
                transform: rotate(45deg);

                &::after {
                    top: 0;
                    transform: scaleX(1.2);
                }
            }

            div:nth-child(3) {
                transform: rotate(-45deg);

                &::after {
                    top: 0;
                    transform: scaleX(1.2);
                }
            }
        }
    }

    &[data-state="awaiting"] {

        .transitor--top .transitor__line,
        .transitor--bottom .transitor__line {
            height: 1px !important;
            background-color: color-use(light-gray) !important;
        }
    }

    &[data-state="menu"],
    &[data-state="lang"],
    &[data-state="phone"],
    &[data-state="search"] {

        .transitor--top .transitor__line,
        .transitor--bottom .transitor__line {
            transition: .1s background-color 1.5s;
            background-color: color-use(light-gray) !important;
        }
    }
}

.menu {
    z-index: 6;
    height: 100vh;
    display: flex;
    min-width: 120px;
    position: relative;
    align-items: center;
    pointer-events: all;
    color: color-use(text);
    flex-direction: column;
    justify-content: space-around;
    background-color: color-use(background);
    transition: 1s background-color, 0.5s color;
    border-right: 1px solid color-use(light-gray);

    &__burger {
        z-index: 2;
        width: 24px;
        height: 24px;
        display: flex;
        padding: 4px 2px;
        position: relative;
        flex-direction: column;
        justify-content: space-between;

        >div {
            width: 50%;
            height: 1px;
            transition: .4s;
            position: relative;
            transform-origin: center left;
            background-color: color-use(dark-violet);

            &::after {
                top: -1px;
                width: 100%;
                height: 1px;
                content: '';
                right: -100%;
                transition: .4s;
                position: absolute;
                background-color: color-use(dark-violet);
            }
        }
    }

    &__wrapper {
        top: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        transition: 1s background-color;
        background-color: color-use(background);
        border-right: 1px solid color-use(primary);
    }

    &__nav {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        padding: 120px 0 120px 50vw;
        transform: translateX(100vw);
        justify-content: space-between;
        background-color: color-use(background);
        transition: 1s background-color, 0.5s color;
        border-right: 1px solid color-use(light-gray);

        &__image {
            width: 538px;
            right: -240px;
            height: 538px;
            position: absolute;
            top: calc(50% - 270px);

            img {
                width: 100%;
                height: 100%;
                animation: rotateTransitorImage 60s linear infinite;
            }
        }

        a.active {
            color: color-use(tetriary);
            pointer-events: none;
        }
    }

    &__controls {
        >* {
            margin-bottom: 24px;
        }
    }

    &__lang {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        >* {
            transition: .3s;
            margin-bottom: 40px;

            &:hover {
                color: color-use(primary);
            }
        }

        *[data-active="true"] {
            color: color-use(tetriary);
        }
    }
}

.transitor {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    transition: 1s background-color;
    background-color: color-use(background);

    &--top {
        left: 0;
        right: 0;
        bottom: 0;

        .transitor__line {
            left: 0;
            right: 0;
            bottom: 0;
            // transform: rotate(-90deg);
            // transform-origin: bottom;
            background-color: color-use(tetriary);
        }

        .transitor__image {
            width: 275px;
            bottom: 30px;
            height: 275px;
            left: calc(60vw + 30px);
            animation-direction: alternate;
        }
    }

    &--left {
        top: 0;
        right: 0;
        bottom: 0;

        .transitor__image {
            display: none;
        }

        .transitor__line {
            top: 0;
            right: 0;
            bottom: 0;
            background-color: color-use(primary);
        }

        .ui-transparent & .transitor__line {
            background-color: color-use(light-gray);
        }
    }

    &--right {
        top: 0;
        left: 0;
        bottom: 0;

        .transitor__image {
            display: none;
        }

        .transitor__line {
            top: 0;
            left: 0;
            bottom: 0;
            background-color: color-use(primary);
        }
    }

    &--bottom {
        top: 0;
        left: 0;
        right: 0;

        .transitor__image {
            top: -200px;
            width: 470px;
            height: 470px;
            left: calc(40vw + 200px);

        }

        .transitor__line {
            top: 0;
            left: 0;
            right: 0;
            // transform-origin: top;
            // transform: rotate(90deg);
            background-color: color-use(tetriary);
        }
    }

    &__line {
        position: absolute;
    }

    &__image {
        position: absolute;

        img {
            width: 100%;
            height: 100%;
            animation: rotateTransitorImage 60s linear infinite;
        }
    }
}

@keyframes rotateTransitorImage {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-container {
    filter: none;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    transition: .5s;
    flex-basis: 100%;
    transform: scale(1);

    &[data-show="transition-start"] {
        transform: scale(0.8);
        filter: brightness(80%) blur(2px);
    }
}

.bread {
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: color-use(background);
    transition: 1s background-color, 0.5s color;

    &__filler {
        &--1 {
            height: 24px;
        }

        &--2 {
            height: 144px;
        }

        &--3 {
            height: 52px;
        }
    }

    &__line {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        justify-content: space-around;

        &+&::after {
            top: 0;
            bottom: 0;
            width: 1px;
            z-index: 4;
            content: '';
            height: 100%;
            position: absolute;
            background-color: color-use(light-gray);
        }

        &:last-child {
            pointer-events: none;
        }
    }

    &__text {
        z-index: 5;
        width: 50px;
        height: 153px;
        display: flex;
        min-width: 50px;
        position: relative;
        align-items: center;
        justify-content: center;

        >* {
            white-space: nowrap;
            color: color-use(text);
            transform: rotate(-90deg);
        }
    }
}