.modal {
    left: 0;
    right: 0;
    top: -1px;
    opacity: 0;
    z-index: 15;
    bottom: -1px;
    position: fixed;
    pointer-events: none;
    transition-delay: 1s;

    &[data-open='true'] {
        opacity: 1;
        pointer-events: all;
        transition-delay: 0s;

        .modal__layout {
            opacity: .7;
            transition-delay: 0s;
        }
    }

    @include media-breakpoint(lg-up) {
        &[data-open='false'] {
            .modal__content {
                margin-right: -12px; // Иначе дрыгает
            }
        }
    }

    &__content,
    &__content--full-height {
        right: 0;
        bottom: 0;
        display: flex;
        position: fixed;
        max-height: 100vh;
        overflow-x: hidden;
        flex-direction: column;
        transform: translateX(100vw);
        background-color: color-use(background);
        width: adaptive-value((
            xs: 100vw,
            md: 620px,
            lg: 452px,
            xl: 528px,
            xxl: 644px,
            xxxl: 684px
        ));
        padding: adaptive-value((
            xs: 16px 16px 28px,
            md: 28px 32px 0,
            lg: 28px 48px 0,
            xl: 28px 72px 0,
        ));
    }

    &__content {
        overflow-y: auto;
        border-radius: 16px 16px 0px 0px;

        @include media-breakpoint(sm-down) {
            .modal__close {
                align-self: center;
                pointer-events: none;

                &::after {
                    top: 0px;
                    left: -16px;
                    right: -16px;
                    bottom: -4px;
                    border-radius: 50px;
                    background-color: color-use(tetriary);
                }

                >* {
                    display: none;
                }
            }
        }

        @include media-breakpoint(md-up) {
            top: 0;
            border-radius: 0;
            touch-action: unset!important;
        }
    }

    &__content--full-height {
        top: 0;
        bottom: auto;
        height: 100vh;
        overflow-y: auto;
        min-height: 100vh;
        touch-action: unset!important;
        background-color: color-use(background);

        @include media-breakpoint(sm-down) {            
            .modal__close {
                align-self: flex-start;
            }
        }
    }

    &__layout {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
        transition: .3s;
        position: absolute;
        transition-delay: .1s;
        background-color: #112233;

        @include media-breakpoint(md-up) {
            transition: .5s;
            transition-delay: 0s;
        }
    }
    
    &__close {
        width: 0;
        height: 0;
        z-index: 2;
        cursor: pointer;
        position: relative;
        transition: .3s color;

        &:hover {
            color: color-use(primary);
        }

        &::after {
            top: -10px;
            left: -10px;
            content: '';
            right: -30px;
            bottom: -30px;
            position: absolute;
        }

        @include media-breakpoint(md-up) {
            align-self: flex-end;
        }
    }
}
