.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 15;
    position: fixed;
    transition: .3s;
    pointer-events: none;
    transition-delay: .5s;

    &[data-open="true"] {
        opacity: 1;
        pointer-events: all;
        transition-delay: 0s;

        @include media-breakpoint(sm-down) {
            .modal__content {
                transform: translateY(0);
            }

            .modal__content--full-height {
                transition-delay: .3s;
                transition-duration: .5s;
                transition-property: transform;
                transform: translateY(0)!important;
            }
        }

        @include media-breakpoint(md-up) {
            .modal__content,
            .modal__content--full-height {
                transition-delay: .3s;
                transition-duration: .5s;
                transition-property: transform;
                transform: translateX(0)!important;
            }
        }
    }

    @include media-breakpoint(lg-up) {
        &[data-open="false"] {
            .modal__content {
                margin-right: -12px; // Иначе дрыгает
            }
        }
    }

    &__layout {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .7;
        cursor: pointer;
        position: absolute;
        background-color: #112233;
    }

    &__content,
    &__content--full-height {
        right: 0;
        bottom: 0;
        display: flex;
        position: fixed;
        max-height: 100vh;
        flex-direction: column;
        background-color: color-use(background);
        transition-timing-function: cubic-bezier(.68,.02,.37,.87);
        width: adaptive-value((
            xs: 100vw,
            md: 620px,
            lg: 452px,
            xl: 528px,
            xxl: 644px,
            xxxl: 684px
        ));
        padding: adaptive-value((
            xs: 16px 16px 28px,
            md: 28px 32px 0,
            lg: 28px 48px 0,
            xl: 28px 72px 0,
        ));
    }

    &__content {
        overflow-y: auto;
        border-radius: 16px 16px 0px 0px;

        @include media-breakpoint(sm-down) {
            transition-duration: .5s;
            transform: translateY(100%);
            transition-property: transform;

            .modal__close {
                align-self: center;
                pointer-events: none;

                &::after {
                    top: 0px;
                    left: -16px;
                    right: -16px;
                    bottom: -4px;
                    border-radius: 50px;
                    background-color: color-use(tetriary);
                }

                >* {
                    display: none;
                }
            }
        }

        @include media-breakpoint(md-up) {
            top: 0;
            border-radius: 0;
            transition-duration: .5s;
            touch-action: unset!important;
            transition-property: transform;
            transform: translateX(100%)!important;
        }
    }

    &__content--full-height {
        height: 100vh;
        overflow-y: auto;
        max-height: 100vh;
        min-height: 100vh;
        transition-duration: .5s;
        touch-action: unset!important;
        transition-property: transform;
        height: -webkit-fill-available;
        min-height: -webkit-fill-available;
        transform: translateX(100%)!important;
        background-color: color-use(background);

        @include media-breakpoint(sm-down) {
            transition-duration: .5s;
            touch-action: unset!important;
            transition-property: transform;
            transform: translateY(100%)!important;
            
            .modal__close {
                align-self: flex-start;
            }
        }
    }

    &__close {
        width: 0;
        height: 0;
        cursor: pointer;
        position: relative;
        transition: .3s color;

        &:hover {
            color: color-use(primary);
        }

        &::after {
            top: -10px;
            left: -10px;
            content: "";
            right: -30px;
            bottom: -30px;
            position: absolute;
        }

        @include media-breakpoint(md-up) {
            align-self: flex-end;
        }
    }
}
