html.has-scroll-dragging {
    user-select: none;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100%;
}

.c-scrollbar {
    display: none !important;
}

.has-scroll-smooth [data-scroll-section] {
    padding: var(--spacing) 0;

    &:first-child {
        padding: 0;
    }

    @include media-breakpoint(md-up) {
        min-height: 100vh;
    }

    @include media-breakpoint(md-down) {
        min-height: 0!important;
    }
}