.arrow {
    overflow: visible;
    margin-left: 20px;
    vertical-align: text-top;
    color: var(--t-dark-violet);

    svg {
        overflow: visible;
        
        > * { transition: .3s; }
    }
}

.c-hover:hover .arrow {
    color: var(--t-primary);

    svg {        
        line:nth-child(1) {
            transform: scaleX(0.8);
        }

        line:nth-child(2) {
            transform: scaleX(1.4) translateX(-13px);
        }

        path {
            transform: translateX(7px);
        }
    }
}