@import "/styles/mixins/helpers/media";
@import "/styles/mixins/helpers/adaptive-value";

.images {
    z-index: 1;
    flex-grow: 0;
    display: block;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    height: adaptive-value(
        (
            xs: calc(100vw / 375 * 180),
            md: calc(100vw / 720 * 230),
            lg: calc(100vw / 880 * 197),
            xl: calc(100vw / 1024 * 217),
            xxl: calc(100vw / 1256 * 281),
            xxxl: 300px
        )
    );

    &:hover .nav {
        opacity: 1;
    }

    @media screen and (max-width: 374px) {
        height: calc(100vw - 32px);
    }

    @include media-breakpoint(lg-up) {
        > div {
            transform: none !important;
        }
    }
}

.dragContainer {
    height: 100%;
    display: flex;
}

.image {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    transition: 0.1s;
    position: absolute;
    height: 100%;

    &[data-active="true"] {
        opacity: 1;
    }

    img {
        object-fit: cover;
    }

    @include media-breakpoint(md-down) {
        opacity: 1;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
    }

    @media screen and (max-width: 374px) {
        height: calc(100vw - 32px);
    }
}

.nav {
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    height: 2px;
    bottom: 24px;
    display: flex;
    transition: 0.3s;
    position: absolute;
    justify-content: center;

    > div {
        width: 4px;
        height: 4px;
        transition: 0.3s;
        margin-right: 4px;
        border-radius: 3px;
        background-color: var(--t-small);

        &[data-active="true"] {
            width: 14px;
            background-color: var(--t-primary);
        }
    }

    @include media-breakpoint(md-down) {
        opacity: 1;
    }
}

.delivery {
    top: 0;
    left: 0;
    z-index: 3;
    width: 28px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--t-background);
    border-radius: 12px 0 12px 0;
    background-color: var(--t-text);

    .deliveriIcon {
        width: 16px;
        height: 16px;
        display: flex;
    }

    @include media-breakpoint(lg) {
        width: 24px;
        height: 34px;

        .deliveriIcon {
            width: 13px;
            height: 13px;
        }
    }

    @include media-breakpoint(xl) {
        width: 26px;
        height: 37px;

        .deliveriIcon {
            width: 15px;
            height: 15px;
        }
    }
}
