@import '../mixins/helpers/color';


/*
 * Color Palette
 *
 * To apply color from design system use
 *     color: color-use(cold-1);
 *     color: color-use(warm-2);
 *     color: color-use(green);
 */

$color-design-system: (
    _white:            #FFFFFF,
    _black:            #112233,
    _gray:             #797979,
    _light-gray:       #989898,
    _lightest:         #F9F9F9,
    _dark-lines:       #112233,
    _disabled:         #989898,
    _yellow:           #E7B820,
    _red:              #E21B25,
    _purple:           #11244D,
    _print:            #000000,
    _error:            #E21B25,
    _fixed:            #E5E5E5,
    _light:            #F5F6FA,
);


/*
 * Color themes
 *
 * To apply theme specific color use:
 *     background: color-use(background);
 *     color: color-use(text);
 *     color: color-use(heading);
 *
 * To apply color with opacity use opacity as second argument:
 *     background: color-use(background, 0.2);
 *     color: color-use(text), 0.2;
 *     color: color-use(heading, 0.2);
 */

$color-themes: (
    // 'Light' theme
    light: (
        background:    color-use(_white),
        line:          color-use(_black, 0.15),
        small:         color-use(_gray),
        smallish:      color-use(_fixed),
        text:          color-use(_black),
        heading:       color-use(_black),
        primary:       color-use(_red),
        dark:          color-use(_black),
        lighter:       color-use(_light-gray),
        purple:        color-use(_purple),
        link-normal:   color-use(_black),
        link-small:    color-use(_gray),
        link-hover:    color-use(_red),
        link-heading:  color-use(_red),
        secondary:     color-use(_black),
        secondary-h:   color-use(_purple),
        tetriary:      color-use(_fixed),
        text-invert:   color-use(_white),
        active-link:   color-use(_red),
        light:         color-use(_light),
        disabled:      color-use(_disabled),
        yellow:        color-use(_disabled),
        lightest:      color-use(_lightest),
        notify:        color-use(_yellow),
    ),

    // 'Dark' theme
    dark: (
        background:    color-use(_black),
        line:          color-use(_black, 0.15),
        small:         color-use(_white),
        smallish:      color-use(_fixed),
        text:          color-use(_white),
        heading:       color-use(_white),
        primary:       color-use(_red),
        lighter:       color-use(_light-gray),
        purple:        color-use(_purple),
        link-normal:   color-use(_black),
        link-small:    color-use(_gray),
        link-hover:    color-use(_red),
        link-heading:  color-use(_red),
        secondary:     color-use(_white, 0.15),
        secondary-h:   color-use(_gray),
        text-invert:   color-use(_black),
        active-link:   color-use(_white),
        tetriary:      color-use(_white, 0.15),
        light:         color-use(_light),
    )
);
