@import "../mixins/lib/map-get-deep";
@import "../mixins/lib/str-split";
@import "../mixins/helpers/media";


/**
 * Layout order constants
 */

$z-index-content: unset;
$z-index-popover: 2;
$z-index-under-header: 4;
$z-index-header: 5;
$z-index-modal: 6;
$z-index-ajax-loader: 7;


/**
 * Percentage based grid system
 *
 * Grid system settings
 * All resolution styles cascade up from mobile to desktop
 *
 * @demo
 *   <div class="row">
 *      <div class="col col--xs-12 col--sm-6 col--md-9 col--lg-12 col--xl-12">Column</div>
 *      <div class="col col--xs-12 col--sm-6 col--md-9 col--lg-12 col--xl-12">Column</div>
 *   </div>
 *
 * @demo
 *   <div class="row row--pad">
 *      <div class="col col--xs-12 col--sm-6 col--md-9 col--lg-12 col--xl-12">Column with padding</div>
 *      <div class="col col--xs-12 col--sm-6 col--md-9 col--lg-12 col--xl-12">Column with padding</div>
 *   </div>
 *
 * @demo
 *   <div class="row">
 *      <div class="col col--xs-12 col--sm-6 offset--sm-6 col--md-9 offset--sm-9 col--lg-24 offset--lg-0">
 *        Column with left offset
 *      </div>
 *   </div>
 */

$grid-columns: (
    // Mobile portrait
    xs: (
        // Count
        columns: 6,
        // Full size, all column sum, must use number + unit
        unit: 100%,
        // Spacing between columns
        gutter: 20px,
    ),

    // Mobile landscape
    sm: (
        columns: 6,
        unit: 100%,
        gutter: 20px,
    ),

    // Tablet portrait
    md: (
        columns: 12,
        unit: 100%,
        gutter: 20px,
    ),

    // Tablet landscape + small desktop
    lg: (
        columns: 12,
        unit: 100%,
        gutter: 30px,
    ),

    // Large desktop, 1200+
    xl: (
        columns: 12,
        unit: 100%,
        gutter: 30px,
    ),

    // Very large desktop, 1440+
    xxl: (
        columns: 12,
        unit: 100%,
        gutter: 30px,
    ),

    // Extremely large desktop, 1920+
    xxxl: (
        columns: 12,
        unit: 100%,
        gutter: 40px,
    ),
);


$size-x1-xs: 1 / map-get-deep($grid-columns, 'xs', 'columns') * map-get-deep($grid-columns, 'xs', 'unit');
$size-x1-sm: 1 / map-get-deep($grid-columns, 'sm', 'columns') * map-get-deep($grid-columns, 'sm', 'unit');
$size-x1-md: 1 / map-get-deep($grid-columns, 'md', 'columns') * map-get-deep($grid-columns, 'md', 'unit');
$size-x1-xl: 1 / map-get-deep($grid-columns, 'xl', 'columns') * map-get-deep($grid-columns, 'xl', 'unit');
$size-x1-xxl: 1 / map-get-deep($grid-columns, 'xxl', 'columns') * map-get-deep($grid-columns, 'xxl', 'unit');

$size-x1: (
    xs: $size-x1-xs,
    sm: $size-x1-sm,
    md: $size-x1-md,
    lg: $size-x1-md,
    xl: $size-x1-xl,
    xxl: $size-x1-xxl,
    xxxl: $size-x1-xxl,
);