/*
 * Text
 *
 * Settings for text, fonts, sizes
 */

$text-default-font:      "TTCommonsPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-default-weight:    $light;
$text-default-transform: none;
$text-heading-font:      "TTCommonsPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-heading-weight:    $light;
$text-heading-transform: none;

$text-wysiwyg-transform: none;
$text-code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$text-styles: (
    default:    ( font-family: $text-default-font, font-weight: $text-default-weight, text-transform: $text-default-transform ),
    heading:    ( font-family: $text-heading-font, font-weight: $text-heading-weight, text-transform: $text-heading-transform ),
    wysiwyg:    ( font-family: $text-default-font, font-weight: $text-default-weight, text-transform: $text-wysiwyg-transform ),
    code:       ( font-family: $text-code-font ),
);


/**
 * Text sizes from Figma, we create separate SCSS variables for each style
 * which we then can use in $text-sizes
 */
/*
 * Text
 *
 * Settings for text, fonts, sizes
 */

$text-default-weight: $light;
$text-heading-weight: $light;
$text-default-font:   "TT Common", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-heading-font:   "TT Common", "Helvetica Neue", Helvetica, Arial, sans-serif;

// TT Common
$text-g2:      ( font-size: 14rem,   line-height: 80 / 56 * 1em, letter-spacing: 0.03em );
$text-g4:      ( font-size: 8.0rem,  line-height: 51 / 64 * 1em, letter-spacing: 0.03em );

$text-h1:      ( font-size: 5.6rem,  line-height: 60 / 57 * 1em, letter-spacing: 0.03em );
$text-h2:      ( font-size: 5.0rem,  line-height: 60 / 58 * 1em, letter-spacing: 0.03em );
$text-h3:      ( font-size: 4.4rem,  line-height: 45 / 43 * 1em, letter-spacing: 0.03em );
$text-h4:      ( font-size: 3.6rem,  line-height: 35 / 29 * 1em, letter-spacing: 0.03em );
$text-h5:      ( font-size: 3.2rem,  line-height: 30 / 26 * 1em, letter-spacing: 0.03em );
$text-h6:      ( font-size: 2.6rem,  line-height: 22 / 18 * 1em, letter-spacing: 0.03em );

// TT Common
$text-p1:      ( font-size: 1.8rem,  line-height: 30 / 18 * 1em, letter-spacing: 0.03em );
$text-p2:      ( font-size: 1.6rem,  line-height: 25 / 15 * 1em, letter-spacing: 0.03em );
$text-p3:      ( font-size: 1.4rem,  line-height: 20 / 12 * 1em, letter-spacing: 0.03em );
$text-p4:      ( font-size: 1.2rem,  line-height: 18 / 12 * 1em, letter-spacing: 0.03em );
$text-p5:      ( font-size: 1.0rem,  line-height: 12 / 12 * 1em, letter-spacing: 0.03em );

// TT Common
$text-t1:      ( font-size: 2.4rem,  line-height: 25 / 24 * 1em, letter-spacing: 0.03em );
$text-t2:      ( font-size: 2.0rem,  line-height: 25 / 20 * 1em, letter-spacing: 0.03em );
$text-t3:      ( font-size: 1.5rem,  line-height: 20 / 15 * 1em, letter-spacing: 0.03em );
$text-t4:      ( font-size: 1.5rem,  line-height: 20 / 15 * 1em, letter-spacing: 0.03em );
$text-t5:      ( font-size: 1.5rem,  line-height: 20 / 15 * 1em, letter-spacing: 0.03em );

// TT Common
$text-c1:      ( font-size: 3.2rem,  line-height: 20 / 15 * 1em, letter-spacing: 0.03em );
$text-c2:      ( font-size: 3.0rem,  line-height: 20 / 15 * 1em, letter-spacing: 0.03em );
$text-c3:      ( font-size: 2.8rem,  line-height: 16 / 12 * 1em, letter-spacing: 0.03em );
$text-c4:      ( font-size: 2.6rem,  line-height: 14 / 10 * 1em, letter-spacing: 0.03em );
$text-c5:      ( font-size: 2.4rem,  line-height: 14 / 10 * 1em, letter-spacing: 0.03em );

$text-sizes: (
    xs: (
        'default':      $text-p3,
        'default-md':   $text-p3,
        'default-xs':   $text-c3,
        'small':        $text-c4,
        'lead':         $text-p2,

        'g2':           $text-h2,
        'g4':           $text-h4,
        // Headings
        'h1':           $text-h3,
        'h2':           $text-h4,
        'h3':           $text-h5,
        'h4':           $text-h6,
        'h5':           $text-p1,
        'h6':           $text-p2,
        // Caption
        'c1':           $text-c1,
        'c2':           $text-c2,
        'c3':           $text-c3,
        'c4':           $text-c4,
        'c5':           $text-c5,

        // Text
        't1':           $text-t2,
        't2':           $text-t3,
        't3':           $text-t4,
        't4':           $text-t5,
        't5':           $text-t5,
        'p1':           $text-p3,
        'p2':           $text-p3,
        'p3':           $text-p3,
        'p4':           $text-p3,
        'p5':           $text-p3,
    ),

    md: (
        'default':      $text-p2,
        'default-xs':   $text-p2,
        'default-md':   $text-p3,
        'small':        $text-p3,
        'lead':         $text-p1,

        'g2':           $text-g2,
        'g4':           $text-g4,
        // Headings
        'h1':           $text-h1,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h5,
        // Text
        't2':           $text-t2,
        'p1':           $text-p1,
    ),

    xxl: (
        'default':      $text-p1,
        'default-xs':   $text-p1,
        'default-md':   $text-p2,
        'small':        $text-p2,
        // Headings
        'h1':           $text-h1,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h5,

        // Caption
        'c1':           $text-c2,
        'c2':           $text-c3,
        'c3':           $text-c4,
        'c4':           $text-c5,
        'c5':           $text-c5,
    ),

    xxxl: (
        'default':      $text-p1,
        'default-xs':   $text-p1,
        'default-md':   $text-p2,
        'small':        $text-p2,
        // Headings
        'h1':           $text-h1,
        'h2':           $text-h2,
        'h3':           $text-h3,
        'h4':           $text-h4,
        'h5':           $text-h5,

        // Caption
        'c1':           $text-c2,
        'c2':           $text-c3,
        'c3':           $text-c4,
        'c4':           $text-c5,
        'c5':           $text-c5,
    ),
);
