/*
 * Body styles
 */

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: color-use(background);
    
    // @include media-breakpoint(md-up) {
    // }
}

/*
 * Fix box sizing nightmare
 */

* {
    &,
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

@include color-base();