/*
 * Body styles
 */

html, body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

/*
 * Fix box sizing nightmare
 */

* {
    &,
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

@include color-base();