.is-visually-hidden,
.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;

    // Prevent scrollbars if it's last item on the page
    margin-top: -1px;
}

.is-invisible {
    opacity: 0;
    pointer-events: none;
}

.js .is-invisible--js {
    opacity: 0;
    pointer-events: none;
}
.js .is-invisible--md-up-js {
    @include media-breakpoint(md-up) {
        opacity: 0;
        pointer-events: none;
    }
}

.is-decorative {
    pointer-events: none;
}

.is-not-decorative {
    pointer-events: all;
}

.js .is-decorative--js {
    pointer-events: none;
}

.overlay {
    @extend %layout-position-overlay;

    // Make invisible without preventing interaction
    background: #fff;
    opacity: 0;
}

.disable-smooth-scrolling {
    scroll-behavior: initial;
}

.overflow-fix {
    @extend %overflow-fix;
}

.c-hover {
    cursor: url('#{$path-cursors}/hover.svg') 0 0, pointer;
    transition: 1s cursor;
}

.c-auto {
    cursor: url('#{$path-cursors}/auto.svg') 0 0, auto;
    transition: 1s cursor;
}

.c-dragh {
    cursor: url('#{$path-cursors}/drag-h.svg') 18 0, auto;
    transition: 1s cursor;
}

.c-dragv {
    cursor: url('#{$path-cursors}/drag-v.svg') 0 18, auto;
    transition: 1s cursor;
}