.is-visually-hidden,
.sr-only {
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-top: -1px;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
    position: absolute !important;
}

*[data-is-hidden='true'] {
    display: none!important;
}

.is-invisible {
    opacity: 0;
    pointer-events: none;
}

.is-decorative {
    pointer-events: none;
}

.is-not-decorative {
    pointer-events: all;
}

.disable-smooth-scrolling {
    scroll-behavior: initial;
}

.overflow-fix {
    @extend %overflow-fix;
}

.c-pointer {
    cursor: pointer;

    @include media-breakpoint(lg-up) {
        transition: .3s;

        &:hover {
            color: color-use(primary);
        }
    }
}

.d-none { display: none; }
.d-flex { display: flex; }
.d-block { display: block; }
.d-inline {display: inline; }

.flex {
    &--wrap { flex-wrap: wrap; }
    &--column { flex-direction: column; }
    &--align-center { align-items: center; }
    &--between { justify-content: space-between; }
    &--justify-end { justify-content: flex-end; }
    &--justify-center { justify-content: center; }
    &--column-reverse { flex-direction: column-reverse; }
    &--center { align-items: center; justify-content: center; }
    &--end { align-items: flex-end; justify-content: flex-end; }
    &--wrap-sm-down {
        @include media-breakpoint(sm-down) {
            flex-wrap: wrap;
        }
    }
    &--end-md-up {
        @include media-breakpoint(md-up) {
            align-items: flex-end;
        }
    }
}