@import "../../mixins/helpers/media";

.title {
    display: flex;
    margin: 0 auto;
    transition: .3s;
    position: relative;
    flex-direction: column;
    align-items: flex-start;

    svg {
        transition: .3s;
    }

    &:hover {
        color: var(--t-primary);
    }
}

.arrow {
    margin-top: 15px;
}

.text {
    top: 10px;
    opacity: 0;
    transition: .3s;
    user-select: none;
    position: absolute;

    &[data-active="true"] {
        opacity: 1;
    }
}

@include media-breakpoint(sm-down) {
    .arrow {
        color: var(--t-primary);
    }
}


@include media-breakpoint(md-up) {
    .title {
        margin: 0;
        align-items: center;
        flex-direction: row;
    }
    
    .arrow {
        margin-top: 0;
        margin-left: 40px;
    }
}