@import '../../../../../../styles/mixins/helpers/media';

.buttonContainer {
    opacity: 0;
    display: block;
    transition: .3s;
    min-width: 102px;
    min-height: 44px;
    position: relative;

    &[data-active='true'] {
        opacity: 1;
    }

    [data-hover='true'] & {
        opacity: 1;
    }

    [data-hover='true'] &[data-active='true'] {
        .button {
            opacity: 0;
            transition: .2s opacity 0.2s;
        }

        .counter {
            opacity: 1;
            width: 160px;
            pointer-events: all;
            background-color: var(--t-light);
            transition: 0s opacity, 0.2s width ease-out, 0.2s background-color .2s;

            >* {
                opacity: 1;
                transition: 0.2s opacity .2s;
            }
        }
    }

    * {
        user-select: none;
    }

    .notify {
        width: 68px;
        height: 44px;
        
        >span:first-child {
            display: none;
        }

        >span:last-child {
            text-align: left;

            >* {
                left: 0;
            }
        }
    }
    
    @include media-breakpoint(lg-down) {
        opacity: 1;

        // &[data-active='true'] {
        //     .button {
        //         transform: scaleX(0);
        //     }
    
        //     .counter {
        //         opacity: 1;
        //         transform: scaleX(1);
        //     }
        // }
    }
}

.button {
    top: 0;
    right: 0;
    z-index: 1;
    width: 68px;
    height: 44px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    // transform-origin: left;
    justify-content: center;
    color: var(--t-background);
    background-color: var(--t-primary);
    transition: 0.3s transform, 0.1s opacity;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &[data-active='false'] .buttonCount {
        display: none;
    }

    &[data-active='true'] {
        color: var(--t-primary);
        background-color: var(--t-light);
    }

    >span {
        transform: translateX(-1px);
    }
}

.buttonCount {
    margin-left: 9px;
    color: var(--t-text);
    display: inline-block;
}

.counter {
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 3;
    width: 68px;
    height: 44px;
    position: absolute;
    border-radius: 8px;
    pointer-events: none;
    transform-origin: right;
    background-color: var(--t-primary);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 0.2s width ease-in, 0.1s opacity 0.3s, 0.2s background-color;

    [data-active='true'] & {
        background-color: var(--t-light);
    }
    
    >* {
        opacity: 0;
        z-index: 2;
        height: 100%;
        // position: relative;
        transition: 0.2s opacity;

        &::before {
            top: -10px;
            z-index: 1;
            left: -30px;
            width: 30px;
            content: '';
            bottom: -10px;
            position: absolute;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            
        }
    }
}

.profiBtn {
    width: 68px;
}
