@import '../../../../../../styles/mixins/helpers/media';

.buttonNotifyContainer {
    display: block;
    min-width: 102px;
    min-height: 44px;
    position: relative;

    @include media-breakpoint(md-up) {
        [data-hover='false'] & .notify {
            color: #EFBE1F;
            background-color: #F5F6FA;
        }
    }
    
    
    .notify {
        width: 68px;
        height: 44px;
        transition: .2s;
        color: var(--t-background);
        background-color: #EFBE1F;
        
        >span:first-child {
            display: none;
        }

        >span:last-child {
            text-align: left;

            >* {
                left: 0;
            }
        }
    }

    @media screen and (max-width: 320px) {
        &, .notify {
            width: 100%;
            min-width: 100%;
        }
    }
}

.buttonProfiContainer {
    display: block;
    // transition: .3s;
    min-width: 102px;
    min-height: 44px;
    position: relative;

    .profiBtn {
        width: 68px;
        transition: .3s;
        color: var(--t-background);
        background-color: #11244D;
    }

    @include media-breakpoint(md-up) {
        [data-hover='false'] & .profiBtn {
            color: #11244D;
            background-color: #F5F6FA;
        }
    }

    @media screen and (max-width: 320px) {
        &, .profiBtn {
            width: 100%;
            min-width: 100%;
        }
    }
}

.buttonContainer {
    display: block;
    min-width: 102px;
    min-height: 44px;
    position: relative;

    * {
        user-select: none;
    }

    @media screen and (max-width: 320px) {
        min-width: 100%;
    }
}

.button {
    top: 0;
    right: 0;
    z-index: 1;
    width: 68px;
    height: 44px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: var(--t-background);
    background-color: var(--t-primary);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &[data-active='false'] .buttonCount {
        display: none;
    }

    >span {
        transform: translateX(-1px);
    }

    @include media-breakpoint(lg-up) {
        opacity: 0;
    }

    @media screen and (max-width: 320px) {
        width: 100%;
        min-width: 100%;
    }
}

.buttonCount {
    margin-left: 9px;
    color: var(--t-text);
    display: inline-block;
}

.counter {
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 3;
    height: 44px;
    position: absolute;
    border-radius: 8px;
    pointer-events: none;
    transform-origin: right;
    background-color: var(--t-primary);
    outline: 10px solid var(--t-background);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    [data-active='true'] & {
        background-color: var(--t-light);
    }
    
    .counterModule {
        opacity: 0;
        z-index: 2;
        height: 100%;
        position: relative;

        &::before {
            top: -11px;
            z-index: -8;
            left: -35px;
            width: 35px;
            content: "";
            bottom: -11px;
            position: absolute;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
        }
    }

    @media screen and (max-width: 320px) {
        width: 100%;
        min-width: 100%;
    }
}


