@import '../../../../styles/mixins/helpers/media';
@import '../../../../styles/mixins/helpers/adaptive-value';

.container {
    order: 1;
    margin-bottom: 30px;

    &:first-child {
        margin-top: 30px;
    }

    @include media-breakpoint(md-down) {
        // order: 0;
    }

    @include media-breakpoint(lg-up) {
        position: relative;
    }
}

.containerFastFilters,
.containerPrice {
    @include media-breakpoint(md-down) {
        order: 0;

        .icon {
            display: none;
        }
    }
}

.wrapper {

    &[data-disabled='true'] {
        opacity: .5;
        pointer-events: none;
    }

    &[data-open='false'] {
        .search {
            opacity: 0;
            transition: .1s .2s;
        }
    }

    @include media-breakpoint(md-down) {
        height: auto!important;
    }

    @include media-breakpoint(lg-up) {
        overflow: hidden;
        
        &[data-open='true'] {
            .icon {
                transform: rotate(180deg);
            }
        }
        // &[data-open='false'] {
        //     height: 40px;
        // }
    }
}

.filterReset {
    top: -2px;
    left: -24px;
    width: 18px;
    height: 18px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    color: var(--t-primary);
    justify-content: center;
    background-color: var(--t-background);
    // animation: rippleResetIcon 1s linear 0.3s 1;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.15);

    &:hover {
        color: color-use(text);
    }

    &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: -1;
        opacity: 0.0;
        position: absolute;
        border-radius: 50%;
        background: var(--t-primary);
        animation: rippleResetIcon 1s cubic-bezier(.65,0,.34,1) 0s 1;
    }

    &[data-active='false'] {
        opacity: 0;
        pointer-events: none;

        &::after {
            animation: none;
        }
    }

    @include media-breakpoint(md-down) {
        display: none;
    }
}

@keyframes rippleResetIcon {
    from { opacity: 1; transform: scale3d(0.95,0.95,1); }
    to   { opacity: 0; transform: scale3d(3,3,1); }
}

.title {
    display: flex;
    cursor: pointer;
    padding-top: 2px;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint(md-down) {
        font-weight: 400;
        text-transform: none;
    }

    @include media-breakpoint(lg-up) {

        &:hover {
            color: var(--t-primary);
        }
    }
}

.titleCount {
    opacity: 1;
    height: 18px;
    padding: 0 6px;
    min-width: 18px;
    font-size: 10px;
    transition: .3s;
    font-weight: 700;
    border-radius: 32px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: var(--t-background);
    transform: translate(8px, -1px);
    background-color: var(--t-primary);

    &[data-selected='false'] {
        opacity: 0;
    }
}

.titleCountPrice {
    opacity: 1;
    width: 8px;
    height: 8px;
    transition: .3s;
    border-radius: 50%;
    display: inline-flex;
    color: var(--t-background);
    transform: translate(8px, -1px);
    background-color: var(--t-primary);

    &[data-selected='false'] {
        opacity: 0;
    }
}

.icon {
    transition: .4s;

    @include media-breakpoint(md-down) {
        transform: rotate(-90deg);
    }
}

.priceList {
    padding: 0 10px;
    margin-bottom: 10px;

    @include media-breakpoint(lg-up) {
        margin-top: 30px;
    }
}

.itemList {
    margin-right: 7px;

    &::-webkit-scrollbar {
        width: 2px;
        margin-right: 0;
    }
    
    &::-webkit-scrollbar-track {
        background: var(--t-lightest);
    }
    
    &::-webkit-scrollbar-thumb {
        border: none;
        border-radius: 5px;
        background-color: var(--t-dark);
    }

    @include media-breakpoint(md-down) {
        top: 0;
        left: 0;
        z-index: 3;
        width: 468px;
        overflow-y: auto;
        position: absolute;
        overflow-x: hidden;
        padding: 25px 16px 16px;
        height: calc(100dvh - 92px);
        transition: .4s ease-in-out;
        transform: translateX(100vw);
        background-color: var(--t-background);

        &[data-active='true'] {
            transform: translateX(0);
        }
    }

    @include media-breakpoint(sm-down) {
        width: 100vw;
    }

    @include media-breakpoint(lg-up) {
        margin-top: 10px;
        overflow-y: auto;
        max-height: 308px;
    }
}

.listTitle {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    justify-content: space-between;

    @include media-breakpoint(lg-up) {
        display: none;
    }
}

.fastFilterList {
    display: flex;
    
    &::-webkit-scrollbar {
        width: 2px;
        height: 0px;
        margin-right: 0;
    }
    
    &::-webkit-scrollbar-track {
        background: var(--t-lightest);
    }
    
    &::-webkit-scrollbar-thumb {
        border: none;
        border-radius: 5px;
        background-color: var(--t-dark);
    }

    @include media-breakpoint(md-down) {
        overflow-x: auto;
        padding: 0 32px 0 40px;
        margin: 16px -32px 0 -40px;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            opacity: 0;
            display: none;
            visibility: hidden;
            background-color:transparent;
        }

        &::-webkit-scrollbar-thumb {
            border: none;
            display: none;
            border-radius: 0;
            visibility: hidden;
            background-color:transparent;
        }
    }

    @include media-breakpoint(lg-up) {
        flex-wrap: wrap;
        margin-top: 18px;
        overflow-y: auto;
        max-height: 308px;
        margin-right: 7px;
    }
}

.fastFilterItem {
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
    white-space: nowrap;
    margin: 2px 8px 0 0;
    padding: 9px 12px 7px;
    background-color: var(--t-light);

    &[data-active='true'] {
        color: var(--t-background);
        background-color: var(--t-dark);
    }

    &:last-child {
        margin-right: 0;
    }

    @include media-breakpoint(lg-up) {
        margin: 2px 8px 8px 0px;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.includeCheckboxWrapper {
    overflow: hidden;

    &[data-open='true'] {
        .includeCheckboxIcon {
            transform: rotate(180deg);
        }
    }
}

.includeCheckboxList {
    padding-left: 36px;

    >*:last-child {
        margin-bottom: 16px;
    }
}

.includeCheckboxTitle {
    height: 44px;
    display: flex;
    cursor: pointer;
    align-items: center;

    >* {
        transition: .3s;
        margin-right: 18px;
    }

    @include media-breakpoint(md-down) {
        font-weight: 400;
    }

    @include media-breakpoint(lg-up) {
        &:hover {
            color: var(--t-primary);
        }
    }
}

.includeCheckboxIcon {
    margin-left: 2px;
}

.checkbox {
    height: 44px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    align-items: center;

    &[data-disabled='true'] {
        opacity: .5;
        pointer-events: none;
    }

    &[data-selected='true'] {
        .iconBorder {
            border-width: 12px;
            border-color: var(--t-primary);
            transition: .3s border-width, .1s border-color .0s;
        }

        .iconAccept{
            path {
                stroke-dasharray: 100px, 100px;
            }
        }
    }

    .boxIcon {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        overflow: hidden;
        position: relative;
        margin-right: 16px;
        border-radius: 2px;
    }

    .iconBorder {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        border-radius: 2px;
        border: 2px solid var(--t-text);
        transition: .3s border-width, .1s border-color .2s;
    }

    .iconAccept {
        top: -2px;
        left: -2px;
        position: absolute;
        color: var(--t-background);
        
        path {
            transition: .3s .2s;
            stroke-dashoffset: 0px;
            stroke-dasharray: 0px, 100px;
        }
    }

    @include media-breakpoint(md-down) {
        font-weight: 400;
    }

    @include media-breakpoint(lg-up) {

        &:hover {
            .iconBorder {
                border-color: var(--t-primary);
                transition: .3s border-width, .1s border-color;
            }
        }
    }
}

.checker {
    order: 1;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 16px;

    &[data-disabled='true'] {
        pointer-events: none;
        
        .checkerIcon {
            opacity: 0.5;
        }
    }

    &[data-active='true'] {
        .checkerIcon {
            background-color: var(--t-primary);
        }
        .checkerIconCircle {
            transform: translateX(16px);
        }
    }

    .checkerIcon {
        width: 41px;
        height: 24px;
        padding: 4px;
        transition: .4s;
        border-radius: 20px;
        background-color: var(--t-lighter);
        transition-property: background-color;
        // transition-timing-function: cubic-bezier(0,1.5,1,-0.5);
    }

    .checkerIconCircle {
        width: 16px;
        height: 16px;
        transition: .3s;
        border-radius: 50%;
        background-color: var(--t-background);
        transition-timing-function: cubic-bezier(.75,.1,.25,.9);
    }

    .checkerText {
        margin-left: 12px;
        align-items: center;
        display: inline-flex;
    }

    @include media-breakpoint(lg-up) {
        &:hover .checkerIcon {
            filter: brightness(0.94);
        }
    }

    .checkerTextIcon {
        margin-left: 4px;
    }
}

.resetButton {
    top: 28px;
    right: 16px;
    position: absolute;
}

.search {
    padding-top: 20px;
    margin-right: 0px;

    @include media-breakpoint(md-down) {
        display: none;
    }
}

.searchMobile {
    @include media-breakpoint(lg-up) {
        display: none;
    }
}