@import '../../mixins/helpers/media';

.popover {
    opacity: 0;
    z-index: 12;
    display: flex;
    position: fixed;
    flex-direction: column;

    &[data-open='true'] {
        opacity: 1;
        pointer-events: all;
        transition: .3s opacity;
    }

    &[data-open='false'] {
        transition: .2s opacity;
    }

    @include media-breakpoint(xs) {
        width: calc(100% - 30px);
    }

    @include media-breakpoint(sm-up) {
        align-items: flex-end;
    }
}

.popoverInner {
    height: 0;
    opacity: 0;
    display: flex;
    overflow: hidden;
    user-select: none;
    border-radius: 8px;
    touch-action: none;
    align-items: center;
    max-width: calc(100vw - 16px);
    background-color: var(--t-text);
    transition: 0.3s height ease-in-out, 0.3s opacity, 0.2s transform;

    &[data-active='false'] {
        transform: translateY(-60px) scaleY(0);

        .popoverImage {
            opacity: 0;
            transition: .2s;
        }
    }

    &[data-active='true'] {
        opacity: 1;
        height: 82px;
        margin-bottom: 12px;
        transform: translateY(0) scaleY(1);

        .popoverImage {
            opacity: 1;
            transition: .3s .3s;
        }
    }

    @include media-breakpoint(md) {
        max-width: calc(100vw - 92px);
    }
}

.popoverClose {
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: .3s;
    // margin-top: 14px;
    position: relative;
    // margin-right: 16px;
    align-self: flex-start;
    color: var(--t-background);
    transform: translate(-10px, 10px);

    &:hover {
        color: var(--t-primary);
    }

    &::before {
        top: -5px;
        left: -10px;
        content: '';
        right: -10px;
        bottom: -15px;
        position: absolute;
    }
}

.popoverImage {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    margin: 16px 0 16px 16px;

    img {
        object-fit: cover;
    }
}

.popoverText {
    max-width: 95%;
    min-width: 95%;
    margin-left: 16px;
    margin-right: 30px;
    color: var(--t-background);

    * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:first-child {
            line-height: 16px;
        }

        &:last-child {
            line-height: 10px;
        }
    }

    @include media-breakpoint(md-up) {
        max-width: 275px;
        min-width: 200px;
    }
}

.popoverImage+.popoverText {
    margin-left: 12px;

    @include media-breakpoint(md-down) {
        max-width: calc(90% - 70px);
        min-width: calc(90% - 70px);
    }
}

.popoverBasket {
    padding: 16px;
    padding-left: 0;
    cursor: pointer;
    align-self: flex-end;
    color: var(--t-primary);

    @include media-breakpoint(md-down) {
        right: 15px;
        position: absolute;
    }
}