@import "../../mixins/helpers/media";

.popover {
    z-index: 6;
    opacity: 0;
    display: flex;
    padding: 16px;
    transition: 1.1s;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    pointer-events: none;
    background-color: var(--t-text);

    &[data-open="true"] {
        opacity: 1;
        pointer-events: all;
    }

    @include media-breakpoint(xs) {
        width: calc(100% - 30px);
    }
}

.popoverImage {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}

.popoverText {
    margin-left: 12px;
    color: var(--t-background);

    * {
        white-space: nowrap;
    }
}

.popoverBasket {
    cursor: pointer;
    margin-bottom: 4px;
    align-self: flex-end;
    color: var(--t-primary);

    @include media-breakpoint(xs) {
        right: 15px;
        position: absolute;
    }
}