@import '../../mixins/helpers/media';

.tabsHead {
    display: flex;
    margin-bottom: 48px;

    @media (max-width: 374px) {
        flex-direction: column;
    }
}

.tabNav {
    width: 100%;
    cursor: pointer;
    transition: .3s;
    padding: 12px 24px;
    text-align: center;
    margin-right: 8px;
    border-radius: 4px;
    color: var(--t-text);
    text-transform: uppercase;
    background-color: var(--t-light);

    &:last-child {
        margin-right: 0!important;
    }

    &[data-active='true'] {
        color: var(--t-background);
        background-color: var(--t-primary);
    }

    @media (max-width: 374px) {
        margin-right: 0;
        margin-bottom: 8px;
    }

    @include media-breakpoint(md-up) {
        margin-right: 16px;
    }
}

.tabsContainer {
    width: 100%;
    position: relative;
}

.tabsContent {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: .7s opacity;

    &[aria-hidden='false'] {
        opacity: 1;
        position: relative;
        pointer-events: all;
        transition-delay: .4s;
    }
}