.odometer {
    height: 1em;
    overflow: hidden;
    // min-width: 300px;
    position: relative;
    display: inline-block;
}

.refNumber {
    opacity: 0;
    height: 47px;
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
}

.numbers {
    top: 0;
    right: 2px;
    position: absolute;
    white-space: nowrap;
}

.numberContainer {
    // text-align: center;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    transition: 1s transform cubic-bezier(.7, -0.23, .14, 1.15), 0.1s width linear;
}

.number {
    height: 47px;
}

.deffer {
    width: 4px;
    height: 47px;
}