@import '../../../../../styles/mixins/helpers/media';

.cardBuybtn {
    display: flex;
    position: relative;
}

.btnWrapper {
    width: 100%;
    height: 60px;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    border-radius: 4px;

    @include media-breakpoint(lg-down) {
        height: 44px;
    }
}

.buyOpen {
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    user-select: none;
    position: absolute;
    transform-origin: right;
    transform: translateX(100%);
    transition: .5s cubic-bezier(.9,0,.5,1);

    &[data-open='true'] {
        transform: translateX(0);
    }
}

.btnMain {
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    transform-origin: left;
    transform: translateX(0);
    transition: .5s cubic-bezier(.9,0,.5,1);

    &[data-open='true'] {
        transform: translateX(-100%);
    }

    .iconBasket {
        transform: translateY(-2px);
    }
}