@import '/styles/mixins/helpers/media';

.delivery {
    height: 20px;
    display: flex;
    transition: .4s;
    margin-top: 32px;
    margin-bottom: 5px;
    position: relative;
    transform-origin: left;
    align-items: flex-start;
    width: calc(100% - 60px);
    transform: translateX(8px);
    
    &[data-active='true'] {
        .icon,
        .arrow {
            color: #34C369;
        }

        .line,
        .line::after {
            border-color: #34C369;
        }

        .icon:first-child {
            opacity: 0;
            transform: translateY(-20px);
        }

        .text {
            margin-left: 0;
        }
    }

    @include media-breakpoint(xxl-up) {
        width: 290px;
        margin-top: 0;
        margin-bottom: 0;
        transform: translateX(-45px);
    }

    @include media-breakpoint(sm-down) {
        width: calc(100% - 35px);
        transform: translateX(18px);
    }

    @include media-breakpoint(xl-down) {
        &[data-active='true'] {
            transition-delay: .1s;
            width: calc(100% - 20px);
            transform: translateX(0);
        }
    }

    @media screen and (max-width: 360px) {
        margin-top: 20px;
        margin-bottom: 20px;

        &[data-active='true'] .text {
            margin-left: 14px;
        }
    }
}

.text {
    width: 250px;
    margin: 0 20px;
    will-change: margin;
    transition: .3s ease-out margin;
    
    >* {
        white-space: nowrap;
    }

    @media screen and (max-width: 360px) {
        left: -15px;
        bottom: -20px;
        position: absolute;
    }

    // @include media-breakpoint(xxl-up) {
    //     text-align: right;
    // }
}

.icon {
    top: 2px;
    position: absolute;
    transition: .3s ease-out;

    &:nth-child(1) {
        left: -15px;
    }

    &:nth-child(2) {
        right: -15px;
    }
}

.inline {
    bottom: 0;
    display: flex;
    position: absolute;
    width: calc(100% - 40px);

    &::after {
        left: 0;
        bottom: 0;
        content: '';
        right: -20px;
        position: absolute;
        border-bottom: 2px solid #E5E5E5;
    }
}

.line {
    left: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    will-change: width;
    transition: .3s width;
    border-bottom: 2px solid #E21B25;

    &::after {
        right: 0;
        top: -2px;
        width: 6px;
        height: 6px;
        content: '';
        position: absolute;
        border-top: 2px solid;
        border-right: 2px solid;
        border-color: #E21B25;
        transform: rotate(45deg);
    }
}

.arrow {
    left: -5px;
    z-index: 1;
    bottom: -9px;
    transition: .3s;
    color: #E21B25;
    position: absolute;
    will-change: transform;
}